@(dest: String = ".datetimepicker-input")
@* Add to header of a page to install datetimepickers *@

<script type='text/javascript' src='@routes.Assets.at("lib/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js")'></script>
<script type='text/javascript' src='@routes.Assets.at("lib/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.nl.js")'></script>
<link rel="stylesheet" media="screen" href='@routes.Assets.at("lib/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css")'>
<script type='text/javascript' language="javascript">

installDateTimePickers = function() {
    $('@dest').datetimepicker({
        language: 'nl',
        autoclose: 1,
        pickerPosition: 'bottom-left',
        todayHighlight: 1
    });
}

$( installDateTimePickers )
</script>