@(name : String, label: String, css: String="col-lg-12")

@* datetime picker input component for use in a search context *@

@* TODO: make width variable, also introduce a version which takes a field as argument *@

<div class="form-group @css">
    <label class="control-label" for="@name-container">@label</label>
    <div id="@name-container" class="input-group date datetimepicker-input">
        <input class="form-control searchTextField"
               type="text" name="@name" disabled>
        <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                                                @* datetime picker does not work with fa icons *@
    </div>
</div>
