@* changepass.scala.html
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Copyright Ⓒ 2014-2015 Universiteit Gent
 * 
 * This file is part of the Degage Web Application
 * 
 * Corresponding author (see also AUTHORS.txt)
 * 
 * Kris Coolsaet
 * Department of Applied Mathematics, Computer Science and Statistics
 * Ghent University 
 * Krijgslaan 281-S9
 * B-9000 GENT Belgium
 * 
 * The Degage Web Application is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * The Degage Web Application is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public License
 * along with the Degage Web Application (file LICENSE.txt in the
 * distribution).  If not, see <http://www.gnu.org/licenses/>.
 *@

@(form: Form[Settings.ChangePasswordModel])
@app("Wachtwoord wijzigen") {

    <div id="page-header-wrapper">
        <ol class="breadcrumb">
            <li><a href="@routes.Dashboard.index">Dashboard</a></li>
            <li><a href="@routes.Settings.index">Instellingen</a></li>
            <li class="active">Wachtwoord wijzigen</li>
        </ol>
    </div>

    <div id="page-wrapper">
        @flashes()

        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-exchange fa-fw"></i> Wachtwoord wijzigen
            </div>
            <div class="panel-body">
                @helper.form(routes.Settings.changePasswordPost, 'class -> "form-horizontal") {
                    @if(form.hasGlobalErrors) {
                        <div class="alert alert-danger alert-dismissable">
                            <strong>Error!</strong> @form.globalError.message
                        </div>
                    }
                    <fieldset>

                        <div class="form-group">
                            <label class="col-md-1 control-label" for="password"></label>
                            <div class="col-md-12">
                                <input id="password" name="@form("oldpw").name" type="password" placeholder="Oud wachtwoord" class="form-control input-md">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-1 control-label" for="password"></label>
                            <div class="col-md-12">
                                <input id="password" name="@form("newpw").name" type="password" placeholder="Nieuw wachtwoord" class="form-control input-md">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-1 control-label" for="password_repeat"></label>
                            <div class="col-md-12">
                                <input id="password_repeat" name="@form("repeatpw").name" type="password" placeholder="Herhaal wachtwoord" class="form-control input-md">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-1 control-label" for="reset"></label>
                            <div class="col-md-12">
                                <button class="btn btn-block btn-success">
                                    Wijzig wachtwoord</button>
                            </div>
                        </div>
                    </fieldset>
                }
            </div>
        </div>
            <!-- /row -->
    </div>
}
