@* editsysvar.scala.html
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Copyright Ⓒ 2014-2015 Universiteit Gent
 * 
 * This file is part of the Degage Web Application
 * 
 * Corresponding author (see also AUTHORS.txt)
 * 
 * Kris Coolsaet
 * Department of Applied Mathematics, Computer Science and Statistics
 * Ghent University 
 * Krijgslaan 281-S9
 * B-9000 GENT Belgium
 * 
 * The Degage Web Application is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * The Degage Web Application is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public License
 * along with the Degage Web Application (file LICENSE.txt in the
 * distribution).  If not, see http://www.gnu.org/licenses/.
 *@

@(name: String, form: Form[Settings.EditSettingModel])

@scripts = {
    @js.datetimepicker()
}

@app("Systeemvariabele bewerken", Html(""), scripts) {
    <div id="page-header-wrapper">
        <ol class="breadcrumb">
            <li><a href="@routes.Application.index">Dashboard</a></li>
            <li><a href="@routes.Settings.sysvarsOverview">Systeemvariabelen</a></li>
            <li class="active">Systeemvariabele bewerken</li>
        </ol>
    </div>

    <div id="page-wrapper">
        @flashes()
        <h1 class="page-header">Systeemvariabele bewerken</h1>
        <div class="row">
            @helper.form(routes.Settings.editSysvarPost(name), 'class -> "form-horizontal") {
            <div class="col-lg-12">
                @if(form.hasGlobalErrors) {
                    <div class="alert alert-danger alert-dismissable">
                        <strong>Error!</strong> @form.globalError.message
                    </div>
                }
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Systeemvariabele: <b>@name</b>
                    </div>
                    <div class="panel-body">
                        <fieldset>
                            @std.textField(form("value"),"Waarde","col-md-6")
                            @std.datepicker(form("after"), "Actief vanaf:", "col-md-6")
                            @std.submitButton("Opslaan")
                        </fieldset>
                    </div>
                </div>
            </div>
            }
        </div>
            <!-- /row -->
    </div>
}
