@(name: String, form: Form[Settings.EditSettingModel])

    @scripts = {
        <script type='text/javascript' src='@routes.Assets.at("lib/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js")'></script>
        <script>
            $('#datepicker').datetimepicker({
                pickerPosition: 'bottom-left',
                weekStart: 1,
                language: 'nl',
                todayBtn:  false,
                autoclose: 1,
                todayHighlight: false,
                startView: 2,
                minView: 2,
                forceParse: 0,
                startDate: new Date(),
                format: 'dd MM yyyy',
                linkField: 'after'
            });
        </script>
    }

@app("Systeemvariabele bewerken", Html(""), scripts) {
    <div id="page-header-wrapper">
        <ol class="breadcrumb">
            <li><a href="@routes.Dashboard.index">Dashboard</a></li>
            <li><a href="@routes.Settings.sysvarsOverview">Systeemvariabelen</a></li>
            <li class="active">Systeemvariabele bewerken</li>
        </ol>
    </div>

    <div id="page-wrapper">
        @flashes()
        <h1 class="page-header">Systeemvariabele bewerken</h1>
        <div class="row">
            @helper.form(routes.Settings.editSysvarPost(name), 'class -> "form-horizontal") {
            <div class="col-lg-12">
                @if(form.hasGlobalErrors) {
                    <div class="alert alert-danger alert-dismissable">
                        <strong>Error!</strong> @form.globalError.message
                    </div>
                }
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Systeemvariabele: <b>@name</b>
                    </div>
                    <div class="panel-body">
                        <fieldset>
                            @formGroupTextField(form("value"),"Waarde")

                            @*TODO: use snippet for date picker *@
                            <div class="form-group">
                                <label for="datepicker">Actief vanaf:</label>
                                <div id="datepicker" class="input-group date form_date">
                                    <input class="form-control input-md" type="text" value='@form("after").value'
                                           placeholder="Tijdstip">
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                                </div>
                            </div>
                            <button type="submit" name="save" class="btn btn-block btn-success">Opslaan</button>
                            <input type="text" class="hidden" id='after' name='after' value='@form("after").value'/>
                        </fieldset>
                    </div>
                </div>
            </div>
            }
        </div>
            <!-- /row -->
    </div>
}