@* approveorreject.scala.html
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Copyright Ⓒ 2014-2015 Universiteit Gent
 * 
 * This file is part of the Degage Web Application
 * 
 * Corresponding author (see also AUTHORS.txt)
 * 
 * Kris Coolsaet
 * Department of Applied Mathematics, Computer Science and Statistics
 * Ghent University 
 * Krijgslaan 281-S9
 * B-9000 GENT Belgium
 * 
 * The Degage Web Application is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * The Degage Web Application is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public License
 * along with the Degage Web Application (file LICENSE.txt in the
 * distribution).  If not, see http://www.gnu.org/licenses/.
 *@

@(form: Form[CostsApprove.ApprovalData], cost: CarCost, horizontal: Boolean)

@stdlayout("Kost goed- of afkeuren", extrabc=breadcrumb("Autokosten",routes.Costs.showCostsForCar(cost.getCarId))){

    @panel("Details", "fa-money"){
        <div class="col-xs-12">
            @detailsdl(cost)
        </div>
    }

    @helper.form(routes.CostsApprove.doApproveOrReject(cost.getId(), horizontal)) {

        @panel("Goedkeuren", "fa-check-square") {
            @std.numberField(form("spread"), "Spreiding (in maanden)", "col-sm-6 col-xs-12")
            <div class="col-xs-12">
                @btnModalHelp("costsAdmin.html")&nbsp;&nbsp;
                <button type="submit" class="btn btn-xs btn-success" name="status" value="ACCEPTED">Goedkeuren</button>
                <button type="submit" class="btn btn-xs btn-success" name="status" value="EXTERNAL">Goedkeuren (maar zal buiten het systeem worden verrekend)</button>
            </div>
        }
        @panel("Afkeuren", "fa-minus-square") {
            @std.textArea(form("remarks"), "Reden voor afkeuring", 3)
            <div class="col-xs-12">
                <button type="submit" class="btn btn-xs btn-danger" name="status" value="REFUSED">Afkeuren</button>
            </div>
        }
    }
    @divModalHelp()

}
