@* costsTable.scala.html
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Copyright Ⓒ 2014-2015 Universiteit Gent
 * 
 * This file is part of the Degage Web Application
 * 
 * Corresponding author (see also AUTHORS.txt)
 * 
 * Kris Coolsaet
 * Department of Applied Mathematics, Computer Science and Statistics
 * Ghent University 
 * Krijgslaan 281-S9
 * B-9000 GENT Belgium
 * 
 * The Degage Web Application is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * The Degage Web Application is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public License
 * along with the Degage Web Application (file LICENSE.txt in the
 * distribution).  If not, see http://www.gnu.org/licenses/.
 *@

@(carCostList: Iterable[CarCost], withSpread: Boolean)(actions: CarCost => Html)

<table class="table table-striped table-bordered table-hover no-footer" >
    <thead>
        <tr role="row">
            <th class="sortable" name="name">Auto</th>
            <th class="sortable" name="category">Type</th>
            <th width="30%">Toelichting</th>
            <th class="sortable" name="date">Datum</th>
            <th class="sortable" name="amount">Bedrag</th>
            @if(withSpread){
                <th>Afgeschr.</th>
                <th>Spreiding</th>
            }
            <th class="sortable" name="status">Status</th>
            <th>Acties</th>
        </tr>
    </thead>
    <tbody>
        @foreach.trOrElse(carCostList) { carCost =>
            <td>@carCost.getCarName</td>
            <td>@carCost.getCategory.getDescription</td>
            <td>@carCost.getDescription</td>
            <td>@Utils.toLocalizedDateString(carCost.getDate)</td>
            <td class="numeric">@data.EurocentAmount.toString(carCost.getAmount) €</td>
            @if(withSpread){
                @if(carCost.getStatus==ApprovalStatus.ACCEPTED||carCost.getStatus==ApprovalStatus.FROZEN){
                   <td class="numeric">@data.EurocentAmount.toString(carCost.getAlreadyPaid) €</td>
                   <td>@spread(carCost.getSpread)</td>
                }else{
                    <td></td><td></td>
                }
            }
            <td>@coststatusname(carCost.getStatus)</td>
            <td>@actions(carCost)</td>
        } {
            <tr>
                <td class="empty-row" colspan="7">
                    Geen resultaten.
                </td>
            </tr>
        }
    </tbody>
</table>
