@* detailsdl.scala.html
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Copyright Ⓒ 2014-2015 Universiteit Gent
 * 
 * This file is part of the Degage Web Application
 * 
 * Corresponding author (see also AUTHORS.txt)
 * 
 * Kris Coolsaet
 * Department of Applied Mathematics, Computer Science and Statistics
 * Ghent University 
 * Krijgslaan 281-S9
 * B-9000 GENT Belgium
 * 
 * The Degage Web Application is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * The Degage Web Application is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public License
 * along with the Degage Web Application (file LICENSE.txt in the
 * distribution).  If not, see http://www.gnu.org/licenses/.
 *@

@(cost: CarCost)

<dl class="dl-horizontal">
    <dt>Auto</dt>
    <dd>@cost.getCarName</dd>
    <dt>Type</dt>
    <dd>@cost.getCategory.getDescription</dd>
    <dt>Toelichting</dt>
    <dd>@cost.getDescription</dd>
    <dt>Datum</dt>
    <dd>@Utils.toLocalizedDateString(cost.getDate)</dd>
    <dt>Bedrag</dt>
    <dd>@data.EurocentAmount.toString(cost.getAmount) €</dd>
    @if(cost.getStatus==ApprovalStatus.ACCEPTED){
        <dt>Spreiding</dt>
        <dd>@spread(cost.getSpread)</dd>
    }
    <dt>Status</dt>
    <dd>@statusname(cost.getStatus)</dd>
    <dt>Bonnetje/bewijsstuk</dt>
    <dd><a href="@routes.Costs.getCarCostProof(cost.getId)" target="_blank">Klik hier</a></dd>
    @if(cost.getStatus==ApprovalStatus.REFUSED){
        <dt>Opmerkingen</dt>
        <dd>@cost.getComment</dd>
    }
</dl>
