@* details.scala.html
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Copyright Ⓒ 2014-2015 Universiteit Gent
 * 
 * This file is part of the Degage Web Application
 * 
 * Corresponding author (see also AUTHORS.txt)
 * 
 * Kris Coolsaet
 * Department of Applied Mathematics, Computer Science and Statistics
 * Ghent University 
 * Krijgslaan 281-S9
 * B-9000 GENT Belgium
 * 
 * The Degage Web Application is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * The Degage Web Application is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public License
 * along with the Degage Web Application (file LICENSE.txt in the
 * distribution).  If not, see http://www.gnu.org/licenses/.
 *@

@(cost: CarCost, fileIsImage: Boolean, nextId: Int, previousId: Int,
      form: Form[CostsCommon.CostData], categories: Iterable[CarCostCategory])

@stdlayout("Autokost", extrabc=breadcrumb("Kosten (" + cost.getCarName +")",routes.Costs.showCostsForCar(cost.getCarId))) {
    @panel("Acties", "fa-pencil") {
        <div class="col-xs-12">
            <a class="btn btn-xs btn-default" data-toggle="collapse"
                    href="#collapsedForm">Kost toevoegen (@cost.getCarName) ...</a>
            @if(previousId > 0){
                @btnPrimary("Vorige kost", routes.Costs.showCostDetail(previousId))
            }
            @if(nextId > 0){
                @btnPrimary("Volgende kost", routes.Costs.showCostDetail(nextId))
            }

        </div>
    }

    <div class='collapse@if(form.hasErrors)(".in")' id="collapsedForm">
        @newcostpanel(cost.getCarId,form,categories,true)
    </div>

   @panel("Details", "fa-money"){
        <div class="@if(fileIsImage){col-lg-4 }else{}col-xs-12">
            @detailsdl(cost)
            @if(cost.getStatus == ApprovalStatus.REQUEST) {
                @btnPrimary("Goed- of afkeuren ...",routes.CostsApprove.approveOrReject(cost.getId))
            }
        </div>
        @if(fileIsImage){
            <div class="col-lg-8 col-xs-12">
                <img style="max-width: 98%;" src="@routes.Costs.getCarCostProof(cost.getId)">
            </div>
        }
   }
   @divModalHelp()
}

