@* editcost.scala.html
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Copyright Ⓒ 2014-2015 Universiteit Gent
 * 
 * This file is part of the Degage Web Application
 * 
 * Corresponding author (see also AUTHORS.txt)
 * 
 * Kris Coolsaet
 * Department of Applied Mathematics, Computer Science and Statistics
 * Ghent University 
 * Krijgslaan 281-S9
 * B-9000 GENT Belgium
 * 
 * The Degage Web Application is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * The Degage Web Application is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public License
 * along with the Degage Web Application (file LICENSE.txt in the
 * distribution).  If not, see http://www.gnu.org/licenses/.
 *@

@(form: Form[CostsCommon.CostData], categories: Iterable[CarCostCategory],
     costId: Int, carId: Int, carName: String, isAdmin: Boolean)

@stdlayout("Autokost wijzigen", scripts=js.datetimepicker(), extrabc=breadcrumb("Kosten (" + carName +")",routes.Costs.showCostsForCar(carId)) ){

    @panel("Gegevens wijzigen", "fa-pencil") {
        @helper.form(routes.CostsCreate.doEdit(costId)){
            @selectCategory(categories,form("category"),"Type")
            @std.textField(form("description"), "Toelichting", css="col-lg-6 col-xs-12")
            @std.textField(form("amount"), "Bedrag in Euro (bv. 13,75)", css="col-sm-6")
            </div><div class="row">
            @std.textField(form("mileage"), "Kilometerstand", css="col-sm-6")
            @std.datepicker(form("time"), "Datum", css="col-sm-6")
            @if(isAdmin){
                @std.numberField(form("spread"), "Spreiding (in maanden) ...", css="col-sm-5 col-xs-11")
                <div class="col-xs-1">@btnModalHelp("costsAdmin.html")</div>
                @std.datepicker(form("start"), "gerekend vanaf", css="col-sm-6 col-xs-12")
            }
            @std.submitButton("Wijzigen")
        }
    }

    @panel("Bewijsstuk vervangen", "fa-pencil") {
        @helper.form(routes.CostsCreate.doUpdateProof(costId), 'enctype -> "multipart/form-data"){
            @std.fileField(form("picture"), "Nieuw bewijsstuk/bonnetje")
            @std.submitButton("Vervangen")
        }
    }


    @divModalHelp()
}



