@(user: UserHeader, infoDate: String)


@*Post info session mail. User was absent *@

<p>Beste @user.getFirstName,</p>
<p>
Je was niet aanwezig op de infosessie van @infoDate. 
</p>
<p>
Als je graag meer info wil over onze autodeelgroep, kan je je inschrijven voor een nieuwe infosessie via 
de <a href = "http://www.degage.be/degapp">website</a>. 
</p>

<p>
Wil je graag nog even wachten tot er een auto in je buurt komt, volg dan onze 
<a href="http://www.degage.be/autodelen/deelauto/">autodeelkaart</a>. 
</p>