@(user: UserHeader, infoDate: String)

@*Post info session mail. User is present and contracted *@

<p>Beste @user.getFirstName, </p> 
<p>
Je was aanwezig op de infosessie van @infoDate en tekende je contract.
Om toegang tot de deelauto's te hebben, dien je enkel nog het instapgeld 
en de borg over te maken. Je zal hier nog een mail voor krijgen of je kan de afrekening hiervan vinden op je dashboard van de <a href= "www.degage.be/degapp">website</a>.
</p>
<p>
Na ontvangst van je betaling wordt je account automatisch geactiveerd en 
zijn alle auto's zichtbaar.
</p>

<p>
Log in op de <a href= "www.degage.be/degapp">website</a> 
voor je eerste reservatie en voor het vervolledigen van je profiel.
</p>
