@* managerAssigned.scala.html
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Copyright Ⓒ 2014-2015 Universiteit Gent
 * 
 * This file is part of the Degage Web Application
 * 
 * Corresponding author (see also AUTHORS.txt)
 * 
 * Kris Coolsaet
 * Department of Applied Mathematics, Computer Science and Statistics
 * Ghent University 
 * Krijgslaan 281-S9
 * B-9000 GENT Belgium
 * 
 * The Degage Web Application is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * The Degage Web Application is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public License
 * along with the Degage Web Application (file LICENSE.txt in the
 * distribution).  If not, see http://www.gnu.org/licenses/.
 *@

@(user: UserHeader, admin: UserHeader, deposit: Int, initial: Int, loginURL: String)

@* Contract tekenen *@
<p>Beste @user.getFirstName,</p>

<p>Leuk dat je wil autodelen via Dégage! Om jouw lidmaatschap compleet te maken,
hoef je nog slechts enkele stappen te ondernemen.</p>

<p>Heb je al een contract getekend op de infosessie, dan is de eerste stap reeds
vervuld. Heb je nog niet getekend, neem dan contact op met
    <b>@admin.getFirstName @admin.getLastName</b> om een contract te ondertekenen.
    Deze persoon werd je toegewezen als
contractverantwoordelijke.</p>
<ul>
    <li><b>E-mail:</b> @admin.getEmail</li>
@if(admin.getPhone != null && !admin.getPhone.isEmpty){
    <li><b>Tel:</b> @admin.getPhone</li>
}
@if(admin.getCellPhone != null && !admin.getCellPhone.isEmpty){
    <li><b>GSM:</b> @admin.getCellPhone</li>
}
</ul>
<p>Je kan alvast de waarborg en het instapgeld betalen op rekening nr.</p>
<pre>
    IBAN BE78 5230 8045 2986 - BIC Code TRIOBEBB
</pre>
<p>van Dégage! VZW. De waarborg bedraagt <b>@deposit euro</b>,
    de instapsom is <b>@initial euro</b>.
</p>

<p>Als de betaling ontvangen is, keuren we je lidmaatschap snel goed.</p>

<p>Ondertussen kan je ook jouw profiel verder invullen (rijbewijs, ID, contactgegevens,
profielfoto). Meld je hiervoor opnieuw aan met je e-mailadres op
<a href="@loginURL">@loginURL</a>.</p>
