@* reservationApproved.scala.html
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Copyright Ⓒ 2014-2015 Universiteit Gent
 * 
 * This file is part of the Degage Web Application
 * 
 * Corresponding author (see also AUTHORS.txt)
 * 
 * Kris Coolsaet
 * Department of Applied Mathematics, Computer Science and Statistics
 * Ghent University 
 * Krijgslaan 281-S9
 * B-9000 GENT Belgium
 * 
 * The Degage Web Application is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * The Degage Web Application is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public License
 * along with the Degage Web Application (file LICENSE.txt in the
 * distribution).  If not, see http://www.gnu.org/licenses/.
 *@

@(user: UserHeader, from: String, until: String,carAddress: String, url: String, comment: String)

@* Reservatie goedgekeurd *@
<p>Beste @user.getFirstName @user.getLastName,</p>
<p>Uw reservatie voor de
volgende periode is goedgekeurd:</p>
<ul><li>@from — @until.</li></ul>
<p>De standplaats van de auto is:</p>
<ul><li>@carAddress</li></ul>
@if(comment != null && !comment.trim.isEmpty){
<p>De eigenaar vermeldt hierbij het volgende:</p>
<hr />
@comment
<hr />
}
<p>Gelieve de eigenaar te contacteren voor verdere afspraken.
Klik op onderstaande link voor bijkomende informatie:
<pre>
    <a href="@url">@url</a>
</pre>
