@* preferences.scala.html
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Copyright Ⓒ 2014-2015 Universiteit Gent
 *
 * This file is part of the Degage Web Application
 *
 * Corresponding author (see also AUTHORS.txt)
 *
 * Kris Coolsaet
 * Department of Applied Mathematics, Computer Science and Statistics
 * Ghent University
 * Krijgslaan 281-S9
 * B-9000 GENT Belgium
 *
 * The Degage Web Application is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * The Degage Web Application is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with the Degage Web Application (file LICENSE.txt in the
 * distribution).  If not, see http://www.gnu.org/licenses/.
 *@

@(form: Form[CarPreferences.CarPreferencesData], list: Iterable[List[CarPreference]])

@stylesheets={
   <style>
       table { margin-left: 20px; margin-right: 20px; width: auto !important; display: inline-table; }
   </style>
}

@include(carId: Int, form: Form[CarPreferences.CarPreferencesData])={
    @defining(form("included["+carId+"]")) { field =>
        <input type="checkbox" value="true" name="@field.name" @if(field.value){checked}>
    }
}

@* TODO: very similar to billingAdm.selectcars *@

@stdlayout("Voorkeursauto's", stylesheets=stylesheets) {
    <div class="row">
        <div class="col-xs-12 alert alert-info">
             <p>De aangevinkte auto's in onderstaande lijst komen altijd bovenaan terecht
                 in de autolijsten op de reservatiepagina's.</p><p>Gelieve hier ten hoogste 10 auto's aan te duiden. </p>
        </div>
    </div>
    @helper.form(routes.CarPreferences.doEdit()){
       <div class="col-xs-12">
           @foreach(list) { column =>
               <table class="table table-striped table-bordered table-hover no-footer" >
               @foreach.tr(column){ info =>
                   <td>@info.getCarName</td>
                   <td>@include(info.getCarId,form)</td>
               }
               </table>
           }
       </div>
       @std.submitButton("Wijzigen")
    }
}