@* edittrip.scala.html
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Copyright Ⓒ 2014-2015 Universiteit Gent
 * 
 * This file is part of the Degage Web Application
 * 
 * Corresponding author (see also AUTHORS.txt)
 * 
 * Kris Coolsaet
 * Department of Applied Mathematics, Computer Science and Statistics
 * Ghent University 
 * Krijgslaan 281-S9
 * B-9000 GENT Belgium
 * 
 * The Degage Web Application is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * The Degage Web Application is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public License
 * along with the Degage Web Application (file LICENSE.txt in the
 * distribution).  If not, see http://www.gnu.org/licenses/.
 *@

@(form: Form[WFTrip.TripData], trip: TripWithCar)

@scripts={<script type="text/javascript" src='@routes.Assets.at("javascripts/app/checkkm.js")'></script>}

@caption=@{if(WFCommon.isOwnerOrAdmin(trip))("Wijzigen (en meteen goedkeuren)")else("Wijzigen")}

@extrabc = {
    @breadcrumb("Ritten",routes.Trips.index())
    @breadcrumb("Details",routes.Trips.details(trip.getId))
}

@stdlayout("Wijzigen kilometerstanden", extrabc=extrabc, scripts=scripts) {

    @trips.detailsPanelPartial(trip)

    @panel("Gegevens", "fa-pencil") {
        @helper.form(routes.WFTrip.doEditTripInfo(trip.getId)){
            @std.numberField(form("startKm"), "Kilometerstand vóór de rit", css="col-sm-6")
            @std.numberField(form("endKm"), "na de rit:", css="col-sm-6")

            <div class="form-group col-xs-12">
                <a href="#" data-toggle="modal" data-target="#detailsModal"
                   class="btn btn-success btn-block">@caption</a>
            </div>
        }
    }

    @trips.checkModal(caption)
}
