@* newtrip.scala.html
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Copyright Ⓒ 2014-2015 Universiteit Gent
 * 
 * This file is part of the Degage Web Application
 * 
 * Corresponding author (see also AUTHORS.txt)
 * 
 * Kris Coolsaet
 * Department of Applied Mathematics, Computer Science and Statistics
 * Ghent University 
 * Krijgslaan 281-S9
 * B-9000 GENT Belgium
 * 
 * The Degage Web Application is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * The Degage Web Application is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public License
 * along with the Degage Web Application (file LICENSE.txt in the
 * distribution).  If not, see http://www.gnu.org/licenses/.
 *@

@(form: Form[WFTrip.TripDataExtended], trip: TripAndCar)

@scripts={<script type="text/javascript" src='@routes.Assets.at("javascripts/app/checkkm.js")'></script>}

@extrabc={
    @breadcrumb("Ritten",routes.Trips.index())
    @breadcrumb("Details",routes.Trips.details(trip.getId))
}

@caption=@{if(WFCommon.isOwnerOrAdmin(trip))("Doorsturen (en meteen goedkeuren)")else("Doorsturen")}

@stdlayout("Eerste ingave ritgegevens", extrabc=extrabc, scripts=scripts) {

    @trips.detailsPanelPartial(trip)

    @panel("Ingeven ritdetails", "fa-pencil") {
        @helper.form(routes.WFTrip.doNewTripInfo(trip.getId), 'enctype -> "multipart/form-data"){
            @std.numberField(form("startKm"), "Kilometerstand - vóór de rit:", css="col-sm-6")
            @std.numberField(form("endKm"), "na de rit:", css="col-sm-6")
            @std.group(form("damaged"), "Schade-opvolging") {
                  @std.radioItem(form("damaged"), "false") {
                     De auto liep geen schade op
                  }
                  @std.radioItem(form("damaged"), "true") {
                    De auto liep schade op (<i>een schadedossier zal aangemaakt worden waarbij je om bijkomende
                    informatie gevraagd wordt</i>)
                  }
            }

            @std.textField(form("amount"), "Tankbeurt - bedrag in Euro (bv. 13,75):", css="col-sm-6")
            @std.fileField(form("picture"), "bonnetje als bewijsstuk:")
            @std.textField(form("km"), "Kilometerstand bij tanken", css="col-sm-6")
            @std.textField(form("fuelAmount"), "Aantal liters getankt", css="col-sm-6")
            <div class="col-xs-12">
                <p>(Tankbeurten kunnen ook later nog afzonderlijk worden ingegeven. Je hoeft dit niet meteen te doen.)</p>
            </div>

            <div class="form-group col-xs-12">
                <a href="#" data-toggle="modal" data-target="#detailsModal"
                   class="btn btn-success btn-block">@caption</a>
            </div>
        }
    }

    @trips.checkModal(caption)

}
