@* textArea.scala.html
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Copyright Ⓒ 2014-2015 Universiteit Gent
 * 
 * This file is part of the Degage Web Application
 * 
 * Corresponding author (see also AUTHORS.txt)
 * 
 * Kris Coolsaet
 * Department of Applied Mathematics, Computer Science and Statistics
 * Ghent University 
 * Krijgslaan 281-S9
 * B-9000 GENT Belgium
 * 
 * The Degage Web Application is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * The Degage Web Application is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public License
 * along with the Degage Web Application (file LICENSE.txt in the
 * distribution).  If not, see <http://www.gnu.org/licenses/>.
 *@

@(field: play.api.data.Field, label: String, rows: Int, args: (Symbol, Any)*)

@* text area, for use in a form context *@

<div class="form-group col-xs-12 @if(field.hasErrors) {has-error}">
    <label class="control-label" for="@field.id">@label</label>

    <textarea id="@field.id" name="@field.name"
              rows="@rows"
              class="form-control input-md"
    @toHtmlArgs(args.toMap)>@field.value</textarea>
    @field.errors.map { error =>
        <span class="help-block">@play.api.i18n.Messages(error.message)</span>
    }
</div>
