@(field: Field, fieldAsString: Field, label: String, css: String="col-xs-4")

@* user picker input component for use in a form context *@

<div class="form-group userpicker @css @if(field.hasErrors||fieldAsString.hasErrors) {has-error}" data-url="@routes.UserPicker.getList()">

    <label class="control-label" for="@fieldAsString.name">@label</label>

    <input id="@fieldAsString.name" name="@fieldAsString.name"
           type="text" data-toggle="dropdown" class="form-control input-md"
           value='@fieldAsString.value' autocomplete="false"
    />
    <input type="hidden" name="userId" value='@field.value'/>
    <div class="viewId">@field.value</div><ul class="dropdown-menu" role="menu"></ul>
    @field.errors.map { error =>
        <span class="help-block">@play.api.i18n.Messages(error.message)</span>
    }
    @fieldAsString.errors.map { error =>
        <span class="help-block">@play.api.i18n.Messages(error.message)</span>
    }
</div>
