@* anomalies.scala.html
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Copyright Ⓒ 2014-2015 Universiteit Gent
 *
 * This file is part of the Degage Web Application
 *
 * Corresponding author (see also AUTHORS.txt)
 *
 * Kris Coolsaet
 * Department of Applied Mathematics, Computer Science and Statistics
 * Ghent University
 * Krijgslaan 281-S9
 * B-9000 GENT Belgium
 *
 * The Degage Web Application is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * The Degage Web Application is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with the Degage Web Application (file LICENSE.txt in the
 * distribution).  If not, see http://www.gnu.org/licenses/.
 *@

@import be.ugent.degage.db.dao.CheckDAO.{TripAnomaly,AnomalyType,RefuelAnomaly}

@(form: Form[BillingsAdmin.CarData], billing: Billing, list: Iterable[TripAnomaly], list2: Iterable[RefuelAnomaly])

@stdlayout("Aandachtspunten", scripts=js.userpicker(), extrabc=breadcrumb("Afrekeningen", routes.BillingsAdmin.listAll())) {

   @billingPanel(billing)

   @panel("Selecteer auto", "fa-search") {
        @helper.form(routes.BillingsAdmin.doShowAnomalies(billing.getId)) {
            @std.carpicker(form("carId"),form("carIdAsString"),"Auto",css="col-sm-4")
            @std.submitButton("Zoek / filter")
        }
   }

   @panel() {
        @* Tabs *@
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#trips" aria-controls="home" role="tab" data-toggle="tab">Ritten</a></li>
            <li role="presentation"><a href="#refuels" aria-controls="profile" role="tab" data-toggle="tab">Tankbeurten</a></li>
        </ul>

        @* Trip anomalies *@
        <div class="tab-content">
        <div class="tab-pane active col-xs-12" id="trips">
            <div id="resultsTable" class="table-responsive col-xs-12">
                <table class="table table-striped table-bordered table-hover no-footer">
                <thead>
                    <tr role="row">
                        <th>Auto</th>
                        <th>Soort</th>
                        <th>Rit 1</th>
                        <th>Rit 2</th>
                        <th colspan="2">Km-standen</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach.trOrElse(list) { ano =>
                        <td>@ano.carName</td>
                        <td>
                            @(ano.`type`) match {
                                case AnomalyType.ZERO_KM => { Rit van 0 km }
                                case AnomalyType.OVERLAP => { Ritten overlappen }
                                case AnomalyType.GAP => { Tussenliggende rit ontbreekt }
                                case AnomalyType.REQUEST_DETAILS => { Ontbrekende bevestiging }
                                case _ => { Onbekend }
                            }
                        </td>
                        <td><a href="@routes.Trips.overview(ano.carId,Utils.toDateString(ano.firstTime withDayOfMonth 1))">@Utils.toLocalizedString(ano.firstTime)</a></td>
                        <td>@Utils.toLocalizedString(ano.secondTime)</td>
                        <td>@ano.firstEndKm</td>
                        <td>@ano.secondStartKm</td>
                    }{
                    <tr>
                        <td class="empty-row" colspan="6">Geen aandachtspunten</td>
                    </tr>
                    }
                </tbody>
            </table>
            </div>
        </div>
        @* Refuel anomalies *@
         <div class="tab-pane col-xs-12" id="refuels">
             <div id="resultsTable" class="table-responsive col-xs-12">
                 <table class="table table-striped table-bordered table-hover no-footer">
                <thead>
                    <tr role="row">
                        <th>Auto</th>
                        <th>Tankbeurt status</th>
                        <th>Rit</th>
                        <th>Bedrag</th>
                        <th>Tankbeurt</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach.trOrElse(list2) { ano =>
                        <td>@ano.carName</td>
                        <td>@ano.refuelStatus</td>
                        <td><a href="@routes.Refuels.showRefuelsForTrip(ano.reservationId,true)">@Utils.toLocalizedString(ano.from)</a></td>
                        <td>@data.EurocentAmount.toString(ano.eurocents)</td>
                        <td>@btnPrimary("Details", routes.Refuels.showDetails(ano.refuelId))</td>
                    }{
                    <tr>
                        <td class="empty-row" colspan="4">Geen aandachtspunten</td>
                    </tr>
                    }
                </tbody>
            </table>
             </div>
        </div>
       </div>
   }

}
