@* anomalies.scala.html
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Copyright Ⓒ 2014-2015 Universiteit Gent
 * 
 * This file is part of the Degage Web Application
 * 
 * Corresponding author (see also AUTHORS.txt)
 * 
 * Kris Coolsaet
 * Department of Applied Mathematics, Computer Science and Statistics
 * Ghent University 
 * Krijgslaan 281-S9
 * B-9000 GENT Belgium
 * 
 * The Degage Web Application is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * The Degage Web Application is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public License
 * along with the Degage Web Application (file LICENSE.txt in the
 * distribution).  If not, see http://www.gnu.org/licenses/.
 *@

@import be.ugent.degage.db.dao.CheckDAO.{TripAnomaly,AnomalyType}

@(list: Iterable[TripAnomaly])

@stdlayout("Anomalieën") {

   @panel() {
        <div id="resultsTable" class="table-responsive col-xs-12">
            <table class="table table-striped table-bordered table-hover no-footer" id="dataTables-cars">
                <thead>
                    <tr role="row">
                        <th>Soort</th>
                        <th>Rit 1</th>
                        <th>Rit 2</th>
                        <th colspan="2">Km-standen</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach.trOrElse(list) { ano =>
                        <td>
                            @(ano.`type`) match {
                                case AnomalyType.ZERO_KM => { Rit van 0 km }
                                case AnomalyType.OVERLAP => { Ritten overlappen }
                                case AnomalyType.GAP => { Tussenliggende rit ontbreekt }
                                case _ => { Onbekend }
                            }
                        </td>
                        <td>@Utils.toLocalizedString(ano.firstTime)</td>
                        <td>@Utils.toLocalizedString(ano.secondTime)</td>
                        <td>@ano.firstEndKm</td>
                        <td>@ano.secondStartKm</td>
                    }{
                    <tr>
                        <td class="empty-row" colspan="5">Geen anomalieën</td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>

   }

}
