@* editPrices.scala.html
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Copyright Ⓒ 2014-2015 Universiteit Gent
 * 
 * This file is part of the Degage Web Application
 * 
 * Corresponding author (see also AUTHORS.txt)
 * 
 * Kris Coolsaet
 * Department of Applied Mathematics, Computer Science and Statistics
 * Ghent University 
 * Krijgslaan 281-S9
 * B-9000 GENT Belgium
 * 
 * The Degage Web Application is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * The Degage Web Application is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public License
 * along with the Degage Web Application (file LICENSE.txt in the
 * distribution).  If not, see http://www.gnu.org/licenses/.
 *@

@import be.ugent.degage.db.dao.BillingAdmDAO
@import BillingsAdmin.PriceData

@(billing: Billing, form: Form[PriceData])

@stylesheets={
   <style>
       table { margin-left: 20px; margin-right: 20px;
               width: auto; display: inline-table; }
       table td input { padding-right: 10; }
   </style>
}

@textField(field: play.api.data.Field)={
<div class="form-group @if(field.hasErrors) {has-error}">
    <input id="@field.id" name="@field.name" type="text"
           class="form-control input-md" value="@field.value" >
    @field.errors.map { error =>
        <span class="help-block">@play.api.i18n.Messages(error.message)</span>
    }
</div>
}

@stdlayout("Kilometerprijzen", stylesheets=stylesheets, extrabc=breadcrumb("Afrekeningen", routes.BillingsAdmin.listAll())) {

    @billingPanel(billing)

    @panel("Kilometerprijzen", "fa-pencil"){
       @helper.form(routes.BillingsAdmin.doEditPrices(billing.getId)){
           <div class="col-xs-12">
               <table>
                  <thead>
                  <tr>
                      <th>Kilometergrens</th>
                      <th>Prijs (eurocent / km)</th>
                  </tr>
                  </thead>
                   <tbody>
                   @foreach.tr(0 until PriceData.MAX_SIZE){ i =>
                      <td>@textField(form("elements["+i+"].kilometer"))</td>
                      <td>@textField(form("elements["+i+"].eurocents"))</td>
                   }
                   </tbody>
               </table>
           </div>
           @std.submitButton("Wijzigen")
       }
    }

}
