@* information.scala.html
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Copyright Ⓒ 2014-2015 Universiteit Gent
 * 
 * This file is part of the Degage Web Application
 * 
 * Corresponding author (see also AUTHORS.txt)
 * 
 * Kris Coolsaet
 * Department of Applied Mathematics, Computer Science and Statistics
 * Ghent University 
 * Krijgslaan 281-S9
 * B-9000 GENT Belgium
 * 
 * The Degage Web Application is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * The Degage Web Application is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public License
 * along with the Degage Web Application (file LICENSE.txt in the
 * distribution).  If not, see <http://www.gnu.org/licenses/>.
 *@

@home("Informatie") {
<div class="container">
	<div class="row">
		<div class="col-md-3">
            <ul class="nav" id="sidebar">
				<li><a href="#degage">Dégage!</a></li>
				<li><a href="#autodelen">Autodelen</a></li>
				<li><a href="#eigenaars">Eigenaars</a></li>
				<li><a href="#autoloze">Autoloze</a></li>
				<li><a href="#autos">Auto's</a></li>
				<li><a href="#prijzen">Prijzen</a></li>
				<li><a href="#deelnemen">Deelnemen</a></li>
				<li><a href="#woordenlijst">Woordenlijst</a></li>
            </ul>
        </div>

		<div class="col-md-9">
		  	<div class="row">
		    	<div class="col-md-12">
	        		<a class="anchor" name="degage"></a>
		        	<div class="panel panel-default">
		        		<div class="panel-heading"><h1>Dégage!</h1></div>
		          		<div class="panel-body">
							<p>
						    Dégage! vzw (DE Gedeelde Autovloot GEnt) is een particulier autodelensysteem met 23 auto’s en meer dan 500 gebruikers in Gent. Particulier autodelen betekent in dit geval dat enkele auto-eigenaars hun auto door andere mensen (meestal zonder auto) laten gebruiken tegen een kilometervergoeding. Of, anders gezegd, een systeem waarbij mensen zonder auto tegen kostprijs een auto kunnen gebruiken zonder er zelf één te kopen.
						    </p>
						    <p>
						    Eigenaars die een auto willen delen, uit de buurt van Gent-Centrum, Rabot of Brugse Poort, kunnen hun kandidatuur melden. 
						  	</p>
		          		</div>
		        	</div>
		    	</div>
		  	</div>


			<a class="anchor" name="autodelen"></a>
		  	<hr><h2 id="">Autodelen</h2>
		  	<p>
			<h3>Het systeem garandeert mentaliteitsverandering op lange termijn.</h3>
			Wat autodelen voorheeft op bewustmakingscampagnes, carpoolen en andere initiatieven die een beroep doen op de goodwill van de automobilist, is het feit dat het om een systeem gaat. Autodelers kunnen nu eenmaal een auto niet op een impulsieve manier gebruiken. Het reserveringssysteem maakt de drempel om een auto te gebruiken iets hoger dan wanneer iedereen zijn eigen auto heeft. Die drempel is de sleutel tot bewuster autogebruik en maakt van autodelers bewuste mobiliteitsgebruikers in het algemeen. 
			Wie geen auto voor de deur heeft staan, zal voor kleine verplaatsingen eerder de fiets of het openbaar vervoer gebruiken. Autodelers leren hun verplaatsingen ook beter plannen. Er zijn uiteraard situaties waarbij het openbaar vervoer niet beschikbaar is of niet geschikt is. Denk maar aan uitstappen naar het platteland, kettingverplaatsingen die met het openbaar vervoer teveel tijd kosten of het vervoeren van grote voorwerpen. Dan is de auto een welkome oplossing, maar op dat moment is de vanzelfsprekendheid ervan al doorprikt. 
			Het Dégage!vzw-systeem zit bovendien zo ineen dat het rationeel gebruik aangemoedigd wordt door de kilometerprijs voor lange verplaatsingen naar beneden te halen. Wie verschillende ritten in één keer combineert, betaalt gemiddeld minder per kilometer. 
			</p><p>
			<h3>Veiliger, schoner, groener.</h3>
			Autodelen is zonder twijfel milieuvriendelijk en duurzaam en verhoogt de leefbaarheid van de omgeving. 
			Omdat autodelers hun korte verplaatsingen niet of minder met de auto doen, daalt het totale autogebruik. Bovendien zijn het net die korte verplaatsingen die heel vervuilend zijn. Minder autoverkeer betekent uiteraard ook minder files. 
			Ook het totale aantal auto's daalt en dat heeft positieve gevolgen voor de openbare ruimte. Als er minder parkeerplaatsen nodig zijn, kan de vrijgekomen ruimte voor iets anders gebruikt worden. 
			</p><p>
			<h3>Niet alléén voor groene jongens.</h3>
			Tegelijk is autodelen ook een interessante oplossing voor wie zijn vervoerskosten wil temperen of voor wie zich geen eigen auto kan veroorloven. Autodelen is dan een manier om basismobiliteit te garanderen, ook voor mensen met een laag inkomen. 
			Autodelen is heel voordelig. De jaarlijkse kosten van een auto zijn aanzienlijk, ook wanneer hij niet rijdt. Een maandelijks bedrag van 250 € voor benzine en vaste kosten blijkt niet overdreven. Door een auto te delen, neemt de auto een veel kleinere hap uit het huishoudelijke budget. 
			Bij Dégage!vzw betaalt de gebruiker enkel wat hij verbruikt. Er is geen abonnementsgeld. Dat maakt het systeem ook interessant voor kleine gebruikers. Dégage!vzw maakt geen winst. De prijs per kilometer geeft een realistisch beeld van wat het kost om met de auto te rijden. Dat maakt het voor de gebruikers ook gemakkelijker om te vergelijken met bijvoorbeeld het openbaar vervoer. Bovendien worden de administratie en een deel van het onderhoud van de auto's door vrijwilligers gedaan. 
			</p><p>
			<h3>Een efficiënt en economisch systeem.</h3>
			Hoewel veel Dégage!vzw-leden een uitgesproken visie hebben over mobiliteit, verkeer en milieu, wordt het systeem ook draaiende gehouden door een interne economische logica. 
			De twee betrokken partijen, eigenaars en gebruikers, hebben allebei verschillende maar even dwingende motieven. De eigenaars blijven in ons systeem eigenaar, met alle bijhorende taken. Elke eigenaar betaalt voor zijn auto taksen, verzekeringen en onderhoud. Die kosten kan zij/hij recupereren door de auto zoveel mogelijk te laten gebruiken door iemand anders. Voor die leenbeurten krijgt de eigenaar immers een vergoeding in verhouding met die kosten. Dat geeft de eigenaar een goede reden om het de gebruikers zo gemakkelijk mogelijk te maken om de auto te gebruiken. De autolozen onder de Dégage!vzw-leden hebben dan weer het voordeel dat zij volledig zorgeloos door het leven gaan wat betreft verzekeringen, onderhoud enzovoort. Ze gebruiken een auto, respecteren enkele praktische afspraken en betalen per kilometer. 
		  	</p>


			<a class="anchor" name="eigenaars"></a>
		  	<hr><h2>Eigenaars</h2>
		  	<p>
		    Rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae 
		    dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut.
		  	</p>
		  	<div class="row">
		      <div class="col-md-6">
		        <div class="panel panel-default">
		          <div class="panel-heading"><h3>Hello.</h3></div>
		          <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. 
		          Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis 
		          dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. 
		          Aliquam in felis sit amet augue.
		          </div>
		        </div>
		      </div>
		      <div class="col-md-6">
		          <div class="panel panel-default">
		          <div class="panel-heading"><h3>Hello.</h3></div>
		          <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. 
		          Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis 
		          dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. 
		          Aliquam in felis sit amet augue.
		          </div>
		        </div>
		      </div>  
		  	</div>
		  

		  	<a class="anchor" name="autoloze"></a>
		  	<hr><h2>Autoloze</h2>
		  	<p>
		    Rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae 
		    dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia cor magni dolores 
		    eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, 
		    sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. 
		    Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut!
		  	</p>
		  	<div class="row">
		  		<div class="col-md-4"><img src="//placehold.it/300x300" class="img-responsive"></div>
		      	<div class="col-md-4"><img src="//placehold.it/300x300" class="img-responsive"></div>
		      	<div class="col-md-4"><img src="//placehold.it/300x300" class="img-responsive"></div>
		  	</div>
		  
		  	<a class="anchor" name="autos"></a>
		  	<hr><h2>Auto's</h2>
				Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia cor magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut.
		  
		  	<a class="anchor" name="prijzen"></a>
		  	<hr><h2>Prijzen</h2>
				Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, 
		    totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae 
		    dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia cor magni dolores 
		    eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, 
		    sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. 
		    Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut.
		  
		  	<a class="anchor" name="deelnemen"></a>
		  	<hr><h2>Deelnemen</h2>
				Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, 
		    totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae 
		    dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia cor magni dolores 
		    eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, 
		    sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. 
		    Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut.
		  
		  	<a class="anchor" name="woordenlijst"></a>
		  	<hr><h2>Woordenlijst</h2>
				Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, 
		    totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae 
		    dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia cor magni dolores 
		    eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, 
		    sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. 
		    Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut.
		</div> 
  	</div>
</div>
}
