@* detailsPanel.scala.html
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Copyright Ⓒ 2014-2015 Universiteit Gent
 * 
 * This file is part of the Degage Web Application
 * 
 * Corresponding author (see also AUTHORS.txt)
 * 
 * Kris Coolsaet
 * Department of Applied Mathematics, Computer Science and Statistics
 * Ghent University 
 * Krijgslaan 281-S9
 * B-9000 GENT Belgium
 * 
 * The Degage Web Application is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * The Degage Web Application is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public License
 * along with the Degage Web Application (file LICENSE.txt in the
 * distribution).  If not, see http://www.gnu.org/licenses/.
 *@

@(trip: TripWithCar)

@panel("Details", "fa-bar-chart-o"){
    <div class="col-sm-6">
        <h4>Reservatie</h4>
        <dl class="dl-horizontal">
            @if(db.CurrentUser isNot trip.getUserId) {
                <dt>Bestuurder</dt>
                <dd>@trip.getDriverName</dd>
            }
            <dt>Status</dt><dd><i>@trip.getStatus</i></dd>
            <dt>Periode</dt>
            <dd>@Utils.toLocalizedString(trip.getFrom) — @Utils.toLocalizedString(trip.getUntil)</dd>
            @defining(trip.getCar) { car =>
                <dt>Auto</dt>
                <dd><a href="@routes.Cars.detail(car.getId)">@car.getName (@car.getBrand @car.getType)</a></dd>
                @if(car.getLocation != null) {
                    <dt>Standplaats</dt>
                    <dd>@car.getLocation</dd>
                }
            }
            @* TODO: make when.notblank snippet *@
            @if(trip.getMessage != null && !trip.getMessage.trim.isEmpty) {
                <dt>Opmerkingen</dt>
                <dd>@trip.getMessage</dd>
            }
        </dl>
    </div>
    @if(trip.getStartKm > 0) {
        <div class="col-sm-6">
            <h4>Ritdetails</h4>
            <dl class="dl-horizontal">
                <dt>Kilometerstanden</dt>
                <dd>@trip.getStartKm — @trip.getEndKm</dd>
                <dt>Schade?</dt>
                <dd>@if(trip.isDamaged){<span class="text-danger">Ja</span>}else{Nee}</dd>
            </dl>
        </div>
    }
}
