@* overview.scala.html
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Copyright Ⓒ 2014-2015 Universiteit Gent
 *
 * This file is part of the Degage Web Application
 *
 * Corresponding author (see also AUTHORS.txt)
 *
 * Kris Coolsaet
 * Department of Applied Mathematics, Computer Science and Statistics
 * Ghent University
 * Krijgslaan 281-S9
 * B-9000 GENT Belgium
 *
 * The Degage Web Application is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * The Degage Web Application is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with the Degage Web Application (file LICENSE.txt in the
 * distribution).  If not, see http://www.gnu.org/licenses/.
 *@

@(car: Car, trips: Iterable[Trip], form: Form[Trips.KmData],
            previousMonth: String, thisMonth: String, nextMonth: String, thisMonthLocalized: String)
@stylesheets={
@sheets("statuses")
<style>
    .table-striped tbody tr.request_details:nth-child(even) { background-color: #f0f0ff; }
    .table-striped tbody tr.request_details:nth-child(odd) { background-color: #e8e8f7; }
    .table-striped tbody tr.request_details:hover { background-color: #e1e1f0; }

    .table-striped tbody tr.details_provided:nth-child(even) { background-color: #f0fff0; }
    .table-striped tbody tr.details_provided:nth-child(odd) { background-color: #e8f7e8; }
    .table-striped tbody tr.details_provided:hover { background-color: #e1f0e1; }

    input.show-error { border-color: #a94442; }
    input.suspicious { color: #cc0000; }

</style>
}

@scripts={
<script type='text/javascript' src='@routes.Assets.at("lib/jquery_are-you-sure/jquery.are-you-sure.js")'></script>
<script>
function checkKm() { // TODO: do this server side?
   var l = $ ("tr td:nth-child(6)" );
   var len = l.length;
   if (len > 0 ) {
       var last = l.eq(0).children("input");
       for( i = 1; i < len; i++) {
          var current = l.eq(i).children("input");
          var prevEnd = last.eq(1).val();
          var nextStart = current.eq(0).val();
          if (nextStart && prevEnd && nextStart!=prevEnd) {
              current.eq(0).addClass("suspicious")
              last.eq(1).addClass("suspicious")
          }
          last = current;
       }
   }
}

function autoFillKm() {
   var l = $ ("tr td:nth-child(6)" );
   var len = l.length;
   if (len > 0 ) {
       var last = l.eq(0).children("input");
       for( i = 1; i < len; i++) {
          var current = l.eq(i).children("input");
          var prevEnd = last.eq(1).val();
          var nextStart = current.eq(0).val();
          if (nextStart) {
              if (! prevEnd) {
                  last.eq(1).val(nextStart);
              }
          } else {
              if (prevEnd) {
                  current.eq(0).val(prevEnd);
              }
          }
          last = current;
       }
   }
}
$( function() {
     $("form").areYouSure(
        {message: "Ben je zeker dat je de pagina wil verlaten? De gegevens die je hebt ingetikt, worden dan niet doorgestuurd."}
        );
     checkKm();
   });

</script>
}

@* Fields
   ====== *@

@approve(trip: Trip, form: Form[Trips.KmData])={
    @defining(form("km["+trip.getId+"].approve")) { field =>
        <input type="checkbox" name="@field.name" @if(field.value){value="true"}else{value="false"}>
    }
}
@startend(trip: Trip, form: Form[Trips.KmData])={
    @defining(form("km["+trip.getId+"].start")) { startField =>
        @defining(form("km["+trip.getId+"].end")) { endField =>
           @defining(if(startField.hasErrors||endField.hasErrors)"show-error"else"no-error") { css =>
                <input type="text" class="@css" name="@startField.name" value="@startField.value" size="6"> →
                <input type="text" class="@css" name="@endField.name" value="@endField.value" size="6">
                @startField.errors.map { error =>
                    <span class="text-danger">@play.api.i18n.Messages(error.message)</span>
                }
                @endField.errors.map { error =>
                    <span class="text-danger">@play.api.i18n.Messages(error.message)</span>
                }
            }
        }
    }
}

@startEndDisabled(trip: Trip)={
   <input type="text" size="6" disabled value="@trip.getStartKm"> →
   <input type="text" size="6" disabled value="@trip.getEndKm">
   (@(trip.getEndKm-trip.getStartKm) km)
}

@stdlayout("Kilometerstanden", stylesheets=stylesheets, scripts=scripts) {

    @panel("Overzicht", "fa-list") {
        <div class="col-xs-12">
            @btnModalHelp("overview.html")
            &nbsp;&nbsp;
            @btnWarning("Maand eerder",routes.Trips.overview(car.getId,previousMonth))
            @btnWarning("Maand later",routes.Trips.overview(car.getId,nextMonth))
        </div>
        <div class="col-xs-12">
            <h3>@car.getName - vanaf @thisMonthLocalized</h3>
        </div>
        <div class="col-xs-12">
            <p><b>Opgelet!</b> Je moet eerst de wijzigingen doorsturen die je in de tabel hieronder hebt gemaakt
                vooraleer je naar een andere maand gaat!</p>
        </div>
        @helper.form(routes.Trips.doOverview(car.getId, thisMonth)){
        <div class="table-responsive col-xs-12">
            @formErrors(form)
            <div id="resultsTable" class="table-responsive col-xs-12">
                <table class="table table-striped table-bordered table-hover no-footer" >
            <thead>
               <tr>
                   <th colspan="2">Periode </th>
                   <th>Bestuurder</th>
                   <th>Status</th>
                   <th width="20">&nbsp;</th>
                   <th>Km-standen</th>
                   <th>Acties</th>
               </tr>
            </thead>
            @if(trips.iterator.hasNext){
                @foreach.tr(trips){ trip =>
                    <td><a href='@routes.Trips.details(trip.getId)'>@Utils.toLocalizedString(trip.getFrom)</a></td>
                    <td>@Utils.toLocalizedString(trip.getUntil)</td>
                    <td>@if(db.CurrentUser is trip.getDriverId)("Jij")else(trip.getDriverName)</td>
                    <td>@statusname(trip.getStatus)</td>
                    @* The remaining columns depend on the current status *@
                    @* DETAILS_REJECTED cannot be be handled here - would too easily
                                               lead to accidental approval of wrong data *@
                    @trip.getStatus match {
                        case ReservationStatus.DETAILS_PROVIDED => {
                            <td>@approve(trip,form)</td>
                            <td>@startEndDisabled(trip)</td>
                        }
                        case ReservationStatus.REQUEST_DETAILS => {
                            <td>&nbsp;</td>
                            <td>@startend(trip,form)</td>
                        }
                        case _ => {
                            <td>&nbsp;</td>
                            <td>@startEndDisabled(trip)</td>
                        }
                    }
                    <td>@foreach(util.WorkflowAction.getCurrentActions(trip))(_.asNarrowButton(trip.getId))</td>
                }
                <tr><td colspan="4">&nbsp;</td>
                    <td colspan="2">
                        <button type="button" class="btn btn-xs btn-primary" onclick="$('input:checkbox').prop('checked','checked');">Alles aanvinken</button>
                        <button type="button" class="btn btn-xs btn-primary" onclick="autoFillKm();">Automatisch aanvullen</button>
                    </td></tr>
            } else {
                <tr><td class="empty-row" colspan="7">Geen resultaten.</td></tr>
            }
            </table>
            </div>
        </div>
        @std.submitButton("Opslaan")
        }
    }
    @divModalHelp()
}
