@* tripsAdmin.scala.html
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Copyright Ⓒ 2014-2015 Universiteit Gent
 * 
 * This file is part of the Degage Web Application
 * 
 * Corresponding author (see also AUTHORS.txt)
 * 
 * Kris Coolsaet
 * Department of Applied Mathematics, Computer Science and Statistics
 * Ghent University 
 * Krijgslaan 281-S9
 * B-9000 GENT Belgium
 * 
 * The Degage Web Application is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * The Degage Web Application is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public License
 * along with the Degage Web Application (file LICENSE.txt in the
 * distribution).  If not, see http://www.gnu.org/licenses/.
 *@

@scripts = {
    @js.paginationWithTabs("Trips.showTripsAdminPage", 2)
    <script type="text/javascript" src="https://rawgithub.com/nwcell/ics.js/master/ics.deps.min.js"></script>
    @js.usesajax()
    @js.loadCalendarEvent()
    @js.userpicker()
}

@stdlayout("Ritten (beheer)", scripts=scripts, stylesheets=sheets("statuses")) {

    <div class="panel panel-default">
        <div class="panel-heading">
            <i class="fa fa-bar-chart-o fa-fw"></i> Ritten
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-12">
                    <p>
                        Bekijk hier als admin alle ritten in het systeem.
                    </p>
                </div>
            </div>
            <div class="row">
                @search.carpicker("reservation_car_id", "Auto")
                @search.userpicker("reservation_user_or_owner_id", "Bestuurder / eigenaar")
                @search.button("Zoek!")
            </div>
        </div>
            <!-- /.panel-body -->
    </div>

    @* simpler than @tabtrips, does not contain counts *@
    @tabbedPagination(2,"status",
        "ACCEPTED" -> ("Gepland", "from", true),
        "REQUEST_DETAILS|DETAILS_PROVIDED|DETAILS_REJECTED|FINISHED" -> ("Voorbij","from", false),
        "REQUEST" -> ("Aanvragen","from", true),
        "REFUSED|CANCELLED|CANCELLED_LATE|FROZEN" -> ("Andere","from", false))

}
