@* tripspage.scala.html
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Copyright Ⓒ 2014-2015 Universiteit Gent
 * 
 * This file is part of the Degage Web Application
 * 
 * Corresponding author (see also AUTHORS.txt)
 * 
 * Kris Coolsaet
 * Department of Applied Mathematics, Computer Science and Statistics
 * Ghent University 
 * Krijgslaan 281-S9
 * B-9000 GENT Belgium
 * 
 * The Degage Web Application is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * The Degage Web Application is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public License
 * along with the Degage Web Application (file LICENSE.txt in the
 * distribution).  If not, see http://www.gnu.org/licenses/.
 *@

@(userId: Int, reservations: Iterable[Reservation], page : Int, amountOfResults : Int, amountOfPages : Int, asc : Int, orderBy : String, filter : String)

<table class="table table-striped table-bordered table-hover no-footer" id="dataTables-trips">
    <thead>
        <tr role="row">
            <th>Autonaam</th>
            <th class="sortable" name="from" >Van</th>
            <th>Tot</th>
            <th>Lener</th>
            <th>Status</th>
            <th>Acties</th>
        </tr>
    </thead>
    <tbody>
        @foreach.trOrElse(reservations){ reservation =>
                <td><a href="@routes.Cars.detail(reservation.getCar.getId)">@reservation.getCar.getName</a></td>
                <td>@Utils.toLocalizedString(reservation.getFrom)</td>
                <td>@Utils.toLocalizedString(reservation.getUntil)</td>
                @if(reservation.getUserId == userId) {
                    <td><a href="@routes.Profile.index(reservation.getUserId)">Jij</a></td>
                } else {
                    <td><a href="@routes.Profile.index(reservation.getUserId)">@reservation.getUser</a></td>
                }
                <td>@statusname(reservation.getStatus)</td>
                <td>
                    <a class="btn btn-xs btn-primary" href="@routes.Trips.details(reservation.getId)">Details</a>
                    @foreach(util.WorkflowAction.getCurrentActions(reservation))(_.asNarrowButton(reservation.getId))
                </td>
        }{
        <tr>
            <td class="empty-row" colspan="7">Geen ritten beschikbaar</td>
        </tr>
        }
    </tbody>
</table>
<p id="pagination" name="@amountOfResults,@amountOfPages"></p>
