@* tripDetailsAsOwner.scala.html
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Copyright Ⓒ 2014-2015 Universiteit Gent
 * 
 * This file is part of the Degage Web Application
 * 
 * Corresponding author (see also AUTHORS.txt)
 * 
 * Kris Coolsaet
 * Department of Applied Mathematics, Computer Science and Statistics
 * Ghent University 
 * Krijgslaan 281-S9
 * B-9000 GENT Belgium
 * 
 * The Degage Web Application is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * The Degage Web Application is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public License
 * along with the Degage Web Application (file LICENSE.txt in the
 * distribution).  If not, see http://www.gnu.org/licenses/.
 *@

@(reservation: Reservation, tripInfo: CarRide, car: Car, loaner: User, previousLoaner: User, nextLoaner: User)
@import routes.Workflow._
@import routes.Refuels._


@* only called when the user owns the car but is not a reservation admin*@

@stdlayout("Reservatie- en ritdetails (eigenaar)", extrabc=breadcrumb("Ritten",routes.Trips.index())) {

    @detailsPanel(car, reservation, tripInfo)

    @actionPanel(reservation)

    <!-- owner specific content -->

    @panel("Verdere informatie", "fa-bar-chart-o"){
        <div class="col-lg-6">
            <h4>Ontlener</h4>
            @userInfo(loaner)
        </div>

        @previousnext(previousLoaner, nextLoaner)
    }
}
