@* userInfo.scala.html
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Copyright Ⓒ 2014-2015 Universiteit Gent
 * 
 * This file is part of the Degage Web Application
 * 
 * Corresponding author (see also AUTHORS.txt)
 * 
 * Kris Coolsaet
 * Department of Applied Mathematics, Computer Science and Statistics
 * Ghent University 
 * Krijgslaan 281-S9
 * B-9000 GENT Belgium
 * 
 * The Degage Web Application is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * The Degage Web Application is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public License
 * along with the Degage Web Application (file LICENSE.txt in the
 * distribution).  If not, see http://www.gnu.org/licenses/.
 *@

@(user: UserHeader, status: ReservationStatus = ReservationStatus.FINISHED)

@* hint: use ReservationStatus.FINISHED to force dispay *@

@if(
    status != ReservationStatus.REFUSED &&
    status != ReservationStatus.REQUEST &&
    status != ReservationStatus.CANCELLED  &&
    status != ReservationStatus.CANCELLED_LATE
) {
  <dl class="dl-horizontal">
    <dt>Naam</dt> <dd>@user.getFullName</dd>
    <dt>E-mail</dt> <dd>@emaillink(user.getEmail)</dd>
    <dt>Tel</dt> <dd>@phonelink(user.getPhone) </dd>
    <dt>GSM</dt> <dd>@phonelink(user.getCellPhone)</dd>
  </dl>
} else {
  (Deze informatie is pas beschikbaar na goedkeuring)
}

