@* carCostspage.scala.html
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Copyright Ⓒ 2014-2015 Universiteit Gent
 * 
 * This file is part of the Degage Web Application
 * 
 * Corresponding author (see also AUTHORS.txt)
 * 
 * Kris Coolsaet
 * Department of Applied Mathematics, Computer Science and Statistics
 * Ghent University 
 * Krijgslaan 281-S9
 * B-9000 GENT Belgium
 * 
 * The Degage Web Application is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * The Degage Web Application is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public License
 * along with the Degage Web Application (file LICENSE.txt in the
 * distribution).  If not, see http://www.gnu.org/licenses/.
 *@

@(carCostList: List[CarCost], page : Int, amountOfResults : Int, amountOfPages : Int)
@import providers.DataProvider
@import db.CurrentUser
<table class="table table-striped table-bordered table-hover no-footer" id="dataTables-carCosts">
    <thead>
    <tr role="row">
        <th>Auto</th>
        <th>Beschrijving</th>
        <th>Tijd</th>
        <th>Bedrag</th>
        <th>Status</th>
        <th>Bewijs</th>
        <th>Acties</th>
    </tr>
    </thead>
    <tbody>
    @if(carCostList.isEmpty) {
    <tr>
        <td style="text-align : center ; background-color : #F0F0F0 ; padding : 8 px ;" colspan="7">
            Er zijn momenteel geen autogebonden kostaanvragen in het systeem.
        </td>
    </tr>
    } else {
    @for(carCost <- carCostList) {
    <tr>
        <td><a href="@routes.Cars.detail(carCost.getCar.getId)">@carCost.getCar.getName</a></td>
        <td>@carCost.getDescription</td>
        <td>@Utils.toLocalizedDateString(carCost.getDate)</td>
        <td>@carCost.getAmount</td>
        <td>
            @carCost.getStatus match {
            case CarCostStatus.ACCEPTED => {
            <span class="fa fa-check-circle"></span>
            }
            case CarCostStatus.REFUSED => {
            <span class="fa fa-minus-circle"></span>
            }
            case CarCostStatus.REQUEST => {
            <span class="fa fa-question-circle"></span>
            }
            case _ => {}
            }
            @carCost.getStatus
        </td>
        <td>
            <div class="btn-group btn-group-xs">
                <a class="btn btn-primary" href="@routes.Cars.getProof(carCost.getProofId)">Link</a>
            </div>
        </td>
        @if(CurrentUser.hasRole(UserRole.CAR_ADMIN)) {
            <td>
            @carCost.getStatus match {
                case CarCostStatus.ACCEPTED => {
                    <a type="button" class="btn btn-xs btn-warning" href="@routes.Cars.refuseCarCost(carCost.getId,1)">Afkeuren</a>
                }
                case CarCostStatus.REFUSED => {
                    <a type="button" class="btn btn-xs btn-success" href="@routes.Cars.approveCarCost(carCost.getId,1)">Goedkeuren</a>
                }
                case CarCostStatus.REQUEST => {
                    <a type="button" class="btn btn-xs btn-success" href="@routes.Cars.approveCarCost(carCost.getId,1)">Goedkeuren</a>
                    <a type="button" class="btn btn-xs btn-warning" href="@routes.Cars.refuseCarCost(carCost.getId,1)">Afkeuren</a>
                }
                case _ => {}
            }

            </td>
        }
    </tr>
    }
    }
    </tbody>
</table>
<p id="pagination" name="@amountOfResults,@amountOfPages"></p>
