@* carspage.scala.html
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Copyright Ⓒ 2014-2015 Universiteit Gent
 * 
 * This file is part of the Degage Web Application
 * 
 * Corresponding author (see also AUTHORS.txt)
 * 
 * Kris Coolsaet
 * Department of Applied Mathematics, Computer Science and Statistics
 * Ghent University 
 * Krijgslaan 281-S9
 * B-9000 GENT Belgium
 * 
 * The Degage Web Application is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * The Degage Web Application is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public License
 * along with the Degage Web Application (file LICENSE.txt in the
 * distribution).  If not, see http://www.gnu.org/licenses/.
 *@

@(cars: Page[CarHeaderAndOwner])
<table class="table table-striped table-bordered table-hover no-footer" id="dataTables-cars">
    <thead>
        <tr role="row">
            <th name="name" class="sortable" tabindex="0" >Naam</th>
            <th name="license_plate" class="sortable" tabindex="0" >Nummerplaat</th>
            <th name="brand" class="sortable" tabindex="0" >Merk</th>
            <th name="active" class="sortable" tabindex="0" >Actief</th>
            <th name="owner" class="sortable" tabindex="0" >Eigenaar</th>
            <th name="year" class="sortable" tabindex="0" >Bouwjaar</th>
            <th>Acties</th>
        </tr>
    </thead>
    <tbody>
    @foreach.trOrElse(cars){ car =>
        <td> <a href="@routes.Cars.detail(car.getId)">@car.getName</a></td>
        <td>@car.getLicensePlate</a></td>
        <td>@car.getBrand</td>
        <td>
            @if(car.isActive) {
                <span class="label label-success">Actief</span>
            } else {
                <span class="label label-danger">Non-actief</span>
            }
        </td>
        <td><a href="@routes.Profile.index(car.getOwnerId)">@car.getOwnerName</a></td>
        <td><a href="@routes.Profile.index(car.getOwnerId)">@car.getCarYear</a></td>
        <td>
            @btnWarning("Wijzig", routes.Cars.editCar(car.getId))
            @btnPrimary("Km-standen", routes.Trips.overview(car.getId))
            @btnPrimary("Tankbeurten", routes.Refuels.startOverviewForCar(car.getId))
            @btnPrimary("Kosten", routes.Costs.showCostsForCar(car.getId))
        </td>
    }{
        <tr>
            <td class="empty-row" colspan="6">
                Geen enkele auto voldoet aan jouw zoekterm(men)
            </td>
        </tr>
    }
    </tbody>
</table>
@pagination(cars)
