@* cartags.scala.html
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Copyright Ⓒ 2014-2015 Universiteit Gent
 * 
 * This file is part of the Degage Web Application
 * 
 * Corresponding author (see also AUTHORS.txt)
 * 
 * Kris Coolsaet
 * Department of Applied Mathematics, Computer Science and Statistics
 * Ghent University 
 * Krijgslaan 281-S9
 * B-9000 GENT Belgium
 * 
 * The Degage Web Application is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * The Degage Web Application is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public License
 * along with the Degage Web Application (file LICENSE.txt in the
 * distribution).  If not, see http://www.gnu.org/licenses/.
 *@

@(car: CarHeaderLong)

<span style = "background-color:darkgoldenrod" class="label label-gps">@car.getSeats zetels</span>
<span style = "background-color:darkgoldenrod" class="label label-gps">@car.getDoors deurs</span>
<span style = "background-color:gray" class="label label-gps">@car.getCarYear</span>

@if(car.getFuel().toString() == "Benzine") {<span style = "background-color:orange" class="label label-gps">@car.getFuel</span>} 
@if(car.getFuel().toString() == "Diesel") {<span style = "background-color:rgb(100, 100, 100)" class="label label-gps">@car.getFuel</span>} 
@if(car.getFuel().toString() == "Elektrisch") {<span style = "background-color:darkgreen" class="label label-gps">@car.getFuel</span>} 
@if(car.getFuel().toString() == "Hybride") {<span style = "background-color:green" class="label label-gps">@car.getFuel</span>}
@if(car.getFuel().toString() == "LPG") {<span style = "background-color:darkolivegreen" class="label label-gps">@car.getFuel</span>}
@if(car.getFuel().toString() == "CNG") {<span style = "background-color:olivedrab" class="label label-gps">@car.getFuel</span>}
@if(car.getFuel().toString() == "Biodiesel") {<span style = "background-color:lightgreen" class="label label-gps">@car.getFuel</span>}
@*car.fueleconomy is km per 100km (moet nog toegevoegd worden)*@

@if(car.isGps){ <span class="label label-gps">gps</span> }
@if(car.isHook){ <span class="label label-hook">trekhaak</span> }
@if(!car.isManual){ <span class="label label-automatic">automaat</span> }
