@* detail.scala.html
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Copyright Ⓒ 2014-2015 Universiteit Gent
 * 
 * This file is part of the Degage Web Application
 * 
 * Corresponding author (see also AUTHORS.txt)
 * 
 * Kris Coolsaet
 * Department of Applied Mathematics, Computer Science and Statistics
 * Ghent University 
 * Krijgslaan 281-S9
 * B-9000 GENT Belgium
 * 
 * The Degage Web Application is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * The Degage Web Application is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public License
 * along with the Degage Web Application (file LICENSE.txt in the
 * distribution).  If not, see http://www.gnu.org/licenses/.
 *@

@(car: Car, privilegedUsers: Iterable[UserHeader], mapDetails: Maps.MapDetails = null)
@import providers.DataProvider
@import db.CurrentUser

@scripts = {
    @js.datetimepicker()
    @js.usesajax()
    @js.userpicker()
    @js.pagination("Cars.showCarCostsPage")
    <script type="text/javascript" src='@routes.Assets.at("javascripts/app/tabsWithHiddenInput.js")'></script>

    <!-- For maps: -->
    <script type='text/javascript' src='@routes.Assets.at("lib/leaflet/leaflet.js")'></script>
    <script src='@routes.Assets.at("javascripts/maps-custom.js")' type="text/javascript"></script>

    @* Used in detailCosts *@
    <script>
    function loadModal ( carId ) {
        $.ajax(myJsRoutes.controllers.Cars.getCarCostModal(carId))
        .done (function (html) {
            $ ("#resultModal").html (html) ;
            $ ('#detailsModal').modal ('show') ;
        })
        .fail (function ( ) {
            // TODO: make clearer
            $ ( "#resultModal" ).html ("Er ging iets mis...") ;
        });
    }
    </script>

    <script>
        userpickerRoute = "@routes.UserPicker.getList()"
    </script>
    <script src='@routes.Assets.at("javascripts/updateCarPrivileges.js")'></script>
}
@stylesheets = {
    <link rel="stylesheet" href='@routes.Assets.at("stylesheets/jquery-ui-1.10.4.custom.min.css")'>
    <link rel="stylesheet" href='@routes.Assets.at("lib/leaflet/leaflet.css")' >
}

@dayOptions(value: String) = {
   @options(value, "0" -> "Zondag", "1" -> "Maandag", "2" -> "Dinsdag", "3" -> "Woensdag", "4" -> "Donderdag", "5" -> "Vrijdag", "6" -> "Zaterdag")
}

@stdlayout("Autodetails", stylesheets, scripts, extrabc=breadcrumb("Auto's", routes.Cars.showCars())) {

    @defining(DataProvider.getUserProvider().getUser()) { user =>

                @if((CurrentUser hasRole UserRole.CAR_ADMIN) || (CurrentUser is car.getOwner.getId)) {
                    @panel(){
                        <div class="col-xs-12">
                            <a class="btn btn-primary btn-sm" href="@routes.Cars.editCar(car.getId)">Auto wijzigen</a>
                            @* <a class="btn btn-primary btn-sm" href="@routes.Reports.getReservationsForOwner">Exporteer ritten</a> *@
                        </div>
                    }
                }

                @detailPartial(car, mapDetails)

                @if((CurrentUser is car.getOwner.getId) || (CurrentUser hasRole UserRole.CAR_ADMIN)) {

                @* Temporarily disabled
                    <!-- Geprivilegeerden -->
                    @detailPrivileged(car.getId,privilegedUsers)
                    <!-- Autogebonden kosten -->
                    @detailCosts(car.getId)
                *@
                <div class="alert alert-warning">
                    <p>De interface voor het opgeven van geprivilegieerden en voor het indienen
                        van autokosten werd tijdelijk verwijderd. Even geduld...</p>
                </div>
                }
    <div id="resultModal"></div>
    }
}
