@* edit.scala.html
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Copyright Ⓒ 2014-2015 Universiteit Gent
 * 
 * This file is part of the Degage Web Application
 * 
 * Corresponding author (see also AUTHORS.txt)
 * 
 * Kris Coolsaet
 * Department of Applied Mathematics, Computer Science and Statistics
 * Ghent University 
 * Krijgslaan 281-S9
 * B-9000 GENT Belgium
 * 
 * The Degage Web Application is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * The Degage Web Application is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public License
 * along with the Degage Web Application (file LICENSE.txt in the
 * distribution).  If not, see http://www.gnu.org/licenses/.
 *@

@(form: Form[Cars.CarModel], car: Car, countryList: List[String])
@* TODO: a lot of code in common with add *@
@import providers.DataProvider
@import db.CurrentUser

@scripts = {
    @js.datetimepicker()
    @js.userpicker()
}

@app("Bewerk auto", scripts=scripts) {
@breadcrumbs{
    @breadcrumb("Dashboard",routes.Dashboard.index)
    @breadcrumb("Bewerk auto")
}
@maincontent("Bewerk auto"){

    @helper.form(routes.Cars.editCarPost(car.getId), 'class -> "form-horizontal", 'enctype -> "multipart/form-data") {
        <div class="row">
            @formErrors(form)
            <div class="col-lg-3">
                @panel("Algemeen", "fa-car"){
                    <div >
                        <img src="@routes.Cars.getPicture(car.getId)" alt="" class="img-responsive">
                    </div>
                    <fieldset>
                        <div class="form-group col-md-6">
                                @helper.checkbox(form("active"), '_label -> "Actief")
                        </div>
                        @if(db.CurrentUser.hasRole(UserRole.CAR_ADMIN)) {
                            @std.userpicker(form("userId"), form("userIdAsString"), "Eigenaar", css="col-md-12")
                        } else {
                            @std.hiddenField(form("userId")) @std.hiddenField(form("userIdAsString"))
                        }
                        @std.textField(form("name"),"Autonaam",required=true)
                        @std.textField(form("brand"),"Merk",required=true)
                        @std.textField(form("type"),"Type",required=true)

                        @* TODO: file type helper *@
                        <div class="form-group">
                            <label class="col-md-12" for="picture">Foto</label>
                            <div class="col-md-12">
                                <input id="picture" name="picture" type="file" class="form-control input-md">
                            </div>
                        </div>
                    </fieldset>
                }
            </div>
            <div class="col-lg-9">
                @panel("Standplaats", "fa-home"){
                    <fieldset>
                        @std.textField(form("address.street"), "Straat", required=true)
                        @std.textField(form("address.num"), "Nummer", required=true)
                        @std.textField(form("address.zipCode"), "Postcode", css="col-md-4", required=true)
                        @std.textField(form("address.city"), "Stad",  css="col-md-8", required=true)
                        <div class="form-group col-md-6">
                            @helper.select(form("address.country"), helper.options(countryList), '_label -> "Land", 'class -> "form-control")
                        </div>
                    </fieldset>
                }
                @panel("Details", "fa-bar-chart-o"){
                    <fieldset>
                        @std.numberField(form("seats"),"Aantal zitplaatsen", css="col-md-6", required=true)
                        @std.numberField(form("doors"),"Aantal deuren", css="col-md-6", required=true)

                        <div class="form-group col-xs-12">
                            @std.checkboxInline(form("gps"),"GPS aanwezig")
                            @std.checkboxInline(form("hook"),"Trekhaak aanwezig")
                            @std.checkboxInline(form("manual"),"Manuele versnellingsbak")
                        </div>
                        @selectFuel(form("fuel"), "Brandstof")
                        @std.textField(form("year"),"Bouwjaar")
                        @std.textField(form("fuelEconomy"), "Gemiddeld verbruik (per 100 km)")
                        @std.textField(form("estimatedValue"), "Geschatte huidige waarde")
                        @std.textField(form("ownerAnnualKm"), "Gemiddeld aantal kilometers (per jaar)")
                        @std.textArea(form("comments"), "Opmerkingen", 6)
                    </fieldset>
                }
                @panel("Technische details", "fa-cogs") {
                    <fieldset>
                        @std.textField(form("licensePlate"), "Nummerplaat", "col-md-6")
                        @std.textField(form("chassisNumber"), "ChassisNumber", "col-md-6")
                        <div class="form-group col-md-6">
                            <label class="control-label" for="file">Inschrijvingsbewijs</label>
                            <div>
                                Huidig: @if(car.getTechnicalCarDetails.getRegistration== null) {
                                    Onbekend
                                } else {
                                    <a href="@routes.Cars.getProof(car.getTechnicalCarDetails.getRegistration.getId)" target="_blank">Link</a>
                                }
                            </div>
                            <input id="file" name="file" type="file" class="form-control input-md">
                        </div>
                    </fieldset>
                }
                @panel("Verzekering", "fa-money") {
                    <fieldset>
                        @std.textField(form("insuranceName"), "Verzekeraar", "col-md-6")
                        @std.datepicker(form("expiration"), "Vervaldatum", "col-md-4")
                        @std.numberField(form("bonusMalus"), "Bonus Malus", "col-md-6")
                        @std.numberField(form("polisNr"), "Polisnummer", "col-md-6")
                    </fieldset>
                }
                @std.submitButton("Wijzigingen opslaan")
            </div>
        </div>
        }
    }
}
