@* editdeprec.scala.html
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Copyright Ⓒ 2014-2015 Universiteit Gent
 * 
 * This file is part of the Degage Web Application
 * 
 * Corresponding author (see also AUTHORS.txt)
 * 
 * Kris Coolsaet
 * Department of Applied Mathematics, Computer Science and Statistics
 * Ghent University 
 * Krijgslaan 281-S9
 * B-9000 GENT Belgium
 * 
 * The Degage Web Application is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * The Degage Web Application is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public License
 * along with the Degage Web Application (file LICENSE.txt in the
 * distribution).  If not, see http://www.gnu.org/licenses/.
 *@

@(form: Form[Cars.DepreciationData], carId: Int, carName: String)

@stdlayout("Afschrijving auto",extrabc=breadcrumb(carName, routes.Cars.detail(carId))) {
   @panel("Wijzig afschrijvingsgegevens voor " + carName, "fa-pencil"){
        @helper.form(routes.Cars.doEditDepreciation(carId)){
           @std.numberField(form("cents"), "Afschrijvingskost in eurocent per 10 km - bijv. 65")
           @std.numberField(form("limit"), "Km-stand waarop auto volledig is afgeschreven")
           @std.numberField(form("last"), "Km-stand vanaf wanneer de afschrijving in rekening moet worden gebracht")
           <div class="col-xs-12">
               <p class="alert alert-warning" id="warning"><strong>Opgelet!</strong> Na het doorsturen kan deze informatie
                    niet meer gemakkelijk worden gewijzigd. Controleer dus of je geen (tik)fouten gemaakt hebt.</p>
           </div>
           @std.submitButton("Doorsturen")
        }
   }
}
