@* edit.scala.html
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Copyright Ⓒ 2014-2015 Universiteit Gent
 * 
 * This file is part of the Degage Web Application
 * 
 * Corresponding author (see also AUTHORS.txt)
 * 
 * Kris Coolsaet
 * Department of Applied Mathematics, Computer Science and Statistics
 * Ghent University 
 * Krijgslaan 281-S9
 * B-9000 GENT Belgium
 * 
 * The Degage Web Application is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * The Degage Web Application is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public License
 * along with the Degage Web Application (file LICENSE.txt in the
 * distribution).  If not, see http://www.gnu.org/licenses/.
 *@

@(form: Form[Cars.CarModel], car: Car)
@* TODO: a lot of code in common with add *@
@import providers.DataProvider
@import db.CurrentUser

@scripts = {
    js.datetimepicker()
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <script>tinymce.init({ selector:'textarea', plugins: [ 'lists' ]  });</script>
}

@stdlayout("Bewerk auto", scripts) {

    @helper.form(routes.Cars.editCarPost(car.getId), 'class -> "form-horizontal", 'enctype -> "multipart/form-data") {
        <div class="row">
            @formErrors(form)
            <div class="col-lg-3">
                @panel("Algemeen", "fa-car"){
                    <div >
                        <img src="@routes.Cars.getPicture(car.getId)" alt="" class="img-responsive">
                    </div>
                    <fieldset>
                        @std.static(car.getOwner.toString,"Eigenaar")
                        @if(db.CurrentUser.hasRole(UserRole.CAR_ADMIN)) {
                            <div class="form-group col-md-6">
                                    @helper.checkbox(form("active"), '_label -> "Actief")
                            </div>
                            @std.textField(form("name"),"Autonaam",required=true)
                        } else {
                            <h2>@car.getName.toString</h2>
                            <strong>Status:</strong>
                            @if(car.isActive) {
                                <span class="label label-success">Actief</span>
                            } else {
                                <span class="label label-danger">Non-actief</span>
                            }
                            <input type="hidden" id="name" name="name" value="@car.getName" />
                            <input type="hidden" id="active" name="active" value="@car.isActive">
                        }
                        @std.textField(form("brand"),"Merk",required=true)
                        @std.textField(form("type"),"Type",required=true)
                    </fieldset>
                }
            </div>
            <div class="col-lg-9">
                @panel("Standplaats", "fa-home"){
                    <fieldset>
                        @addressFields(form)
                    </fieldset>
                }
                @panel("Details", "fa-bar-chart-o"){
                    <fieldset>
                        @std.numberField(form("seats"),"Aantal zitplaatsen", css="col-md-6", required=true)
                        @std.numberField(form("doors"),"Aantal deuren", css="col-md-6", required=true)

                        <div class="form-group col-xs-12">
                            @std.checkboxInline(form("gps"),"GPS aanwezig")
                            @std.checkboxInline(form("hook"),"Trekhaak aanwezig")
                            @std.checkboxInline(form("manual"),"Manuele versnellingsbak")
                        </div>
                        @std.selectEnum(classOf[CarFuel], form("fuel"), "Brandstof")
                        @std.textField(form("year"),"Bouwjaar")
                        @std.textField(form("fuelEconomy"), "Gemiddeld verbruik (per 100 km)")
                        @std.textField(form("estimatedValue"), "Geschatte huidige waarde")
                        @std.textField(form("ownerAnnualKm"), "Gemiddeld aantal kilometers (per jaar)")
                        @std.textArea(form("comments"), "Opmerkingen", 6)
                    </fieldset>
                }
                @panel("Technische details", "fa-cogs") {
                    <fieldset>
                        @std.textField(form("licensePlate"), "Nummerplaat", "col-md-6")
                        @std.textField(form("chassisNumber"), "ChassisNumber", "col-md-6")
                        <div class="form-group col-md-6">
                            <label class="control-label" for="file">Inschrijvingsbewijs</label>
                            <div>
                                Huidig: @if(car.getTechnicalCarDetails.getRegistrationId==0) {
                                    Onbekend
                                } else {
                                    <a href="@routes.Cars.getRegistrationPicture(car.getId)" target="_blank">Link</a>
                                }
                            </div>
                            <input id="file" name="file" type="file" class="form-control input-md">
                        </div>
                    </fieldset>
                }
                @panel("Verzekering", "fa-money") {
                    <fieldset>
                        @std.textField(form("insuranceName"), "Verzekeraar", "col-md-6")
                        @std.datepicker(form("expiration"), "Vervaldatum", "col-md-4")
                        @std.textField(form("bonusMalus"), "Bonus Malus", "col-md-6")
                        @std.textField(form("polisNr"), "Polisnummer", "col-md-6")
                    </fieldset>
                }
                @panel("Pechverhelping", "fa-wrench") {
                    <fieldset>
                        @std.textField(form("assistanceName"), "Pechverhelper", "col-md-6")
                        @std.datepicker(form("assistanceExpiration"), "Vervaldatum", "col-md-4")
                        @std.selectEnum(classOf[CarAssistanceType], form("assistanceType"), "Type", "col-md-6")                        
                        @std.textField(form("assistanceContractNr"), "Contractnummer", "col-md-6")
                    </fieldset>
                }
                @panel("Parkeerkaart", "fa-product-hunt") {
                    <fieldset>
                        @std.textField(form("parkingcardCity"), "Stad/gemeente", "col-md-6")
                        @std.datepicker(form("parkingcardExpiration"), "Vervaldatum", "col-md-4")
                        @std.textField(form("parkingcardZones"), "Zones", "col-md-6")                        
                        @std.textField(form("parkingcardContractNr"), "Contractnummer", "col-md-6")
                    </fieldset>
                }
                @std.submitButton("Wijzigingen opslaan")
            </div>
        </div>
        }
}
