@* approvalrequest.scala.html
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Copyright Ⓒ 2014-2015 Universiteit Gent
 * 
 * This file is part of the Degage Web Application
 * 
 * Corresponding author (see also AUTHORS.txt)
 * 
 * Kris Coolsaet
 * Department of Applied Mathematics, Computer Science and Statistics
 * Ghent University 
 * Krijgslaan 281-S9
 * B-9000 GENT Belgium
 * 
 * The Degage Web Application is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * The Degage Web Application is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public License
 * along with the Degage Web Application (file LICENSE.txt in the
 * distribution).  If not, see http://www.gnu.org/licenses/.
 *@

@(reasons: Iterable[String], form: Form[Approvals.RequestApprovalData], terms: String)

@app("Goedkeuringsaanvraag") {
    @breadcrumbs {
        @breadcrumb("Infosessies", routes.InfoSessions.showUpcomingSessions)
        @breadcrumb("Lidmaatschap aanvragen")
    }
    @maincontent("Lidmaatschap aanvragen"){
        @flashes()
        @if(reasons.iterator.hasNext) {
            @panel("Opgelet!", "fa-exclamation-triangle", "panel-danger"){
            <div class="col-xs-12">
                <p>De volgende informatie ontbreekt nog in je profiel:</p>
                <ul>
                @foreach(reasons){ reason =>
                    <li>@reason</li>
                }
                </ul>
                <a class="btn btn-default" href="@routes.Profile.edit(db.CurrentUser.getId)">Profiel aanvullen</a>
            </div>
            }
        }

        @panel("Lidmaatschap aanvragen"){
            @helper.form(routes.Approvals.requestApprovalPost) {
                @std.checkbox(form("acceptsTerms"), "Ik aanvaard de algemene voorwaarden (zie onderaan)")
                @std.textArea(form("message"), "Opmerkingen", 4)
                @std.submitButton("Aanvraag indienen")
                <div class="form-group col-xs-12" >
                    <label>Algemene voorwaarden</label>
                    <div class="well" style="overflow: auto; max-height:400px;">
                    @Html(terms)    @*TODO: dangerous? *@
                    </div>
                </div>
            }
        }
    }
}
