@* approvaladmin.scala.html
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Copyright Ⓒ 2014-2015 Universiteit Gent
 * 
 * This file is part of the Degage Web Application
 * 
 * Corresponding author (see also AUTHORS.txt)
 * 
 * Kris Coolsaet
 * Department of Applied Mathematics, Computer Science and Statistics
 * Ghent University 
 * Krijgslaan 281-S9
 * B-9000 GENT Belgium
 * 
 * The Degage Web Application is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * The Degage Web Application is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public License
 * along with the Degage Web Application (file LICENSE.txt in the
 * distribution).  If not, see http://www.gnu.org/licenses/.
 *@

@(approval: Approval, user: UserHeader, enrollStatus: EnrollmentStatus, reasons: Iterable[String] = null, form: Form[Approvals.ApprovalAdminData])

@stdlayout("Goedkeuringsaanvraag") {
    @if(reasons.iterator.hasNext) {
        @panel("Opgelet!", "fa-exlamation-triangle", css="panel-danger"){
            <div class="col-xs-12">
                <p>Niet alle gegevens voor deze aanvraag zijn reeds ter beschikking:</p>
                <ul>
                @foreach(reasons){ reason => <li>@reason</li> }
                </ul>
            </div>
        }
    }
    @approvaluserpartial(approval, user, enrollStatus)

    @panel("Aanvraag", "fa-pencil-square-o"){
        @helper.form(routes.Approvals.approvalApproveRejectPost(approval.getId)) {
                @formErrors(form)
                @std.textArea(form("message"),"Opmerkingen", 4)
            <div class="col-sm-12 col-xs-6">
                <button type="submit" class="btn btn-xs btn-success" name="action" value="accept">Aanvaarden (gewoon lid)</button>
                <button type="submit" class="btn btn-xs btn-success" name="action" value="owner">Aanvaarden (eigenaar)</button>
                <button type="submit" class="btn btn-xs btn-danger" name="action" value="reject">Verwerpen</button>
            </div>
        }
    }
}
