@* termsAndConditions.scala.html
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Copyright Ⓒ 2014-2015 Universiteit Gent
 * 
 * This file is part of the Degage Web Application
 * 
 * Corresponding author (see also AUTHORS.txt)
 * 
 * Kris Coolsaet
 * Department of Applied Mathematics, Computer Science and Statistics
 * Ghent University 
 * Krijgslaan 281-S9
 * B-9000 GENT Belgium
 * 
 * The Degage Web Application is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * The Degage Web Application is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public License
 * along with the Degage Web Application (file LICENSE.txt in the
 * distribution).  If not, see http://www.gnu.org/licenses/.
 *@

@* Algemene voorwaarden *@

<h5>Autodelensysteem</h5>

<p>In ons systeem zijn er mensen mét auto en mensen zonder auto. Toch hebben ze allemaal een auto ter beschikking als ze dat willen (en op tijd reserveren). Eén auto wordt dus door verschillende mensen gebruikt.

<h5>Contract</h5>
<p>Als gebruiker bij Dégage! onderteken je een contract, waarin alles wat op deze website uitgelegd wordt, nog eens duidelijk vermeld staat. Je verklaart je dus akkoord met de regeling.

<h5>Eigenaars</h5>
<ul>
    <li>schieten alle kosten voor hun auto voor en zijn verantwoordelijk voor verzekering, taksen, onderhoud</li>
    <li>zorgen ervoor dat die verzekering, taksen in orde zijn en dat de auto in goede staat verkeert</li>
    <li>krijgen een vergoeding per kilometer dat de wagen door iemand anders gebruikt wordt en kunnen zo de gemaakte
        kosten terugwinnen.
    </li>
    <li>zijn omnium verzekerd door het interne Dégage! waarborgensysteem</li>
    <li>regelen zelf de reservaties van hun wagen</li>
</ul>

<h5>Gebruikers</h5>
<ul>
    <li>betalen een kilometervergoeding die overeenkomt met de reële kosten per kilometer;</li>
    <li>betalen een waarborg maar geen abonnementsgeld;</li>
    <li>behandelen de auto als een 'goede huisvader' (m/v);</li>
    <li>houden zich aan het contract dat ze ondertekenden;</li>
    <li>blijven minimaal 1 jaar lid;</li>
    <li>reserveren een auto als ze die nodig hebben en spreken af met de eigenaar voor sleutel;</li>
    <li>vullen na gebruik het bonnetje in;</li>
</ul>

<h5>Goede huisvader (m/v)</h5>
<p>Dit betekent dat men als een normaal voorzichtig mens de goederen behoudt en beheert en de wet respecteert. De hoofdverplichting van de gebruiker is dat de auto in dezelfde staat moet worden teruggegeven.
Euvels en gebreken meldt de gebruiker aan de eigenaar.
De gebruiker respecteert de verkeersregels. Als hij die overtreedt, moet hij en hij alleen de boete betalen.
Een goede huisvader m/v rijdt niet onder invloed en niet te snel. Als de gebruiker die regel overtreedt en een ongeval heeft, moet hij alle kosten betalen. De verzekering is in dat geval genadeloos: ze kan alle schade aan derden op de gebruiker verhalen. Onnodig te zeggen dat die kosten kunnen oplopen tot een bedrag dat een mens van zijn leven niet kan verdienen.
Elke eigenaar heeft een gebruiksreglement voor zijn auto. Daarin staan regels die de eigenaar belangrijk vindt: of je mag roken bijvoorbeeld en eigenaardigheden van de auto zoals de choke, de radio, welke sleutel voor welk sleutelgat. Gebruikers respecteren dit reglement.
</p>

<h5>'Intern verzekeringssysteem'</h5>
<p>Bij een schadegeval kleine gebruikers dragen minder bij dan grote gebruikers aangezien hun waarborg lager is.
Hoe meer leden er zijn, hoe groter de som van de waarborgen wordt. Er is veel kans dat slechts een klein deel van je waarborg moet gebruikt worden voor een schadegeval. Anderszijds is het ook zo dat je zelf ook van dit waarborgsysteem kan genieten als je een ongeluk tegenkomt : je moet zelf niet de volledige waarde van de auto aan de eigenaar terugbetalen.
Als er nog geld in reserve is op de Dégage!-rekening, kan dit eventueel ook gebruikt worden voor het weer aanzuiveren van de waarborgen
Je loopt dus inderdaad het risico (een deel van) je waarborg kwijt te raken. Maar de waarborgsommen zijn zeer democratisch (vinden we zelf) voor het quasi onbeperkt gebruik van meerdere auto's.
</p>

<h5>Particulier</h5>
<p>Er bestaan verschillende systemen om aan autodelen te doen, ook commerciële. Dat is Dégage! in ieder geval niet, er wordt geen winst gemaakt. Binnen de niet-commerciële initiatieven zijn er nog verschillen. Bij de links kan je doorklikken naar sites van andere systemen. Dégage! komt hierop neer: de eigenaars blijven ten allen tijde eigenaar. In sommige andere systemen worden de auto's eigendom van het collectief. Niet zo bij ons. Dégage! is een uitgekiend systeem waarbij zowel eigenaars als gebruikers voordeel doen en waarbij een minimum aan administratie en dergelijke komt kijken.</p>

<h5>Systeem</h5>
<p>Geleed en geordend geheel, complex, geschikt volgens een ordenend beginsel, syn. stelsel.</p>

<h5>Voorschot</h5>
<p>Het voorschot werd in 2011 afgeschaft. Betaalde voorschotten worden bij de waarborg gevoegd.</p>

<h5>Waarborg</h5>
<p>Nieuwe gebruikers betalen bij Dégage! 75 € waarborg als ze lid worden. Na drie maanden wordt die waarborg aangepast aan de hoogte van je verbruik Na die eerste aanpassing wordt de waarborgsom elk jaar aangepast als dat nodig is.
75 € is het laagste bedrag; voor wie minder dan 500 kilometer per drie maanden rijdt. Wie meer rijdt, betaalt meer.
Gebruikers die het systeem verlaten, krijgen hun waarborg geheel of gedeeltelijk terug. De waarborgsommen worden gebruikt bij ongevallen of andere onvoorziene omstandigheden, als een soort interne verzekering. Als die sommen onaangeroerd blijven, kan Dégage! de volledige waarborg terugbetalen.</p>

