/* billing.css
   ===========
*/

@@page {
  size: A4;
}

body {
 font-family: "Liberation Sans", Arial, sans-serif;
 font-size: 75%;
}

#top {
 margin-bottom: 24pt;
}
#top table th {
 font-weight: normal;
 text-align: right;
}
#top table td {
  padding-left: 10pt;
  font-weight: bold;
}

#logo {
    float:right;
}

table .km {
  text-align:center;
}

table .percentage {
  text-align:right;
}

table .numeric {
  text-align:right;
}

#data table {
  border-top: 1pt solid black;
  border-collapse: collapse;
  width: 100%;
  font-size: 85%;
}

#data table thead {
  text-align:center;
}

#data table thead td.caption {
  text-align:center;
  border-bottom: 1pt solid black;
}

#data table tbody td {
  text-align:center;
  border-top: 0.5pt solid black;
  border-bottom: 0.5pt solid black;
  /* width: 12.5%; */
}

#data table tbody td.numeric {
  text-align:right;
}

#data table tbody td.driver {
  text-align: left;
  border-top: 1pt solid black;
  border-bottom: 1pt solid black;
  padding-top: 5pt;
  padding-bottom: 5pt;
}


#data table tfoot {
   padding-top: 3ex;
}

#data table tfoot th {
  border-top: 1pt solid black;
  border-bottom: 1pt solid black;
  padding-top: 3ex;
  text-align: right;
}

#data table tfoot td {
  border-top: 1pt solid black;
}


#left {
  float: left;
  width: 35%;
}
#right {
  float: right;
  width: 60%;
}

#right table {
  width: 100%;
  border-collapse: collapse;
}

#right table tbody {
  border-bottom: 0.5pt solid black;
}

#right table td.filler {
  width: 4em;
}

#right table td.vfiller {
  height: 2ex;
}

#right table tfoot tr th {
  padding-top: 1ex;
  border-top: 1pt solid black;
  border-bottom: 1pt solid black;
  padding-bottom: 3pt;
}

#right table tr td.info {
  padding-top: 1ex;
  border-top: 0.5pt solid black;
  border-bottom: 0.5pt solid black;
  padding-bottom: 3pt;
}

#text {
  clear: both;
}

ul.note {
  font-size: 90%;
  list-style-type: none;
  padding-left: 1em;
}

#text div.highlight {
  background-color: #ffddaa;
}
