@* damagesAdmin.scala.html
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Copyright Ⓒ 2014-2015 Universiteit Gent
 * 
 * This file is part of the Degage Web Application
 * 
 * Corresponding author (see also AUTHORS.txt)
 * 
 * Kris Coolsaet
 * Department of Applied Mathematics, Computer Science and Statistics
 * Ghent University 
 * Krijgslaan 281-S9
 * B-9000 GENT Belgium
 * 
 * The Degage Web Application is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * The Degage Web Application is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public License
 * along with the Degage Web Application (file LICENSE.txt in the
 * distribution).  If not, see http://www.gnu.org/licenses/.
 *@

@scripts = {
    @js.pagination("Damages.showDamagesPageAdmin")
    @js.userpicker()
    <script>
        var yesImage = "@routes.Assets.at("images/tristate-checkbox/yes.png")";
        var noImage = "@routes.Assets.at("images/tristate-checkbox/no.png")";
        var noneImage = "@routes.Assets.at("images/tristate-checkbox/none.png")";
    </script>
    <script src='@routes.Assets.at("javascripts/plugins/tristate-checkbox/main.js")'></script>
}
@stylesheets = {
    <!-- <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/plugins/tristate-checkbox/main.css")"> -->
    @* TODO: remove tristate button and icons? *@
}
@stdlayout("Schadedossiers (beheer)", stylesheets, scripts) {
    @panel("Schadedossiers zoeken", "fa-search") {
        @search.carpicker("damage_car_id", "Auto")
        @search.userpicker("damage_owner_id", "Eigenaar")
        @search.userpicker("damage_user_id", "Bestuurder")
        <div class="col-xs-12">
            <span class="tristate" id="damage_finished"></span>
            <label for="damage_finished">Afgesloten</label>
        </div>
        @search.button("Zoek!")
    }
    @resultsTablePanel()
}
