@scripts = {
    @js.usesajax()
    <script>
        var yesImage = "@routes.Assets.at("images/tristate-checkbox/yes.png")";
        var noImage = "@routes.Assets.at("images/tristate-checkbox/no.png")";
        var noneImage = "@routes.Assets.at("images/tristate-checkbox/none.png")";
    </script>
    <script src='@routes.Assets.at("javascripts/plugins/tristate-checkbox/main.js")'></script>
    <script>
        var route = myJsRoutes.controllers.Damages.showDamagesPageAdmin;
    </script>
    <script src='@routes.Assets.at("javascripts/pagination.js")'></script>
    <script src='@routes.Assets.at("javascripts/userpicker.js")'></script>
}
@stylesheets = {
    <link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/plugins/dataTables/dataTables.bootstrap.css")'>
    <!-- <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/plugins/tristate-checkbox/main.css")"> -->
    @* TODO: remove tristate button and icons? *@
    <link href="@routes.Assets.at("stylesheets/plugins/userpicker.css")" rel="stylesheet">
}
@app("Schadedossiers (Admin)", stylesheets, scripts) {

    <div id="page-header-wrapper">
        <ol class="breadcrumb">
            <li><a href="@routes.Dashboard.index">Dashboard</a></li>
            <li class="active">Schadedossiers (Admin)</li>
        </ol>
    </div>

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Schadedossiers (Admin)</h1>
                @flashes()

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-search fa-fw"></i> Schadedossiers zoeken
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <p>
                                    Bekijk hier als admin alle schadedossiers in het systeem.
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 col-md-4">
                                <div class="userpicker" data-url="@routes.CarPicker.getList()">
                                    <input type="text" data-toggle="dropdown" class="form-control input-md" placeholder="Auto"/>
                                    <input type="hidden" class="searchTextField" name="damage_car_id" value="" />
                                    <div class="viewId"></div>
                                    <ul class="dropdown-menu" role="menu"></ul>
                                </div>
                            </div>
                            <div class="col-xs-6 col-md-4">
                                <div class="userpicker" data-url="@routes.UserPicker.getList()">
                                    <input type="text" data-toggle="dropdown" class="form-control input-md" placeholder="Eigenaar"/>
                                    <input type="hidden" class="searchTextField" name="damage_owner_id" value="" />
                                    <div class="viewId"></div>
                                    <ul class="dropdown-menu" role="menu"></ul>
                                </div>
                            </div>
                            <div class="col-xs-6 col-md-4">
                                <div class="userpicker" data-url="@routes.UserPicker.getList()">
                                    <input type="text" data-toggle="dropdown" class="form-control input-md" placeholder="Bestuurder"/>
                                    <input type="hidden" class="searchTextField" name="damage_user_id" value="" />
                                    <div class="viewId"></div>
                                    <ul class="dropdown-menu" role="menu"></ul>
                                </div>
                            </div>
                        </div><br />
                        <div class="row">
                            <div class="col-md-12">
                                <span class="tristate" id="damage_finished"></span>
                                <label for="damage_finished">Afgelopen</label>
                            </div>
                        </div>

                        <hr />
                        <div class="row">
                            <div class="col-xs-4">
                                <div class="btn-group btn-group">
                                    <button id="searchButton" class="btn btn-success">Zoek!</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div id="resultsTable" class="table-responsive">
                            <!-- Here comes the loaded table-->
                        </div>
                    </div>
                        <!-- /.panel-body -->
                </div>
                    <!-- /.panel -->
            </div>
                <!-- /col-lg-12 -->
        </div>
    </div>
}