@* availablecarspage.scala.html
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Copyright Ⓒ 2014-2015 Universiteit Gent
 * 
 * This file is part of the Degage Web Application
 * 
 * Corresponding author (see also AUTHORS.txt)
 * 
 * Kris Coolsaet
 * Department of Applied Mathematics, Computer Science and Statistics
 * Ghent University 
 * Krijgslaan 281-S9
 * B-9000 GENT Belgium
 * 
 * The Degage Web Application is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * The Degage Web Application is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public License
 * along with the Degage Web Application (file LICENSE.txt in the
 * distribution).  If not, see http://www.gnu.org/licenses/.
 *@

@(cars: Iterable[CarHeaderLong], page : Int, numberOfCars : Int, numberOfPages: Int, fromString: String, untilString: String)
<table class="table table-striped table-bordered table-hover no-footer" id="dataTables-cars">
    <thead>
        <tr role="row">
            <th name="name" class="sortable">Naam</th>
            <th>Zitplaatsen</th>
            <th>&nbsp;</th>
            <th>Standplaats</th>
            <th>Actie</th>
        </tr>
    </thead>
    <tbody>
    @foreach.trOrElse(cars){ car =>
        <td> <a href="@routes.Cars.detail(car.getId)">@car.getName</a></td>
        <td>@car.getSeats</td>
        <td>@views.html.cars.cartags(car)</td>
        <td>@car.getLocation</td>
        <td>
            <div class="btn-group">
                @btnSuccess("reserveer", routes.WFCreate.create(car.getId,fromString,untilString))
            </div>
        </td>
    }{
        <tr>
            <td colspan="6" class="empty-row">
                Geen resultaten.
            </td>
        </tr>
    }
    </tbody>
</table>
<p id="pagination" name="@numberOfCars,@numberOfPages"></p>
