@* availablecarspage.scala.html
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Copyright Ⓒ 2014-2015 Universiteit Gent
 * 
 * This file is part of the Degage Web Application
 * 
 * Corresponding author (see also AUTHORS.txt)
 * 
 * Kris Coolsaet
 * Department of Applied Mathematics, Computer Science and Statistics
 * Ghent University 
 * Krijgslaan 281-S9
 * B-9000 GENT Belgium
 * 
 * The Degage Web Application is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * The Degage Web Application is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public License
 * along with the Degage Web Application (file LICENSE.txt in the
 * distribution).  If not, see http://www.gnu.org/licenses/.
 *@

@(cars: Page[CarHeaderLong], fromString: String, untilString: String)

<div id="resultsTable" class="table-responsive col-xs-12">
        <div class="row">
                <div class="col-md-1">
                    <table class="table table-striped table-bordered table-hover no-footer" id="dataTables-cars" width='10%'>
                        <thead>
                            <tr role="row">
                                <th name="name" class="sortable">Naam</th>
                            </tr>
                        </thead> 
                    </table>           
                </div>
            </div>
                
    @foreach.trOrElse(cars){ car =>
        <style>#rij:hover{background-color:beige}</style>
        <div class="row" id="rij" style=" margin-bottom:4px">
        <div class="col-md-1" > <a role="button" data-toggle="collapse" href="#collapse-car-@car.getId" aria-expanded="false" aria-controls="collapse-car">@car.getName</a></div>
        <div class="col-md-3" >
            <div  class="btn-group">
                    @btnPrimary("Reserveer", routes.Calendars.indexWithCar(car.getName,car.getId))
                    &nbsp;
                    @car.getBrand @car.getType
            </div>

        </div>
        <div class="col-md-4" >        
            @views.html.cars.cartags(car)
        </div>
        <div class="col-md-4" >@car.getLocation</div>
        </div>
        <div class="row">
        <div style ="margin-left:20px;  margin-top:5px; background-color:beige" class="row collapse" id="collapse-car-@car.getId" >           
            <div class="col-md-2"><img style="width:300px;" src="@routes.Cars.getPicture(car.getId)" alt="" class="img-responsive"></div>
            <div  class="col-md-10">@Html(car.getComments)</div> 
        </div>
        </div>
    }{
        <div class ="row">
            <div class="col-12">
                Geen resultaten.
            </div>
        </div>
    }
</div>
@pagination(cars)

