@* carsforreservation.scala.html
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Copyright Ⓒ 2014-2015 Universiteit Gent
 * 
 * This file is part of the Degage Web Application
 * 
 * Corresponding author (see also AUTHORS.txt)
 * 
 * Kris Coolsaet
 * Department of Applied Mathematics, Computer Science and Statistics
 * Ghent University 
 * Krijgslaan 281-S9
 * B-9000 GENT Belgium
 * 
 * The Degage Web Application is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * The Degage Web Application is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public License
 * along with the Degage Web Application (file LICENSE.txt in the
 * distribution).  If not, see http://www.gnu.org/licenses/.
 *@

@(carList: Iterable[CarHeaderLong], user: User)

@scripts = {
    <script>
        var map;
        function initMap() {
            var center = {lat: 51.0535, lng: 3.7304};
            var centerLabel = null;
            if ('@user.getAddressResidence().getLat()' !== undefined && parseFloat('@user.getAddressResidence().getLat()') > 0) {
                center = {lat: parseFloat('@user.getAddressResidence().getLat()'), lng: parseFloat('@user.getAddressResidence().getLng()')};
                centerLabel = 'Thuis';
            }
            var map = new google.maps.Map(document.getElementById('map'), {
              zoom: 15,
              center: center
            });
            if (centerLabel !== null) {
                var centerMarker = new google.maps.Marker({
                  map: map,
                  position: center,
                  label: centerLabel,
                  icon: 'http://maps.google.com/mapfiles/ms/icons/blue.png'
                });
            }
            $('#resultsTable > table > tbody  > tr').each( function(index, el) {
                var firstEl = $(el).first();
                var aTag = $(firstEl).find('a')[0];
                var tdTag = $(firstEl).find('td')[0];
                var locationTag = $(firstEl).find('td')[3];
                var info = $(firstEl).find('td')[1].innerText;
                var address = $(firstEl).find('td')[3].innerText;
                var comments = $($(firstEl).find('td')[4]).html();
                var latLng = JSON.parse($(firstEl).find('td')[5].innerText);
                var contentString = '<h3>'+tdTag.innerText+'&nbsp;&nbsp;&nbsp;&nbsp;<a style="margin-left: 30" class="btn btn-lnk btn-primary" href="'+aTag+'"/>Reserveer</a></h3><h5>'+info+'</h5><p>'+address+'</p>'+comments;
                var infowindow = new google.maps.InfoWindow({
                  content: contentString
                });
                if (parseFloat(latLng.lat) > 0) {
                    var marker = new google.maps.Marker({
                      map: map,
                      position: latLng,
                      label: tdTag.innerText
                    });
                    marker.addListener('click', function() {
                        infowindow.open(map, marker);
                    });                  
                }  
            })
          } 
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD1rykJueTRpT3slqiovYfm-YESfq0sh4U&callback=initMap"></script>
}

@stdlayout("Reserveer een auto", sheets("taglabels"), scripts=scripts) {

    @panel("De autovloot", "fa-car"){
        <div id="map" class="map col-xs-12 col-lg-8"></div>
        <div id="resultsTable" class="table-responsive col-xs-12">
            <h4>Klik op de autonaam om de auto te reserveren.</h4>
            <table class="table table-striped table-bordered table-hover no-footer" id="dataTables-cars">
                <thead>
                    <tr role="row">
                        <th>Naam</th>
                        <th>Merk/Type</th>
                        <th>&nbsp;</th>
                        <th>Standplaats</th>
                        <th>Opmerkingen</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach.tr(carList) { car =>
                        <td><a href='@routes.Calendars.indexWithCar(car.getName,car.getId)'>@car.getName</a></td>
                        <td>@car.getBrand @car.getType</td>
                        <td>@cars.cartags(car)</td>
                        <td>@car.getLocation.getStreet @car.getLocation.getNum, @car.getLocation.getCity</td>
                        <td>@Html(car.getComments) </td>
                        <td style="display: none;">{"lat": @car.getLocation.getLat, "lng": @car.getLocation.getLng}</td> 
                    }
                </tbody>
            </table>
        </div>
    }
}
