@* carsforreservation.scala.html
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Copyright Ⓒ 2014-2015 Universiteit Gent
 * 
 * This file is part of the Degage Web Application
 * 
 * Corresponding author (see also AUTHORS.txt)
 * 
 * Kris Coolsaet
 * Department of Applied Mathematics, Computer Science and Statistics
 * Ghent University 
 * Krijgslaan 281-S9
 * B-9000 GENT Belgium
 * 
 * The Degage Web Application is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * The Degage Web Application is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public License
 * along with the Degage Web Application (file LICENSE.txt in the
 * distribution).  If not, see http://www.gnu.org/licenses/.
 *@

@(carList: Iterable[CarHeaderLong])

@scripts = {
    <script>
        var map;
        function initMap() {
            var ghent = {lat: 51.0535, lng: 3.7304};
            var geocoder = new google.maps.Geocoder();
            geocoder.geocode({'address': 'Noordstraat 16, 9000 Gent'}, function(results, status) {
              if (status === 'OK') {
                var map = new google.maps.Map(document.getElementById('map'), {
                  zoom: 14,
                  center: ghent
                });
                map.setCenter(results[0].geometry.location);
                console.log('it', '@carList.iterator().size');
                var it = '@carList.iterator()';
                console.log('it', it);
                console.log('it.next');
                console.log(it.next);
                console.log('carList.length', '@carList.iterator().next');
                console.log('carList.length', '@carList.iterator().next');
                console.log('carList.length', 'it.next().getId()');
                var marker = new google.maps.Marker({
                  map: map,
                  position: results[0].geometry.location,
                  label: 'testcar' 
                });
                marker.addListener('click', function() {
                    alert('redirect to ...');
                });
              } 
            });
        }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD1rykJueTRpT3slqiovYfm-YESfq0sh4U&callback=initMap"></script>
}

@stdlayout("Reserveer een auto", sheets("taglabels"), scripts=scripts) {

    @panel("De autovloot", "fa-car"){
        <div id="map" class="col-xs-12"></div>
        <div id="resultsTable" class="table-responsive col-xs-12">
            <p>Klik op de autonaam om de auto te reserveren.</p>
            <table class="table table-striped table-bordered table-hover no-footer" id="dataTables-cars">
                <thead>
                    <tr role="row">
                        <th>Naam</th>
                        <th>Merk/Type</th>
                        <th>&nbsp;</th>
                        <th>Standplaats</th>
                        <th>Opmerkingen</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach.tr(carList) { car =>
                        <td><a href='@routes.Calendars.indexWithCar(car.getName,car.getId)'>@car.getName</a></td>
                        <td>@car.getBrand @car.getType</td>
                        <td>@cars.cartags(car)</td>
                        <td>@car.getLocation.getStreet, @car.getLocation.getCity</td>
                        <td>@car.getComments </td>
                    }
                </tbody>
            </table>
        </div>
    }
}
