@* carsforreservation.scala.html
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Copyright Ⓒ 2014-2015 Universiteit Gent
 * 
 * This file is part of the Degage Web Application
 * 
 * Corresponding author (see also AUTHORS.txt)
 * 
 * Kris Coolsaet
 * Department of Applied Mathematics, Computer Science and Statistics
 * Ghent University 
 * Krijgslaan 281-S9
 * B-9000 GENT Belgium
 * 
 * The Degage Web Application is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * The Degage Web Application is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public License
 * along with the Degage Web Application (file LICENSE.txt in the
 * distribution).  If not, see http://www.gnu.org/licenses/.
 *@

@(carList: Iterable[CarHeaderLong], user: User)

@scripts = {
    <script>
        var map;
        function initMap() {
            var center = {lat: 51.0535, lng: 3.7304};
            var centerLabel = null;
            if ('@user.getAddressResidence().getLat()' !== undefined && parseFloat('@user.getAddressResidence().getLat()') > 0) {
                center = {lat: parseFloat('@user.getAddressResidence().getLat()'), lng: parseFloat('@user.getAddressResidence().getLng()')};
                centerLabel = 'Thuis';
            }
            map = new google.maps.Map(document.getElementById('map'), {
              zoom: 15,
              center: center
            });
            if (centerLabel !== null) {
                var centerMarker = new google.maps.Marker({
                  map: map,
                  position: center,
                  label: centerLabel,
                  icon: 'http://maps.google.com/mapfiles/ms/icons/blue.png'
                });
            }
            $('#resultsTable > div').each( function(index, el) {
                var firstEl     = $(el).first();
                var aTag        = $(firstEl).find('a')[0];
                const latLngTag = $(firstEl).find('a')[1];
                var latLng      = JSON.parse(latLngTag.innerText);
                var tdTag       = $(firstEl).find('a')[2];
                var autoFiche   = $(firstEl).find('a')[3].innerText;
                var imgLink     = $(firstEl).find('a')[4].innerText;
                var info        = $(firstEl).find('a')[5].innerText;
                var reserveer   = $(firstEl).find('a')[7];
                console.log(reserveer)
                var information = $(firstEl).find('div')[1];
                //var labels      = $(firstEl).find('div')[2];
                var address     = $(firstEl).find('div')[4].innerText;
                var comments    = $(firstEl).find('div')[8].innerText;

                var imgTag = '<img src=' + imgLink + ' alt="" width="150px" class="img-responsive">';
                var contentString ='<table><tr><td>'+imgTag+'</td><td style="padding-left:12px;"><h3>'+aTag.innerText+
                '&nbsp;&nbsp;&nbsp;<a style="margin-left: 30" class="btn btn-lnk btn-primary" href="'+reserveer+
                '"/>Reserveer</a><a style="margin-left: 30" class="btn btn-lnk btn-warning" href="'+autoFiche+'"/>Autofiche</a></h3><h5>'+info+'</h5>'
                    + '<p>'+address+'</p></td></tr></table>' + comments;
                

                var infowindow = new google.maps.InfoWindow({});
                if (parseFloat(latLng.lat) > 0) {
                    var marker = new google.maps.Marker({
                      map: map,
                      position: latLng,
                      label: tdTag.innerText
                    });
                    marker.addListener('click', function() {
                        infowindow.setContent(contentString);
                        infowindow.open(map, marker);
                    });                  
                }  
            })
        }
        function centerMap(lat, lng) {
            var center = {lat: parseFloat(lat), lng: parseFloat(lng)};
            map.setCenter(center);
            var cityCircle = new google.maps.Circle({
                strokeColor: '#497EFF',
                strokeOpacity: 0.8,
                strokeWeight: 2,
                fillColor: '#497EFF',
                fillOpacity: 0.35,
                map: map,
                center: center,
                radius: 30
              });
        } 
        $('.car-popover').popover({html: true, container: 'table#dataTables-cars'});
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD1rykJueTRpT3slqiovYfm-YESfq0sh4U&callback=initMap"></script>
}


@stdlayout("Reserveer een auto", sheets("taglabels"), scripts=scripts) {

    @panel("De autovloot", "fa-car"){
        <div id="map" class="map col-xs-12 col-lg-8 col-md-12"></div>
        <div id="resultsTable" class="table-responsive col-xs-12" style="max-height: 500px; overflow-y: scroll; padding-left:40px; margin-top: 10px;">
                <style>
                #rij:hover{background-color:beige}
                </style>
         @foreach.tr(carList) { car =>
            <div class="row" style ="margin-bottom:2px;">
                    <div class="row" id="rij">
                <div class = "col-md-1 col-sm-1">
                    <a  role="button" data-toggle="collapse" href="#collapseExample-@car.getId" aria-expanded="false" aria-controls="collapseExample">@car.getName</a>&nbsp
                    <a style ="display:none">{"lat": @car.getLocation.getLat,"lng": @car.getLocation.getLng}</a>
                    <a style ="display:none"></a>
                    <a style ="display:none">@routes.Cars.detail(car.getId)</a>
                    <a style ="display:none">@routes.Cars.getPicture(car.getId)</a>
                    <a style ="display:none">@car.getBrand @car.getType</a>
                </div>
                <div   class ="col-md-4 col-sm-4" > 
                    <a>@btnPrimary("Reserveer", routes.Calendars.indexWithCar(car.getName,car.getId))</a> &nbsp;                      
                    <i class="fa fa-map-marker" role="button" aria-hidden="true" onClick="centerMap(@car.getLocation.getLat, @car.getLocation.getLng)"></i>&nbsp
                    <a role="button" href="@routes.Cars.detail(car.getId)"><i style="color:black" class="fa fa-info" aria-hidden="true"></i></a>&nbsp;
                    @car.getBrand @car.getType
                </div>
                <div   class= "col-md-4 col-sm-4">@cars.cartags(car)</div>
                <div   class= "col-md-3 col-sm-3">@car.getLocation.getStreet, @car.getLocation.getCity</div>
                </div>
                <div style ="margin-left:2px; background-color:beige" class="collapse row " id='collapseExample-@car.getId' >                                
                        <div class = "row">&nbsp; </div>
                    <div class="col-md-2"><img style ="width:300px" src="@routes.Cars.getPicture(car.getId)" alt="" class="img-responsive"></div>
                    <div class="col-md-10">@Html(car.getComments)</div> 
                </div>
            </div>
        }
        </div>
    }
}