@* overviewpanel.scala.html
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Copyright Ⓒ 2014-2015 Universiteit Gent
 * 
 * This file is part of the Degage Web Application
 * 
 * Corresponding author (see also AUTHORS.txt)
 * 
 * Kris Coolsaet
 * Department of Applied Mathematics, Computer Science and Statistics
 * Ghent University 
 * Krijgslaan 281-S9
 * B-9000 GENT Belgium
 * 
 * The Degage Web Application is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * The Degage Web Application is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public License
 * along with the Degage Web Application (file LICENSE.txt in the
 * distribution).  If not, see http://www.gnu.org/licenses/.
 *@

@(title: String, faClass: String, ofc: Calendars.OverviewForCar,
                 percentage:Int = 15)(header: => Html)(footer: => Html)

@* Overview panel for use in overview and overviewcar templates. *@

@import util.OverviewLine._
@panel(title,faClass){
    <div class="col-xs-12">
        <div id="car-availability-panel">
            <table class="overview">
                @header
                <tr>
                    <th class="res-car">&nbsp;</th>
                    @for(i <- START_HOUR until END_HOUR) {
                        <th class="res-hour" colspan="@INTERVALS_PER_HOUR"
                            width="@((100.0-percentage)/(END_HOUR-START_HOUR))%">@i:00</th>
                    }
                </tr>
                @foreach.tr(ofc.lines) { line =>
                    <th class="res-car" width="@percentage%">@line.lineHeader</th>
                    @for(str <- line.freeTimes){
                       <td class="@if(str==null){res-notfree}else{res-free}">
                           @if(str!=null) {
                                <a href='@routes.WFCreate.create(line.carId,str,"")'>&nbsp;</a>
                           }
                       </td>
                    }
                }
                <tr>
                    <td colspan="@(NUMBER_OF_INTERVALS+1)" class="text-right">
                        <b>Legende:</b>
                        <span class="res-label res-notfree">Bezet</span>
                    </td>
                </tr>
            </table>
            <p>Klik op het eerste kwartier van een periode om een reservatie te maken.</p>
            <a href="#1" onclick="loadCarData(@ofc.id, '@ofc.previousWeek')">Load car data << @ofc.previousWeek</a>
        </div>
        @footer
    </div>
}
