@* carInvoice.scala.html
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Copyright Ⓒ 2014-2015 Universiteit Gent
 *
 * This file is part of the Degage Web Application
 *
 * Corresponding author (see also AUTHORS.txt)
 *
 * Kris Coolsaet
 * Department of Applied Mathematics, Computer Science and Statistics
 * Ghent University
 * Krijgslaan 281-S9
 * B-9000 GENT Belgium
 *
 * The Degage Web Application is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * The Degage Web Application is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with the Degage Web Application (file LICENSE.txt in the
 * distribution).  If not, see http://www.gnu.org/licenses/.
 *@

@import com.google.common.base.Strings;

@(billing: Billing, billNr: String, car: CarHeaderShort, owner: UserHeader,
  tables: List[Billings.OwnerTable], totals: Billings.ShortInvoiceLine,
  details: BillingDetailsCar, remainingValue: Int, struct: String)

@cents(v:Int)={
    @("0,%03d".format(v))
}

<html>
   <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
        <link rel="stylesheet" media="print" href="/public/stylesheets/billing.css" /> @* Important: href must start with / *@
   </head>
   <body>
     <div>
      @defining(-details.getRecuperatedCarCosts+details.getOwnerFuelDue-details.getOwnerFuelPaid-details.getRecuperatedDepreciationCost) { total =>
      <div id="logo"><img src='/public/images/logo-brief-2.5in.png'  width="2.5in"/></div>
      <div id="top">
          <table>
              <tbody>
                  <tr><th>Afrekening n°:</th><td>@billNr</td></tr>
                  <tr><th>Datum:</th><td>@Utils.toLocalizedDateString(billing.getOwnersDate)</td></tr>
                  <tr><th>Auto:</th><td>@car.getName</td></tr>
                  <tr><th>Eigenaar:</th><td>@owner.getFullName</td></tr>
                  <tr><th>Periode:</th>
                      <td>
                          @Utils.toLocalizedDateString(billing.getStart) -
                          @Utils.toLocalizedDateString(billing.getLimit minusDays 1)
                      </td>
                  </tr>
              </tbody>
          </table>
      </div>
      <div id="left">
          <div id="data">
              <table>
                  <thead>
                  <tr>
                      <td class="caption" colspan="3">RITTEN MET DE EIGEN AUTO</td>
                  </tr>
                  <tr>
                      <th>Datum</th>
                      <th>Km</th>
                      <th>Tank-</th>
                  </tr>
                  <tr>
                      <td></td>
                      <td></td>
                      <th>beurten</th>
                  </tr>
                  </thead>
                  <tbody>
                      @if(tables.size>1) {
                        @foreach(tables)(table => carInvoicePartWithSubtotals(table))
                      } else {
                        @foreach(tables)(table => carInvoicePart(table))
                      }
                  </tbody>
                  <tfoot>
                      <tr>
                          <th>Totalen:</th>
                          <th class="km">@totals.km</th>
                          <th>@data.EurocentAmount.toString(totals.fuelCost)</th>
                      </tr>
                  </tfoot>
              </table>
          </div>
      </div>
      <div id="right">
        <table>
            <tbody>
               <tr>
                   <th>Totaal aantal kms deze periode</th>
                   <td class="km">@details.getTotalKm</td>
               </tr>
               <tr>
                   <td>door eigenaar(s) gereden kms</td>
                   <td class="km">@details.getOwnerKm</td>
               </tr>
               <tr>
                   <td>% kms eigenaar</td>
                   <td class="km">@if(details.getTotalKm > 0) {
                     @(100*details.getOwnerKm/details.getTotalKm)%
                   } else {
                     -
                   }</td>
               </tr>
               <tr>
                   <td>door ontleners gereden kms</td>
                   <td class="km">@(details.getTotalKm-details.getOwnerKm)</td>
               </tr>
               <tr>
                   <td>% gedeelde kms</td>
                   <td class="km">@if(details.getTotalKm > 0) {
                     @(100*(details.getTotalKm-details.getOwnerKm)/details.getTotalKm)%
                   } else {
                     -
                   }</td>
               </tr>
               <tr>
                   <td class="vfiller"></td>
               </tr>
               <tr><th>1. Afschrijving van de auto</th></tr>
               <tr>
                   <td>af te schrijven kms</td>
                   <td class="km">@details.getDepreciationKm</td><td/>
               </tr>
               <tr>
                   <td>afschrijving per km</td>
                   <td class="numeric">@cents(details.getDepreciationFactor) €</td><td/>
               </tr>
               <tr>
                   <td>af te schrijven waarde</td>
                   <td class="numeric">@data.EurocentAmount.toString(details.getDepreciationFactor*details.getDepreciationKm/10) €</td>
               </tr>
               <tr>
                   <th>recuperatie afschrijving</th>
                   <td></td>
                   <th class="numeric">@data.EurocentAmount.toString(-details.getRecuperatedDepreciationCost)  €</th>
               </tr>
               <tr>
                   <td class="vfiller"></td>
               </tr>
               <tr><th>2. Autokosten</th></tr>
               <tr>
                   <td>autokosten voor deze periode</td>
                   <td class="numeric">@data.EurocentAmount.toString(details.getCarCosts) €</td>
               </tr>
               <tr>
                   <td>autokost per km</td>
                   @if(details.getTotalKm > 0) {
                      <td class="numeric">
                        @cents(details.getCarCosts*10/details.getTotalKm) €
                      </td>
                   } else {
                     <td></td>
                   }
               </tr>
               <tr>
                   <th>recuperatie autokosten</th>
                   <td></td>
                   <th class="numeric">@data.EurocentAmount.toString(-details.getRecuperatedCarCosts)  €</th>
               </tr>
               <tr>
                   <td class="vfiller"></td>
               </tr>
               <tr><th>3. Brandstof</th></tr>
               <tr>
                   <td>totaal bedrag tankbeurten</td>
                   <td class="numeric">@data.EurocentAmount.toString(details.getTotalFuelCost) €</td>
               </tr>
               <tr>
                   <td>brandstofprijs per km</td>
                   <td class="numeric">@cents(details.getFuelCostFactor) €</td>
               </tr>
                <tr>
                    <td>te betalen brandstof eigenaar</td>
                    <td class="numeric">@data.EurocentAmount.toString(details.getOwnerFuelDue) €</td>
                </tr>
                <tr>
                    <td>reeds betaalde brandstof door eigenaar</td>
                    <td class="numeric">@data.EurocentAmount.toString(details.getOwnerFuelPaid) €</td>
                </tr>
               <tr>
                   <th>saldo brandstof</th> <td/>
                   <th class="numeric">@data.EurocentAmount.toString(details.getOwnerFuelDue-details.getOwnerFuelPaid)  €</th>
               </tr>
               <tr><td class="vfiller"></td></tr>
               <tr>
                   <td class="info" colspan="4">Ter informatie:</td>
               </tr>
               <tr>
                   <td>kilometerprijs in deze periode (1 + 2 + 3)</td>

                     @if(details.getTotalKm > 0) {
                        <td class="numeric">
                          @cents((10*(details.getTotalFuelCost+details.getCarCosts)+details.getDepreciationFactor*details.getDepreciationKm)/details.getTotalKm) €
                        </td>
                     } else {
                       <td></td>
                     }
                   </td>
               </tr>
               <tr>
                   <td>terugverdienbedrag (1 + 2)</td>
                   <td class="numeric">@data.EurocentAmount.toString(-details.getRecuperatedCarCosts-details.getRecuperatedDepreciationCost) €</td>
               </tr>
               <tr>
                   <td>waarde van de auto op @Utils.toLocalizedDateString(billing.getLimit minusDays 1)</td>
                   <td class="numeric">@remainingValue&nbsp €</td>
               </tr>
               <tr>
                   <td>kilometerstanden </td>
                   <td class="numeric">@details.getFirstKm - @details.getLastKm</td>
               </tr>
               <tr>
                   <td class="vfiller"></td>
               </tr>
            </tbody>
            <tfoot>
              <tr><td class="vfiller"></td></tr> @* vertical fill *@
               <tr>
                  @if(total > 0){
                      <th colspan="2">TOTAAL TE BETALEN:</th>
                  }else{
                      <th colspan="2">Totaal te ontvangen:</th>
                  }
                  <th class="numeric">@data.EurocentAmount.toString(total)  €</th>
              </tr>
            </tfoot>
        </table>
      </div>
      <div id="text">
        @if(total > 0){
            <div class="highlight">
            <p>Gelieve dit bedrag te storten op rekeningnummer
                <b>IBAN BE78 5230 8045 2986</b> - BIC code TRIOBEBB,
            met vermelding
            van de gestructureerde mededeling <b>@struct</b>. </p>
            <p>De uiterste betalingsdatum is
                <b>@(Utils.toLocalizedDateString(billing.getDriversDate.plusDays(14)))</b>.
            </p>
            </div>
        }else{
            <p>Dit bedrag zal door ons worden terugbetaald.</p>
        }
        <ul class="note">
        <li>Ben je niet akkoord met deze afrekening, reageer dan binnen de 7 dagen met een e-mail naar
            de administratie (admin@@degage.be).</li>
        </ul>
      @degageAddress(billing.getId)
      </div>
   }
 </div>
   </body>
</html>
