@* carInvoice.scala.html
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Copyright Ⓒ 2014-2015 Universiteit Gent
 * 
 * This file is part of the Degage Web Application
 * 
 * Corresponding author (see also AUTHORS.txt)
 * 
 * Kris Coolsaet
 * Department of Applied Mathematics, Computer Science and Statistics
 * Ghent University 
 * Krijgslaan 281-S9
 * B-9000 GENT Belgium
 * 
 * The Degage Web Application is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * The Degage Web Application is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public License
 * along with the Degage Web Application (file LICENSE.txt in the
 * distribution).  If not, see http://www.gnu.org/licenses/.
 *@

@import com.google.common.base.Strings;

@(billing: Billing, billNr: String, car: CarHeaderShort, owner: UserHeader)

<html>
   <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
        <link rel="stylesheet" media="print" href="/public/stylesheets/billing.css" /> @* Important: href must start with / *@
   </head>
   <body>
      <div id="logo"><img src='/public/images/logo-brief-2.5in.png'  width="2.5in"/></div>
      <div id="top">
          <table>
              <tbody>
                  <tr><th>Afrekening n°:</th><td>@billNr</td></tr>
                  <tr><th>Datum:</th><td>@Utils.toLocalizedDateString(billing.getOwnersDate)</td></tr>
                  <tr><th>Auto:</th><td>@car.getName</td></tr>
                  <tr><th>Eigenaar:</th><td>@owner.getFullName</td></tr>
                  <tr><th>Periode:</th>
                      <td>
                          @Utils.toLocalizedDateString(billing.getStart) -
                          @Utils.toLocalizedDateString(billing.getLimit minusDays 1)
                      </td>
                  </tr>
              </tbody>
          </table>
      </div>
      <div id="left">
          <div id="data">
              <table>
                  <thead>
                     <tr>
                         <th>Auto</th>
                         <th>Datum</th>
                         <th>Tank-</th>
                     </tr>
                      <tr>
                          <td></td>
                          <td></td>
                          <th>beurten</th>
                      </tr>
                  </thead>
                  <tbody>
                  </tbody>
                  <tfoot>
                      <tr>
                          <th>Totalen:</th>
                          <th></th>
                          <th></th>
                      </tr>
                  </tfoot>
              </table>
          </div>
      </div>
      <div id="right">

      </div>
      <div id="text">
          <ul class="note">
            <li>Ben je niet akkoord met deze afrekening, reageer dan binnen de 7 dagen met een e-mail naar
                de administratie (admin@@degage.be).</li>
          </ul>
          <p>Degage! vzw - Fuchsiastraat 81, 9000 Gent</p>
      </div>
   </body>
</html>
