@* userInvoiceFinal.scala.html
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Copyright Ⓒ 2014-2015 Universiteit Gent
 *
 * This file is part of the Degage Web Application
 *
 * Corresponding author (see also AUTHORS.txt)
 *
 * Kris Coolsaet
 * Department of Applied Mathematics, Computer Science and Statistics
 * Ghent University
 * Krijgslaan 281-S9
 * B-9000 GENT Belgium
 *
 * The Degage Web Application is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * The Degage Web Application is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with the Degage Web Application (file LICENSE.txt in the
 * distribution).  If not, see http://www.gnu.org/licenses/.
 *@

@(billing: Billing, billNr: String, user: User, kpi: Billings.KmPriceInfo,
           lines: Iterable[Billings.InvoiceLine], totals: Billings.InvoiceLine, struct: String)
@userInvoice(billing,billing.getDriversDate,billNr,user,kpi,lines,totals){
<div>
@if(totals.kmCost>totals.fuelCost){
<div class="highlight">
<p>Gelieve dit bedrag te storten op rekeningnummer
    <b>IBAN BE78 5230 8045 2986</b> - BIC code TRIOBEBB,
met vermelding
van de gestructureerde mededeling <b>@struct</b>. </p>
<p>De uiterste betalingsdatum is
    <b>@(Utils.toLocalizedDateString(billing.getDriversDate.plusDays(14)))</b>.
</p>
</div>
}else{
<p>Dit bedrag zal door ons worden terugbetaald.</p>
}
<ul class="note">
<li>Ben je niet akkoord met deze afrekening, reageer dan binnen de 7 dagen met een e-mail naar
    de administratie (admin@@degage.be).</li>
</ul>
    @degageAddress(billing.getId)
</div>
}
