@* userInvoice.scala.html
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Copyright Ⓒ 2014-2015 Universiteit Gent
 * 
 * This file is part of the Degage Web Application
 * 
 * Corresponding author (see also AUTHORS.txt)
 * 
 * Kris Coolsaet
 * Department of Applied Mathematics, Computer Science and Statistics
 * Ghent University 
 * Krijgslaan 281-S9
 * B-9000 GENT Belgium
 * 
 * The Degage Web Application is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * The Degage Web Application is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public License
 * along with the Degage Web Application (file LICENSE.txt in the
 * distribution).  If not, see http://www.gnu.org/licenses/.
 *@

@import com.google.common.base.Strings;

@(billing: Billing, invoiceDate: java.time.LocalDate, billNr: String, user: User, kpi: Billings.KmPriceInfo,
           lines: Iterable[Billings.InvoiceLine], totals: Billings.InvoiceLine)(footer: Html)

<html>
   <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
        <link rel="stylesheet" media="print" href="/public/stylesheets/billing.css" /> @* Important: href must start with / *@
   </head>
   <body>
      <div id="logo"><img src='/public/images/logo-brief-2.5in.png'  width="2.5in"/></div>
      <div id="top">
          <table>
              <tbody>
                  <tr><th>Afrekening n°:</th><td>@billNr</td></tr>
                  <tr><th>Datum:</th><td>@Utils.toLocalizedDateString(invoiceDate)</td></tr>
                  <tr><th>Naam:</th><td>@user.getFullName</td></tr>
                  @defining(user.getAddressDomicile){ address =>
                      <tr><th>Adres:</th><td>@address.getStreet @address.getNum</td></tr>
                      <tr><th></th><td>@address.getZip @address.getCity (@address.getCountry)</td></tr>
                  }
                  @if(! Strings.isNullOrEmpty(user.getVatNr)) {
                      <tr><th>BTW-nr.:</th><td>@user.getVatNr</td></tr>
                  }
                  <tr><th>Periode:</th>
                      <td>
                          @Utils.toLocalizedDateString(billing.getStart) -
                          @Utils.toLocalizedDateString(billing.getLimit minusDays 1)
                      </td>
                  </tr>
              </tbody>
          </table>
      </div>
      <div id="data">
          <table>
              <thead>
                 <tr>
                     <th>Auto</th>
                     <th>Datum</th>
                     <th>Aantal km</th>
                     @foreach(kpi.ranges) { range => <th>@range</th> }
                     <th>Kostprijs</th>
                     <th>Tank-</th>
                 </tr>
                  <tr>
                      <td></td>
                      <td></td>
                      <td></td>
                      @foreach(kpi.prices) { price => <td>@data.EurocentAmount.toString(price) €/km</td> }
                      <th>kilometers</th>
                      <th>beurten</th>
                  </tr>
              </thead>
              <tbody>
                  @foreach.tr(lines) { line =>
                    <td>@line.carName</td>
                    <td>@Utils.toLocalizedDateStringShort(line.date)</td>
                    <td class="km">@line.km</td>
                    @foreach(line.kmSub) { value =>
                        <td class="km">@if(value==null)("")else(value)</td>
                    }
                    <td class="numeric">@if(line.kmCost!=null){@data.EurocentAmount.toString(line.kmCost)}</td>
                    <td class="numeric">@if(line.fuelCost!=null){@data.EurocentAmount.toString(line.fuelCost)}</td>
                  }
                  <tr>
                      <th colspan="2" class="numeric">Totalen:</th>
                      <th class="km">@totals.km</th>
                      @foreach(totals.kmSub) { value =>
                        <th class="km">@value</th>
                      }
                    <th class="numeric">@data.EurocentAmount.toString(totals.kmCost)</th>
                    <th class="numeric">@data.EurocentAmount.toString(totals.fuelCost)</th>
                  </tr>
              </tbody>
              <tfoot>
                  <tr>
                      <td colspan="4"></td>
                      @if(totals.kmCost>totals.fuelCost){
                      <th colspan="3">TOTAAL TE BETALEN:</th>
                      }else{
                      <th colspan="3">Totaal te ontvangen:</th>
                      }
                      <th>@data.EurocentAmount.toString(totals.kmCost-totals.fuelCost) €</th>
                  </tr>
              </tfoot>
          </table>
      </div>
      <div id="text">
          @footer
      </div>
   </body>
</html>
