@* simplemap.scala.html
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Copyright Ⓒ 2014-2015 Universiteit Gent
 * 
 * This file is part of the Degage Web Application
 * 
 * Corresponding author (see also AUTHORS.txt)
 * 
 * Kris Coolsaet
 * Department of Applied Mathematics, Computer Science and Statistics
 * Ghent University 
 * Krijgslaan 281-S9
 * B-9000 GENT Belgium
 * 
 * The Degage Web Application is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * The Degage Web Application is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public License
 * along with the Degage Web Application (file LICENSE.txt in the
 * distribution).  If not, see http://www.gnu.org/licenses/.
 *@

@(map: Maps.MapDetails)
    @scripts = {
        <script type='text/javascript' src='@routes.Assets.at("lib/leaflet/leaflet.js")'></script>
        <script src="@routes.Assets.at("javascripts/maps-custom.js")" type="text/javascript"></script>
    }

    @stylesheets = {
        <style>
            #map { height: 600px; width: 1400px; }
        </style>
        <link rel="stylesheet" href="@routes.Assets.at("lib/leaflet/leaflet.js")" />
    }

@app("Simple map view", stylesheets, scripts){
    <div id="page-header-wrapper">
        <ol class="breadcrumb">
            <li><a href="#">Maps</a></li>
            <li class="active">Test</li>
        </ol>
    </div>

    <div id="page-wrapper">
        <div class="row">
            <h1>Simple map test</h1>
            <div id="map" data-lat="@map.getLatitude" data-lon="@map.getLongtitude" data-zoom="@map.getZoom" data-message="@map.getMessage"></div>
        </div>
    </div>
}
