@(field: play.api.data.Field, label: String, rows: Int, args: (Symbol, Any)*)

@* TODO: use FieldConverter? *@

<div class="form-group @if(field.hasErrors) {has-error}">
    <label class="control-label" for="@field.id">@label</label>

    <textarea id="@field.id" name="@field.name"
              rows="@rows"
              class="form-control input-md" value="@field.value"
    @toHtmlArgs(args.toMap)>@field.value</textarea>
    @field.errors.map { error =>
        <span class="help-block">@play.api.i18n.Messages(error.message)</span>
    }
</div>
