@* driverslicense.scala.html
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Copyright Ⓒ 2014-2015 Universiteit Gent
 * 
 * This file is part of the Degage Web Application
 * 
 * Corresponding author (see also AUTHORS.txt)
 * 
 * Kris Coolsaet
 * Department of Applied Mathematics, Computer Science and Statistics
 * Ghent University 
 * Krijgslaan 281-S9
 * B-9000 GENT Belgium
 * 
 * The Degage Web Application is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * The Degage Web Application is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public License
 * along with the Degage Web Application (file LICENSE.txt in the
 * distribution).  If not, see http://www.gnu.org/licenses/.
 *@

@(userId: Int, form: Form[Profile.DriversLicenseData], listOfFiles: Iterable[File], canDelete: Boolean)

@stdlayout("Rijbewijs", scripts=js.datetimepicker(), extrabc=breadcrumb("Profiel", routes.Profile.index(userId))){

    @panel("Gegevens", "fa-pencil"){
        @helper.form(routes.Profile.editDriversLicensePost(userId)) {
            @std.textField(form("cardNumber"), "Nummer v/h rijbewijs", css="col-md-4")
            @std.datepicker(form("cardDate"), "Datum van afgifte", css="col-md-4", startView=4)
            @std.submitButton("Wijzigen")
        }
    }
    @panel("Nieuw bestand uploaden") {
        @helper.form(routes.Profile.addDriversLicenseFile(userId), 'enctype -> "multipart/form-data") {
            <div class="form-group col-xs-12">
                <input type="file" name="file">
                <br>
                <input class="btn btn-sm btn-success" type="submit" value="Doorsturen">
            </div>
         }
    }
    @panel("Reeds geüploade bestanden", "fa-list-ul") {
        <ul>
        @foreach.orElse(listOfFiles){ file =>
            <li>
                <a href="@routes.Profile.viewLicenseFile(userId, file.getId)" target="_blank">@file.getFileName</a>
                @if(canDelete){
                    <a href="@routes.Profile.deleteLicenseFile(userId, file.getId)"><span class="glyphicon glyphicon-remove"></span></a>
                }
            </li>
         }{
           Nog geen bestanden geupload.
         }
        </ul>
    }
}
