@* editstatus.scala.html
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Copyright Ⓒ 2014-2015 Universiteit Gent
 * 
 * This file is part of the Degage Web Application
 * 
 * Corresponding author (see also AUTHORS.txt)
 * 
 * Kris Coolsaet
 * Department of Applied Mathematics, Computer Science and Statistics
 * Ghent University 
 * Krijgslaan 281-S9
 * B-9000 GENT Belgium
 * 
 * The Degage Web Application is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * The Degage Web Application is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public License
 * along with the Degage Web Application (file LICENSE.txt in the
 * distribution).  If not, see http://www.gnu.org/licenses/.
 *@

@(user: User)(body: => Html)

@* Common code for the various status changing pages. *@
@app("Gebruikersstatus wijzigen") {

    @breadcrumbs{
        @breadcrumb("Profiel", routes.Profile.index(user.getId))
        @breadcrumb("Gebruikersstatus wijzigen")
    }

    @maincontent("Gebruikersstatus wijzigen"){
        @flashes()

        @panel("Gebruiker", "fa-user") {
            <div class="col-xs-12">
                <dl class="dl-horizontal">
                    <dt>Naam</dt><dd>@user.getFullName</dd>
                    <dt>Status</dt><dd>@user.getStatus</dd>
                    @if(user.getStatus==UserStatus.FULL){
                       <dt>Dégage ID</dt><dd>@user.getDegageId</dd>
                    }
                    @if(user.getStatus==UserStatus.BLOCKED){
                       <dt>Reden blokkering</dt><dd>@user.getUserReasonBlocked</dd>
                       <dt>Datum blokkering</dt><dd>@user.getDateBlocked</dd>
                    }
                    @if(user.getStatus==UserStatus.DROPPED){
                       <dt>Reden verwijdering</dt><dd>@user.getUserReasonDropped</dd>
                       <dt>Datum verwijdering</dt><dd>@user.getDateDropped</dd>
                    }
                </dl>
            </div>
        }
        @panel("Acties", "fa-pencil") {
            @body
        }
    }
}
