@* edit.scala.html
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Copyright Ⓒ 2014-2015 Universiteit Gent
 * 
 * This file is part of the Degage Web Application
 * 
 * Corresponding author (see also AUTHORS.txt)
 * 
 * Kris Coolsaet
 * Department of Applied Mathematics, Computer Science and Statistics
 * Ghent University 
 * Krijgslaan 281-S9
 * B-9000 GENT Belgium
 * 
 * The Degage Web Application is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * The Degage Web Application is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public License
 * along with the Degage Web Application (file LICENSE.txt in the
 * distribution).  If not, see http://www.gnu.org/licenses/.
 *@

@(form: Form[Profile.MainProfileData], user: User)
@import providers.DataProvider
@import db.CurrentUser
@scripts = {
    <script>
        function copyAddress() {
            $('#residenceAddress_street').val($('#domicileAddress_street').val());
            $('#residenceAddress_num').val($('#domicileAddress_num').val());
            $('#residenceAddress_zipCode').val($('#domicileAddress_zipCode').val());
            $('#residenceAddress_city').val($('#domicileAddress_city').val());
            $('#residenceAddress_country').val($('#domicileAddress_country').val());
        }
    </script>
}

@app("Profiel bewerken", scripts) {

    @breadcrumbs{
        @breadcrumb("Profiel", routes.Profile.index(user.getId))
        @breadcrumb("Bewerken")
    }

    @maincontent("Profiel bewerken"){
        @helper.form(routes.Profile.editPost(user.getId)) {
            <div class="col-md-4">
                @panel(){
                    <div class="form-group col-xs-12">
                        <img src="@routes.Profile.getProfilePicture(user.getId)" alt="" class="img-responsive">
                    </div>
                    @std.textField(form("firstName"), "Voornaam")
                    @std.textField(form("lastName"), "Familienaam")
                    @std.static(user.getEmail, "E-mail")
                    @std.textField(form("phone"), "Telefoon (vast)")
                    @std.textField(form("mobile"), "GSM")
                    @std.textField(form("vat"), "BTW nummer")
                }
            </div>
            <div class="col-md-8">
                @formErrors(form)
                @panel("Domicilieadres", "fa-home") {
                        @addressFields(form, "domicileAddress")
                }
                @panel("Verblijfsadres", "fa-home") {
                        <div class="form-group col-xs-12">
                            <button class="btn btn-primary" type="button" onclick="copyAddress();">Kopieer het domicilieadres naar het verblijfsadres</button>
                        </div>
                        @addressFields(form, "residenceAddress")
                }

                <div class="form-group">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <button name="saveChanges" class="btn btn-block btn-success" onclick="onSameAddressChange()">Wijzigingen opslaan</button>
                        </div>
                    </div>
                </div>
            </div>
                <!-- /col-lg-9 -->
        }
    }
}
