@* index.scala.html
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Copyright Ⓒ 2014-2015 Universiteit Gent
 * 
 * This file is part of the Degage Web Application
 * 
 * Corresponding author (see also AUTHORS.txt)
 * 
 * Kris Coolsaet
 * Department of Applied Mathematics, Computer Science and Statistics
 * Ghent University 
 * Krijgslaan 281-S9
 * B-9000 GENT Belgium
 * 
 * The Degage Web Application is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * The Degage Web Application is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public License
 * along with the Degage Web Application (file LICENSE.txt in the
 * distribution).  If not, see <http://www.gnu.org/licenses/>.
 *@

@(user: User, completeness: Int = 0, editable: Boolean)
@import db.CurrentUser
@app("Profiel") {
    @defining(CurrentUser.isAdmin) { isAdmin =>
    <div id="page-header-wrapper">
        <ol class="breadcrumb">
            <li><a href="@routes.Dashboard.index">Dashboard</a></li>
            <li class="active">Profiel</li>
        </ol>
    </div>
    <div id="page-wrapper">
        @flashes()
        <h1 class="page-header">Profiel</h1>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        @if(editable) {
                            <div class="progress">
                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="@completeness" aria-valuemin="0" aria-valuemax="100" style="width : @completeness%;">@completeness% compleet</div>
                            </div>

                            <a class="smallprofile-static btn btn-default btn-sm" href="@routes.Profile.edit(user.getId)">Profielinformatie wijzigen</a>
                            <a class="smallprofile-static btn btn-default btn-sm" href="@routes.Profile.profilePictureUpload(user.getId)">Profielfoto wijzigen</a>
                            <a class="smallprofile-static btn btn-default btn-sm" class="smallprofile-static btn btn-default btn-sm" href="@routes.Profile.editDriversLicense(user.getId)">Rijbewijs wijzigen</a>
                            <a class="smallprofile-static btn btn-default btn-sm" href="@routes.Profile.editIdentityCard(user.getId)">Identiteitskaart wijzigen</a>

                            @if(isAdmin){
                                <a class="smallprofile-static btn btn-default btn-sm" href="@routes.Profile.editUserStatus(user.getId)">Gebruikersstatus wijzigen</a>
                            }

                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="panel panel-default">
                        <!-- /.panel-heading -->
                    <div class="panel-body">
                    @smallProfile(user, isAdmin, editable)
                    </div>
                        <!-- /.panel-body -->
                </div>
            </div>
            <div class="col-md-8">
                    <!-- /.panel -->
                <div class="panel panel-default">
                    <div class="panel-body">
                        @* <form role="form">  *@
                            <div class="form-group">
                                <label class="h4">Domicilie-adres</label>
                                @defining(user.getAddressDomicile) { address =>
                                    @if(address != null) {
                                        <p class="form-control-static">@address.getStreet @address.getNum,
                                            <br> @address.getZip @address.getCity,<br>@address.getCountry</p>
                                    } else {
                                        <p>Niet gespecifieerd.</p>
                                    }
                                }
                            </div>
                            <div class="form-group">
                                <label class="h4">Verblijfsadres</label>
                                @defining(user.getAddressResidence) { address =>
                                    @if(address != null) {
                                        <p class="form-control-static">@address.getStreet @address.getNum,
                                            <br> @address.getZip @address.getCity,<br>@address.getCountry</p>
                                    } else {
                                        <p>Niet gespecifieerd.</p>
                                    }
                                }
                            </div>
                            <div class="form-group">
                                <label class="h4">Identiteitskaart</label>
                                <p class="form-control-static">
                                    @if(user.getIdentityCard != null && user.getIdentityCard.getRegistrationNr != null && !user.getIdentityCard.getRegistrationNr.isEmpty) {
                                        @user.getIdentityCard.getRegistrationNr
                                    } else {
                                        Niet gespecifieerd.
                                    }
                                    <br/>
                                </p>
                            </div>

                            <div class="form-group">
                                <label class="h4">Rijbewijs</label>
                                <p class="form-control-static">
                                    @if(user.getLicense != null) {
                                        @user.getLicense
                                    } else {
                                        Niet gespecifieerd.
                                    }
                                    <br/>
                                </p>
                            </div>
                        @* </form>  *@
                    </div>
                        <!-- /.panel-body -->
                </div>
                    <!-- /.panel -->
            </div>
                <!-- /col-lg-12 -->
        </div>
            <!-- /row -->
    </div>
}
}
