@* profile.scala.html
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Copyright Ⓒ 2014-2015 Universiteit Gent
 * 
 * This file is part of the Degage Web Application
 * 
 * Corresponding author (see also AUTHORS.txt)
 * 
 * Kris Coolsaet
 * Department of Applied Mathematics, Computer Science and Statistics
 * Ghent University 
 * Krijgslaan 281-S9
 * B-9000 GENT Belgium
 * 
 * The Degage Web Application is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * The Degage Web Application is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public License
 * along with the Degage Web Application (file LICENSE.txt in the
 * distribution).  If not, see http://www.gnu.org/licenses/.
 *@

@(user: User, userIsAdmin: Boolean)

@app("Profiel") {
    <div id="page-header-wrapper">
        <ol class="breadcrumb">
            <li><a href="@routes.Dashboard.index">Dashboard</a></li>
            <li class="active">Profiel</li>
        </ol>
    </div>
    <div id="page-wrapper">
        @flashes()
        <h1 class="page-header">Profiel</h1>
        <div class="row">
            <div class="col-lg-4">
                <div class="panel panel-default">
                        <!-- /.panel-heading -->
                    <div class="panel-body">
                    @smallProfile(user, userIsAdmin, false)
                    </div>
                        <!-- /.panel-body -->
                </div>
            </div>
            <div class="col-md-8">
                    <!-- /.panel -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-bar-chart-o fa-fw"></i> Details
                    </div>
                        <!-- /.panel-heading -->
                    <div class="panel-body">
                        <form role="form">
                            <div class="form-group">
                                <label class="h4">Woonplaats</label>
                                @defining(user.getAddressResidence) { address =>
                                    @if(address != null) {
                                        <p class="form-control-static">@address.getZip @address.getCity,<br>@address.getCountry</p>
                                    } else {
                                        <p>Niet gespecifieerd.</p>
                                    }
                                }
                            </div>
                        </form>
                    </div>
                        <!-- /.panel-body -->
                </div>
                    <!-- /.panel -->
            </div>
                <!-- /col-lg-12 -->
        </div>
            <!-- /row -->
    </div>
}
