@(user: User, editable: Boolean)
@import providers.DataProvider
@import db.CurrentUser
<img src="@routes.Profile.getProfilePicture(user.getId)" alt="" class="img-responsive">
<h2>@user.getFullName</h2>
<p>
    <strong>Email:</strong> @user.getEmail
    <br>

    <strong>Telefoon (vast):</strong>
    @if(user.getPhone != null && !user.getPhone.isEmpty) {
        <a href="tel:@user.getPhone">@user.getPhone</a>
    } else {
        /
    }
    <br>

    <strong>GSM:</strong>
    @if(user.getCellphone != null && !user.getCellphone.isEmpty) {
        <a href="tel:@user.getCellphone">@user.getCellphone</a>
    } else {
        /
    }
</p>
<p>
    @if(CurrentUser.isAdmin) {
        <strong>Status: </strong> <span class="label label-default">@user.getStatus</span>
    }
    @if(providers.DataProvider.getUserRoleProvider.isAdmin(user)){
        <span class="label label-default"><i class="fa fa-star" style="color: yellow;"></i> Admin</span>
    }
</p>