@* smallProfile.scala.html
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Copyright Ⓒ 2014-2015 Universiteit Gent
 * 
 * This file is part of the Degage Web Application
 * 
 * Corresponding author (see also AUTHORS.txt)
 * 
 * Kris Coolsaet
 * Department of Applied Mathematics, Computer Science and Statistics
 * Ghent University 
 * Krijgslaan 281-S9
 * B-9000 GENT Belgium
 * 
 * The Degage Web Application is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * The Degage Web Application is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public License
 * along with the Degage Web Application (file LICENSE.txt in the
 * distribution).  If not, see http://www.gnu.org/licenses/.
 *@

@(user: User, userIsAdmin: Boolean, editable: Boolean)
@import providers.DataProvider
@import db.CurrentUser
<img src="@routes.Profile.getProfilePicture(user.getId)" alt="" class="img-responsive">
<h2>@user.getFullName</h2>
<p>
    <strong>Email:</strong> @user.getEmail
    <br>

    <strong>Telefoon (vast):</strong>
    @if(user.getPhone != null && !user.getPhone.isEmpty) {
        <a href="tel:@user.getPhone">@user.getPhone</a>
    } else {
        /
    }
    <br>

    <strong>GSM:</strong>
    @if(user.getCellphone != null && !user.getCellphone.isEmpty) {
        <a href="tel:@user.getCellphone">@user.getCellphone</a>
    } else {
        /
    }
</p>
<p>
    @if(CurrentUser.isAdmin) {
        <strong>Status: </strong> <span class="label label-default">@user.getStatus</span>
    }
    @if(userIsAdmin){
        <span class="label label-default"><i class="fa fa-star" style="color: yellow;"></i> Admin</span>
    }
</p>
