@* updateEmail.scala.html
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Copyright Ⓒ 2014-2015 Universiteit Gent
 * 
 * This file is part of the Degage Web Application
 * 
 * Corresponding author (see also AUTHORS.txt)
 * 
 * Kris Coolsaet
 * Department of Applied Mathematics, Computer Science and Statistics
 * Ghent University 
 * Krijgslaan 281-S9
 * B-9000 GENT Belgium
 * 
 * The Degage Web Application is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * The Degage Web Application is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public License
 * along with the Degage Web Application (file LICENSE.txt in the
 * distribution).  If not, see http://www.gnu.org/licenses/.
 *@

@(form: Form[Login.EmailData], user: UserHeader)

@stdlayout("E-mailadres",extrabc=breadcrumb("Profiel", routes.Profile.index(user.getId))){
    @panel("Nieuw e-mailadres", "fa-envelope-o"){
        @formErrors(form)
        @helper.form(routes.Profile.updateEmailPost(user.getId)){
            @std.static(user.getFullName, "Gebruiker",css="col-md-6 col-lg-3")
            @std.textField(form("email"), "Nieuw e-mailadres",css="col-md-6 col-lg-4")
            @std.submitButton("Wijzigen")
        }
        <div class="col-xs-12 alert alert-info">
            <p><b>Opgelet!</b> Het e-mailadres van een gebruiker is tegelijkertijd de identificatie
                waarmee een gebruiker inlogt.</p>
        </div>
    }
}
