@* overview.scala.html
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Copyright Ⓒ 2014-2015 Universiteit Gent
 * 
 * This file is part of the Degage Web Application
 * 
 * Corresponding author (see also AUTHORS.txt)
 * 
 * Kris Coolsaet
 * Department of Applied Mathematics, Computer Science and Statistics
 * Ghent University 
 * Krijgslaan 281-S9
 * B-9000 GENT Belgium
 * 
 * The Degage Web Application is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * The Degage Web Application is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public License
 * along with the Degage Web Application (file LICENSE.txt in the
 * distribution).  If not, see http://www.gnu.org/licenses/.
 *@

@import java.time.LocalDate
@(form: Form[Reserve.DateData], lines: Iterable[Reserve.OverviewLine], date: LocalDate, prev: LocalDate, next: LocalDate)
@* Displays an overview of available cars during subsequent days *@
@stylesheets={
<link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/reservationtable.css")'>
}
@datepickerWithButton(field: Field, caption: String)={
<div class="col-md-4 @if(field.hasErrors) {has-error}">
    <div id="@field.id-container" class="input-group date datetimepicker-input"
         data-date-format="yyyy-mm-dd" data-min-view="3" data-start-view="2">
        <span class="input-group-btn">
            <button class="btn btn-success" type="submit">@caption</button>
        </span>
        <input class="form-control" type="text" name="@field.name" value="@field.value" readonly>
        <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
    </div>
    @field.errors.map { error =>
        <span class="help-block">@play.api.i18n.Messages(error.message)</span>
    }
</div>
}
@stdlayout("Overzicht vrije perioden", stylesheets, scripts=js.datetimepicker()){

    @panel("Toon het overzicht voor een bepaalde dag", "fa-search"){
        <div class="col-xs-12">
            @helper.form(routes.Reserve.overviewPost){
                @datepickerWithButton(form("date"), "Toon!")
            }
        </div>
    }

    @overviewpanel("Beschikbare auto's", "fa-car", lines){
        <tr>
            <td>&nbsp;</td>
            <td colspan="8"><a class="btn btn-sm"
                    href="@routes.Reserve.overview(Utils.toDateString(prev))"><i class="fa fa-chevron-left"></i></a></td>
            <th class="res-date" colspan="@(Reserve.NUMBER_OF_INTERVALS-16)">@Utils.toLocalizedDateString(date)</th>
            <td colspan="8" class="text-right"><a class="btn btn-sm"
                    href="@routes.Reserve.overview(Utils.toDateString(next))"><i class="fa fa-chevron-right"></i></button></td>
        </tr>
    }

}
