@* overview.scala.html
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Copyright Ⓒ 2014-2015 Universiteit Gent
 * 
 * This file is part of the Degage Web Application
 * 
 * Corresponding author (see also AUTHORS.txt)
 * 
 * Kris Coolsaet
 * Department of Applied Mathematics, Computer Science and Statistics
 * Ghent University 
 * Krijgslaan 281-S9
 * B-9000 GENT Belgium
 * 
 * The Degage Web Application is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * The Degage Web Application is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public License
 * along with the Degage Web Application (file LICENSE.txt in the
 * distribution).  If not, see http://www.gnu.org/licenses/.
 *@

@import java.time.LocalDate
@(form: Form[Reserve.DateData], lines: Iterable[Reserve.OverviewLine], date: LocalDate, prev: LocalDate, next: LocalDate)
@* Displays an overview of available cars during subsequent days *@

@scripts={
  @js.datetimepicker()
  @js.usesajax()
    <script>
     function loadModal ( carId ) {
         $.ajax(myJsRoutes.controllers.Cars.getCarInfoModal(carId))
         .done (function (html) {
             $ ("#resultModal").html (html) ;
             $ ('#detailsModal').modal ('show') ;
         })
         .fail (function ( ) {
             // TODO: make clearer
             $ ( "#resultModal" ).html ("Er ging iets mis...") ;
         });
     }
    </script>
}

@stylesheets={
<link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/reservationtable.css")'>
}

@stdlayout("Overzicht vrije perioden", stylesheets, scripts){

    @panel("Toon het overzicht voor een bepaalde dag", "fa-search"){
        @helper.form(routes.Reserve.overviewPost){
            @std.datepicker(form("date"), null, css="col-sm-4", minView=3)
            @std.submitButton("Toon!", css="col-sm-4")
        }
    }

    @overviewpanel("Beschikbare auto's", "fa-car", lines){
        <tr>
            <td>&nbsp;</td>
            <td colspan="4"><a class="btn btn-sm"
                    href="@routes.Reserve.overview(Utils.toDateString(prev))"><i class="fa fa-chevron-left"></i></a></td>
            <th class="res-date" colspan="@(Reserve.NUMBER_OF_INTERVALS-8)">@Utils.toLocalizedDateStringWithDayOfWeek(date)</th>
            <td colspan="4" class="text-right"><a class="btn btn-sm"
                    href="@routes.Reserve.overview(Utils.toDateString(next))"><i class="fa fa-chevron-right"></i></a></td>
        </tr>
    }{  @* no footer. *@ }

}
