@(error: String, carName: String, carId: Int, from: String, until: String)
@scripts = {
    @js.datetimepicker()
    @js.usesajax()
    @js.pagination("Reserve.showCarsPage")
    @js.userpicker()
    <script>
        var from = '@from'
        var until = '@until'

    </script>

    <script type='text/javascript' src='@routes.Assets.at("javascripts/app/reservations.js")'></script>
}
@stylesheets = {
    <link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/plugins/dataTables/dataTables.bootstrap.css")'>
}
@app("Reserveren", stylesheets, scripts) {

    <div id="page-header-wrapper">
        <ol class="breadcrumb">
            <li><a href="@routes.Dashboard.index">Dashboard</a></li>
            <li class="active">Reserveren</li>
        </ol>
    </div>

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Reserveren</h1>
                @if(!(error.equals(""))) {
                    <div class="alert alert-danger alert-dismissable">
                        <strong>Error!</strong> @error
                    </div>
                }
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-search fa-fw"></i> Filter
                    </div>
                    <div class="panel-body">
                        <div class="">
                            <div class="row">
                                    <h4>@if(carId != -1) { @carName reserveren: } else { Auto's zoeken }</h4><hr />
                                    <input id="input_from_value" class="hidden searchTextField" name="from" value="" />
                                    <div class="alert alert-danger">
                                        Onderstaande werkt nog niet - in afwachting
                                        van een betere user-interface voor reservaties.
                                    </div>
                                        @search.datetimepicker("reservationFrom", "Van:", "col-md-4", minuteStep=15)
                                        @search.datetimepicker("reservationUntil", "Tot:", "col-md-4", minuteStep=15)

                                    <div id="filterbuttons" class="col-md-4">
                                        <br />
                                        <div class="btn-group btn-group-sm">
                                            <button id="searchButton" type="button" class="btn btn-success">
                                            @if(carId != -1) { zoek @carName } else { zoeken }</button>
                                            @if(carId == -1) {
                                                <a id="extraButton" type="button" class="btn btn-primary" data-toggle="collapse" href="#extraFiltering">
                                                    meer filteropties</a>
                                            } else {
                                                <a class="btn btn-primary" href="@routes.Reserve.index()">
                                                    zoek meer auto's
                                                </a>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="extraFiltering" class="panel-collapse collapse">
                                <br />              ctivator
                                <div class="row">
                                    <div id="extraEnv" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <h4>Extra filteropties</h4><hr />
                                        @search.carpicker("Auto","car_id", initialId=carId, initialName=carName)
                                        @search.numberField("Min. aantal zitplaatsen", "seats", "cos-md-6")
                                        <input id="input_fuel" class="hidden searchTextField" name="fuel" value="ALL" />
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <label for="selectFuel">Brandstof</label><br />
                                            <select id="selectFuel" class="form-control">   @* TODO: use fuellist *@
                                                <option value="ALL">Alle</option>
                                                <option value="PETROL">Benzine</option>
                                                <option value="DIESEL">Diesel</option>
                                                <option value="BIODIESEL">Biodiesel</option>
                                                <option value="GAS">LPG</option>
                                                <option value="HYBRID">Hybride</option>
                                                <option value="ELECTRIC">Elektrisch</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <label>Toon enkel auto's met</label>
                                            <div>
                                                <label class="checkbox-inline">
                                                    <input id="gps" class="searchTextField" name="gps" type="checkbox" value="0">GPS
                                                </label>
                                                <label class="checkbox-inline">
                                                    <input id="hook" class="searchTextField" name="hook" type="checkbox" value="0">Trekhaak
                                                </label>
                                                <label class="checkbox-inline">
                                                    <input id="automatic" class="searchTextField" name="automatic" type="checkbox" value="0">Automatische versnellingsbak
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.panel -->
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-car fa-fw"></i> Beschikbare auto's
                    </div>
                    <div class="panel-body">
                        <div id="resultsTable" class="table-responsive">
                                <!-- Here comes the loaded table-->
                        </div>
                    </div>
                </div>
                <!-- panel -->
            </div>
            <!-- /col-lg-12 -->
        </div>
        <!-- /row -->
    </div>
    <!-- /page-wrapper -->

    <div id="resultModal"></div>

}