@(car: Car, from: String, until: String, form: play.data.Form[Reserve.ReservationModel])
<!-- Large modal -->

<div id="detailsModal"class="modal fade" tabindex="-1" role="dialog" aria-labelledby="detailsModalLabel" aria-hidden="true">
    <div id=" "class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Reservatie van auto @car.getName</h4>
            </div>
            @helper.form(routes.Reserve.confirmReservation(car.getId), 'class -> "form-horizontal") {
                <div id="modalBody" class="modal-body">

                    <p>
                        <strong>Eigenaar:</strong> <a href="@routes.Profile.index(car.getOwner.getId)">@car.getOwner</a><br>
                        <strong>Merk:</strong> @car.getBrand<br>
                        <strong>Type:</strong> @car.getType<br>
                        <strong>Standplaats:</strong> @car.getLocation <br>
                        <strong>Van:</strong> @from <br>
                        <strong>Tot:</strong> @until <br>
                        <div class="form-group">
                            <label class="col-md-1" for="message">Commentaar</label>
                            <div class="col-md-12">
                                <textarea id="message" name="message" class="form-control input-md" rows="3" maxlength="128"></textarea>
                            </div>
                        </div>
                    </p>
                </div>

                <fieldset>
                    <div class="hidden">
                        <div class="form-group">
                            <input name="from" value="@from" />
                        </div>
                        <div class="form-group">
                            <input name="until" value="@until" />
                        </div>
                    </div>
                    <div class="form-group modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Annuleren</button>
                        <button type="submit" class="btn btn-success">Reserveren</button>
                    </div>
                </fieldset>
            }
        </div>
    </div>
</div>