@* start.scala.html
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Copyright Ⓒ 2014-2015 Universiteit Gent
 * 
 * This file is part of the Degage Web Application
 * 
 * Corresponding author (see also AUTHORS.txt)
 * 
 * Kris Coolsaet
 * Department of Applied Mathematics, Computer Science and Statistics
 * Ghent University 
 * Krijgslaan 281-S9
 * B-9000 GENT Belgium
 * 
 * The Degage Web Application is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * The Degage Web Application is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public License
 * along with the Degage Web Application (file LICENSE.txt in the
 * distribution).  If not, see http://www.gnu.org/licenses/.
 *@

@()
@scripts = {
    @js.datetimepicker()
    <script type='text/javascript' src='@routes.Assets.at("javascripts/fromuntil.js")'></script>
    @js.pagination("Reserve.listAvailableCarsPage", false)
}
@stdlayout("Start reservatie", sheets("taglabels"), scripts) {
    @panel("Zoek een auto die vrij is in tijdens de opgegeven periode", "fa-search"){
        <fieldset>
            @search.datetimepicker("from", "Van:", "col-lg-6", minuteStep=15)
            @search.datetimepicker("until", "Tot:", "col-lg-6", minuteStep=15)
            @search.numberField("seats", "Minimum aantal zitplaatsen", "col-lg-6")
            <div class="form-group col-lg-6">
                <label class="control-label" for="selectFuel">Brandstof</label>
                <select id="selectFuel" name="fuel" class="form-control searchTextField">
                    @* TODO: use extra option in @selectEnum *@
                    <option value="ALL">(niet belangrijk)</option>
                    @for(item <- CarFuel.values) {
                        @option("",item.name){ @item }
                    }
                </select>
            </div>
            <div class="form-group col-lg-6">
                <label>Enkel auto's met</label>
                <div>
                    @search.checkboxInline("gps","GPS")
                    @search.checkboxInline("hook","Trekhaak")
                    @search.checkboxInline("automatic","Automatische versnellingsbak")
                </div>
            </div>
            @search.button("Zoeken")
        </fieldset>
    }
    @panel("Beschikbare auto's", "fa-car"){
        <div id="resultsTable" class="table-responsive col-xs-12">
                <!-- Here comes the loaded table-->
            <div class="text-center">
               (Nog) geen resultaten.
            </div>
        </div>
    }
}
