@()
@scripts = {
    @js.usesajax()
    @js.datetimepicker()
    @js.pagination("Reserve.listAvailableCarsPage", false)
}
@app("Start reservatie", scripts=scripts) {

    @breadcrumbs{
        @breadcrumb("Dashboard",routes.Dashboard.index)
        @breadcrumb("Start reservatie")
    }

    @maincontent("Start reservatie"){
        @panel("Zoek een auto die vrij is in tijdens de opgegeven periode", "fa-search"){
            <fieldset>
                @search.datetimepicker("from", "Van:", "col-lg-6", minuteStep=15)
                @search.datetimepicker("until", "Tot:", "col-lg-6", minuteStep=15)
                @search.numberField("seats", "Minimum aantal zitplaatsen", "col-lg-6")
                <div class="form-group col-lg-6">
                    <label class="control-label" for="selectFuel">Brandstof</label>
                    <select id="selectFuel" name="fuel" class="form-control searchTextField">   @* TODO: use fuellist *@
                        <option value="ALL">Alle</option>
                        <option value="PETROL">Benzine</option>
                        <option value="DIESEL">Diesel</option>
                        <option value="BIODIESEL">Biodiesel</option>
                        <option value="GAS">LPG</option>
                        <option value="HYBRID">Hybride</option>
                        <option value="ELECTRIC">Elektrisch</option>
                    </select>
                </div>
                <div class="form-group col-lg-6">
                    <label>Enkel auto's met</label>
                    <div>
                        <label class="checkbox-inline">
                            <input id="gps" class="searchTextField" name="gps" type="checkbox" value="0">GPS
                        </label>
                        <label class="checkbox-inline">
                            <input id="hook" class="searchTextField" name="hook" type="checkbox" value="0">Trekhaak
                        </label>
                        <label class="checkbox-inline">
                            <input id="automatic" class="searchTextField" name="automatic" type="checkbox" value="0">Automatische versnellingsbak
                        </label>
                    </div>
                </div>
                @search.button("Zoeken")
            </fieldset>
        }
        @panel("Beschikbare auto's", "fa-car"){
            <div id="resultsTable" class="table-responsive">
                    <!-- Here comes the loaded table-->
                <div class="text-center">
                   (Nog) geen resultaten.
                </div>
            </div>
        }
    }

}