@* messages.scala.html
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Copyright Ⓒ 2014-2015 Universiteit Gent
 * 
 * This file is part of the Degage Web Application
 * 
 * Corresponding author (see also AUTHORS.txt)
 * 
 * Kris Coolsaet
 * Department of Applied Mathematics, Computer Science and Statistics
 * Ghent University 
 * Krijgslaan 281-S9
 * B-9000 GENT Belgium
 * 
 * The Degage Web Application is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * The Degage Web Application is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public License
 * along with the Degage Web Application (file LICENSE.txt in the
 * distribution).  If not, see http://www.gnu.org/licenses/.
 *@

@scripts = {
    @js.pagination("Messages.showReceivedMessagesPage")
    <script type="text/javascript" src='@routes.Assets.at("javascripts/app/messages.js")'></script>

    <script>
    // changing tab forces reloading of tables
    $(function() {
        $('li[id^="tab"]').on('click', function() {
            var id = $(this).attr("id");
            if(id == "tab_received") {
                route = paginationJsRoutes.controllers.Messages.showReceivedMessagesPage;
            } else { // tab_sent
                route = paginationJsRoutes.controllers.Messages.showSentMessagesPage;
            }
            $('#searchButton').click();
        });
    });
    </script>
}
@stdlayout("Berichten", scripts=scripts) {

    <div class="panel panel-default">
        <div class="panel-body">
            @if(db.CurrentUser.hasRole(UserRole.CAR_USER)){
               <a class="btn btn-primary btn-sm" href="@routes.Messages.newMessage()">Nieuw bericht</a>
            }
            <a class="btn btn-primary btn-sm" href="@routes.Messages.markAllMessagesAsRead">Markeer alle berichten als gelezen</a>
        </div>
    </div>

    <ul class="nav nav-tabs" id="myTab">
      <li id="tab_received" class="active"><a href="#resultsPanel" data-toggle="tab">Ontvangen</a></li>
      <li id="tab_sent"><a href="#resultsPanel" data-toggle="tab">Verzonden</a></li>
      <li class="hidden"><button id="searchButton"></button></li>
    </ul>

    @resultsTablePanel(tabbed=true)
}
