@* messages.scala.html
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Copyright Ⓒ 2014-2015 Universiteit Gent
 * 
 * This file is part of the Degage Web Application
 * 
 * Corresponding author (see also AUTHORS.txt)
 * 
 * Kris Coolsaet
 * Department of Applied Mathematics, Computer Science and Statistics
 * Ghent University 
 * Krijgslaan 281-S9
 * B-9000 GENT Belgium
 * 
 * The Degage Web Application is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * The Degage Web Application is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public License
 * along with the Degage Web Application (file LICENSE.txt in the
 * distribution).  If not, see http://www.gnu.org/licenses/.
 *@

@scripts = {
    @js.usesajax()
    @js.pagination("Messages.showReceivedMessagesPage")
    <script type="text/javascript" src='@routes.Assets.at("javascripts/app/messages.js")'></script>

// changing tab forces reloading of tables
$(function() {
    $('li[id^="tab"]').on('click', function() {
        var id = $(this).attr("id");
        if(id == "tab_received") {
            route = myJsRoutes.controllers.Messages.showReceivedMessagesPage;
        } else { // tab_sent
            route = myJsRoutes.controllers.Messages.showSentMessagesPage;
        }
        $('#searchButton').click();
    });
});
}
@app("Berichten", scripts=scripts) {

<div id="page-header-wrapper">
    <ol class="breadcrumb">
        <li><a href="@routes.Application.index">Dashboard</a></li>
        <li class="active">Berichten</li>
    </ol>
</div>

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Berichten</h1>
            @flashes()
            <div class="panel panel-default">
                <div class="panel-body">
                    <a class="btn btn-default btn-sm" href="@routes.Messages.newMessage()">Nieuw bericht</a>
                    <a class="btn btn-default btn-sm" href="@routes.Messages.markAllMessagesAsRead">Markeer alle berichten als gelezen</a>
                </div>
            </div>

            <ul class="nav nav-tabs" id="myTab">
              <li id="tab_received" class="active"><a href="#resultsPanel" data-toggle="tab">Ontvangen</a></li>
              <li id="tab_sent"><a href="#resultsPanel" data-toggle="tab">Verzonden</a></li>
              <li class="hidden"><button id="searchButton"></button></li>
            </ul>

            <div class="tab-content">
              <div class="tab-pane active" id="resultsPanel">
                <div class="panel panel-default tabpanel">
                    <div class="panel-body">
                        <div id="resultsTable">
                            <!-- Here comes the loaded page -->
                        </div>
                    </div>
                </div>
              </div>
            </div>
        </div>
        <!-- /col-lg-12 -->
    </div>
    <!-- /row -->
</div>
<!-- /page-wrapper -->
}
