@* notificationspage.scala.html
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Copyright Ⓒ 2014-2015 Universiteit Gent
 * 
 * This file is part of the Degage Web Application
 * 
 * Corresponding author (see also AUTHORS.txt)
 * 
 * Kris Coolsaet
 * Department of Applied Mathematics, Computer Science and Statistics
 * Ghent University 
 * Krijgslaan 281-S9
 * B-9000 GENT Belgium
 * 
 * The Degage Web Application is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * The Degage Web Application is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public License
 * along with the Degage Web Application (file LICENSE.txt in the
 * distribution).  If not, see http://www.gnu.org/licenses/.
 *@

@(notifications: List[Notification], page : Int, amountOfResults : Int, amountOfPages : Int)
@import org.joda.time.format.DateTimeFormat
<ul class="chat">
@for((notification, index) <- notifications.zipWithIndex) {
        <li>
            <div class="chat-body clearfix">
                <div class="header">
                    @if(!notification.getRead){
                        <strong class="primary-font">@notification.getSubject (Ongelezen)</strong>
                    }else{
                        <strong class="primary-font">@notification.getSubject</strong>
                    }
                    <small class="text-muted">
                        - @Utils.toLocalizedString(notification.getTimestamp)
                    </small>
                    @if(!notification.getRead){
                        <a type="button" class="close" aria-hidden="true" href="@routes.Notifications.markNotificationAsRead(notification.getId)"><small><i class="fa fa-eye fa-fw"></i></small></a>
                    }
                </div>
                <div class="msg-body">
                    <p>
                    @Html(notification.getBody)
                    </p>
                </div>
            </div>
        </li>
}
</ul>

<p id="pagination" name="@amountOfResults,@amountOfPages"></p>


