@* app.scala.html
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Copyright Ⓒ 2014-2015 Universiteit Gent
 * 
 * This file is part of the Degage Web Application
 * 
 * Corresponding author (see also AUTHORS.txt)
 * 
 * Kris Coolsaet
 * Department of Applied Mathematics, Computer Science and Statistics
 * Ghent University 
 * Krijgslaan 281-S9
 * B-9000 GENT Belgium
 * 
 * The Degage Web Application is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * The Degage Web Application is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public License
 * along with the Degage Web Application (file LICENSE.txt in the
 * distribution).  If not, see http://www.gnu.org/licenses/.
 *@

@(title: String, stylesheets: Html = Html(""), scripts: Html = Html(""))(content: Html)
@import db.CurrentUser
@import providers.DataProvider
@import providers.CommunicationProvider

@addadmin()=@{if(CurrentUser.isAdmin) "admin" else ""}

<!DOCTYPE html>
<html>
    <head>
        <script type='text/javascript' src='@routes.Assets.at("lib/jquery/jquery.min.js")'></script>
        <script type='text/javascript' src='@routes.Assets.at("lib/bootstrap/js/bootstrap.min.js")'></script>
        <script type='text/javascript' src='@routes.Assets.at("javascripts/responsiveTables.js")'></script>

        <script>
            // Loadingimage to use in pagination.js
            var loadingImage = '@routes.Assets.at("images/car-loader.gif")'
        </script>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>@title</title>
        <link rel="shortcut icon" type="image/png" href='@routes.Assets.at("images/favicon.png")'>

        <!-- Core CSS - Include with every page -->
        <link rel="stylesheet" media="screen" href='@routes.Assets.at("lib/bootstrap/css/bootstrap.min.css")'>
        <link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/font-awesome.min.css")'>
        <link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/sb-admin.css")'>
        @stylesheets @* To include stylesheets from external templates *@
        <link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/main.css")'>

    <!--[if lt IE 9]>
        <script src='@routes.Assets.at("javascripts/compatibility/html5shiv.min.js")' type="text/javascript"></script>
        <script src='@routes.Assets.at("javascripts/compatibility/css3-mediaqueries.js")' type="text/javascript"></script>
        <script src='@routes.Assets.at("javascripts/compatibility/respond.min.js")' type="text/javascript"></script>
    <![endif]-->
    </head>
    <body>
        <div id="wrapper">
            <nav class="navbar navbar-default navbar-static-top @addadmin" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="@routes.Application.index">Dégage</a>
                </div>
                <!-- /.navbar-header -->
                <ul class="nav navbar-top-links navbar-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-envelope fa-fw"></i>
                            @defining(DataProvider.getCommunicationProvider().getNumberOfUnreadMessages()) { unread_number =>
                                @if(unread_number>0){
                                    <span class="topnumber">@unread_number</span>
                                }
                            }
                        </a>
                        <ul class="dropdown-menu dropdown-messages">
                            @* TODO: fill this with AJAX? *@
                            @defining(DataProvider.getCommunicationProvider().getMessages(CurrentUser.getId)) { messages =>
                                @foreach(messages){ message =>
                                    <li>
                                        <a href="@routes.Messages.showMessages()">
                                            <div>
                                                <strong>@message.getUser</strong> @* enkel ongelezen berichten *@
                                                <span class="pull-right text-muted">
                                                    <em>@Utils.toLocalizedString(message.getTimestamp)</em>
                                                </span>
                                            </div>
                                            <div>
                                                <strong>@message.getSubject</strong>
                                            </div>
                                            <div>
                                                <pre>@message.getBody.substring(0,math.min(80,message.getBody.length))...</pre>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="divider"></li>
                                }
                            }
                            <li>
                                <a class="text-center" href="@routes.Messages.showMessages()">
                                    <strong>Bekijk alle berichten</strong>
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </li>
                        </ul>
                        <!-- /.dropdown-messages -->
                    </li>
                    <!-- /.dropdown -->
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-bell fa-fw"></i>
                            @defining(DataProvider.getCommunicationProvider().getNumberOfUnreadNotifications()) { unread_number =>
                              @if(unread_number>0){
                                  <span class="topnumber">@unread_number</span>
                              }
                            }
                        </a>
                        <ul class="dropdown-menu dropdown-messages">
                            @* TODO: fill this with AJAX? *@
                            @defining(DataProvider.getCommunicationProvider().getNotifications(CurrentUser.getId)) { notifications =>
                                @for((notification, index) <- notifications.zipWithIndex) {
                                    @if(index < CommunicationProvider.AMOUNT_OF_VISIBLE_NOTIFICATIONS){
                                        <li>
                                            <a href="@routes.Notifications.showNotifications()">
                                                <div>
                                                    @if(!notification.getRead){
                                                    <strong>@notification.getSubject (ongelezen)</strong>
                                                    }else{
                                                        @notification.getSubject
                                                    }
                                                    <span class="pull-right text-muted">
                                                        <em>@Utils.toLocalizedString(notification.getTimestamp)</em>
                                                    </span>
                                                </div>
                                                <div>
                                                    @Html(notification.getBody.substring(0,math.min(80,notification.getBody.length)))...</b></i> @* hack: closes tags that were left open *@
                                                </div>
                                            </a>
                                        </li>
                                        <li class="divider"></li>
                                    }
                                }
                            }
                            <li>
                                <a class="text-center" href="@routes.Notifications.showNotifications()">
                                    <strong>Bekijk alle mededelingen</strong>
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </li>
                        </ul>
                        <!-- /.dropdown-messages -->
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <span class="">@CurrentUser.getFullName</span>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="@routes.Profile.indexWithoutId"><i class="fa fa-user fa-fw"></i> Profiel</a>
                            </li>
                            <li><a href="@routes.Settings.changePassword"><i class="fa fa-gear fa-fw"></i> Wachtwoord wijzigen</a>
                            </li>
                            <li class="divider"></li>
                            <li><a href="@routes.Login.logout()"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                            </li>
                        </ul>
                        <!-- /.dropdown-user -->
                    </li>
                    <!-- /.dropdown -->
                </ul>
                <!-- /.navbar-top-links -->
            </nav>
            <!-- /.navbar-static-top -->

            <nav class="navbar-default navbar-static-side" role="navigation">
                <div class="sidebar-collapse">
                    <ul class="nav" id="side-menu">
                        @menu.dashboard(title)
                        @menu.driver(title)
                        @menu.car(title)
                        @menu.account(title)

                        @if(CurrentUser.isAdmin){
                            <li class="submenu">BEHEER</li>
                            @menu.profileInfosessionAdmin(title)
                            @menu.carAdmin(title)
                            @menu.superUser(title)
                        }
                        @menu.item(title, "Logout", "fa-sign-out", routes.Login.logout)
                    </ul>
                    <!-- /#side-menu -->
                </div>
                <!-- /.sidebar-collapse -->
            </nav>
            <!-- /.navbar-static-side -->

            @content
            <div id="resultModal"></div>
        </div>
        <!-- /#wrapper -->
        @scripts

        <!-- Page-Level Plugin Scripts - Main -->

        <!-- Page-Level Demo Scripts - Main - Use for reference -->
    </body>
</html>

