@* dashboardOwner.scala.html
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Copyright Ⓒ 2014-2015 Universiteit Gent
 * 
 * This file is part of the Degage Web Application
 * 
 * Corresponding author (see also AUTHORS.txt)
 * 
 * Kris Coolsaet
 * Department of Applied Mathematics, Computer Science and Statistics
 * Ghent University 
 * Krijgslaan 281-S9
 * B-9000 GENT Belgium
 * 
 * The Degage Web Application is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * The Degage Web Application is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public License
 * along with the Degage Web Application (file LICENSE.txt in the
 * distribution).  If not, see http://www.gnu.org/licenses/.
 *@

@(completeness: Int = 0)
@import providers.DataProvider
@import db.CurrentUser
@stylesheets = {
    <link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/plugins/dataTables/dataTables.bootstrap.css")'>
}

@app("Welkom", stylesheets){
    @breadcrumbs {
    }

    @maincontent("Welkom"){
        @reserve.reservationpanel()

        @* TODO: code almost the same as in dashboardFullUser (except for column width and one extra column) *@
        <div class="row">
            @defining(Drives.reservationsWithStatus(ReservationStatus.REQUEST, false)) { requests =>
                @dashboardTopPanel(
                    "col-lg-3",
                    "fa-car",
                    requests == 0,
                    if(requests>0) requests.toString else "",
                    routes.Drives.index(2),
                    "Ga naar reservatie-aanvragen"
                ){
                    @if(requests == 0) { Geen nieuwe reservaties }
                    @if(requests == 1) { Nieuwe reservatie }
                    @if(requests > 1) { Nieuwe reservaties }
                }
            }
            @defining(Drives.reservationsWithStatus(ReservationStatus.REQUEST_DETAILS, false)) { requests =>
                @dashboardTopPanel(
                    "col-lg-3",
                    "fa-edit",
                    requests==0,
                    requests.toString,
                    routes.Drives.index(if (requests>0) 1 else 0),
                    "Ga naar ritten"
                ){
                    @if(requests == 1) { Rit vereist } else { Ritten vereisen } details
                }
            }
            @defining(DataProvider.getCommunicationProvider().getNumberOfUnreadMessages()) { unread =>
                @dashboardTopPanel(
                    "col-lg-3",
                    "fa-envelope",
                    unread==0,
                    unread.toString,
                    routes.Messages.showMessages,
                    "Ga naar berichten"
                ){
                    Ongelezen @if(unread == 1) { bericht } else { berichten }
                }
            }
            @dashboardTopPanel(
                "col-lg-3",
                "fa-user",
                completeness==100,
                "Volledigheid profiel",
                routes.Profile.indexWithoutId,
                if(completeness != 100) "Vul je profiel verder aan" else "Ga naar je profiel"
            ){
                <div class="progress">
                    @if(completeness == 100){
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="@completeness" aria-valuemin="0" aria-valuemax="100" style="width : @completeness%;">@completeness% compleet</div>
                    } else {
                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="@completeness" aria-valuemin="0" aria-valuemax="100" style="width : @completeness%;">@completeness% compleet</div>
                    }
                </div>
            }
            @flashes()
        </div>
    }
}
