@(widthClass: String, faClass: String, isSuccess: Boolean, heading: String, href: Call, linkText: String)(content: Html)
<div class="@widthClass">
    <div  class="panel @if(isSuccess) { panel-success } else { panel-info } ">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-6">
                    <i class="fa @faClass fa-5x"></i>
                </div>
                <div class="col-xs-6 text-right">
                    @* TODO: combine content, remove announcement-heading *@
                    <p class="announcement-heading">@heading</p>
                    <p class="announcement-text">@content</p>
                </div>
            </div>
        </div>
        <a href="@href">
            <div class="panel-footer">
                <span class="pull-left">@linkText</span>
                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                <div class="clearfix"></div>
            </div>
        </a>
    </div>
</div>
