@* dashboardOwner.scala.html
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Copyright Ⓒ 2014-2015 Universiteit Gent
 *
 * This file is part of the Degage Web Application
 *
 * Corresponding author (see also AUTHORS.txt)
 *
 * Kris Coolsaet
 * Department of Applied Mathematics, Computer Science and Statistics
 * Ghent University
 * Krijgslaan 281-S9
 * B-9000 GENT Belgium
 *
 * The Degage Web Application is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * The Degage Web Application is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with the Degage Web Application (file LICENSE.txt in the
 * distribution).  If not, see http://www.gnu.org/licenses/.
 *@

@import data.ProfileCompleteness
@import providers.DataProvider
@import db.CurrentUser
@import java.time.LocalDate

@(headerHtml: String, pc: ProfileCompleteness, nbrOfMissingTripInfo: Int, nbrOfMissingRefuelInfo: Int, billingPeriodStartDate: LocalDate, carId: Int, carCosts: java.lang.Iterable[Integer], empty: Boolean,
    reminders: java.lang.Iterable[Reminder], emptyReminders: Boolean, ofclist: java.lang.Iterable[Calendars.OverviewForCar])

@scripts={
  @js.paginationWithTabs("Trips.showTripsPage", 2)
  @js.usesajax()
  @js.ajaxCarData()
  @js.loadCalendarEvent()
}

@stylesheets={
    @sheets("statuses")
    @sheets("reservationtable")
}

@app("Welkom", stylesheets=stylesheets, scripts=scripts){
    @breadcrumbs {
    }

    <div id="page-wrapper">
    @* Does not use maincontent because of header *@
        @dashboardHeader(headerHtml)

        @dashboardUncompleteProfile(pc)
        @dashboardUncompleteTrips(nbrOfMissingTripInfo, nbrOfMissingRefuelInfo, billingPeriodStartDate, carId)
        @dashboardCarCosts(carCosts, empty)
        <div class="row"><div id='show-unpaid-invoices'></div></div>
        <script>DegageReactPort.unpaidInvoices('show-unpaid-invoices')</script>

        <!-- <div id='show-car-fasttrack' class='well'></div> -->
        <!-- <script>DegageReactPort.reservationFastTrack('show-car-fasttrack')</script> -->

        @calendars.reservationpanelowner(ofclist)


        <div class="row">
            @flashes()
        </div>

        @foreach(ofclist) { ofc =>
            @calendars.overviewForCarPanel(ofc.name + " (deze week)", "fa-calendar", ofc, percentage=10){
                @* no header. *@
            }{
               <a class="btn btn-primary btn-sm" href="@routes.Calendars.indexWithCar(ofc.name, ofc.id)">Andere periode...</a>
               <a class="btn btn-warning btn-sm" href="@routes.WFCreate.createOld(ofc.id)">Reservatie in het verleden...</a>
            }
        }
        <h4>Reservaties / ritten</h4>
        <div id='drieskeeee'></div>
        @trips.triptabs(2)
    </div>
}
