@(user: User, reservations: List[Reservation], form: play.data.Form[Reserve.IndexModel], completeness: Int = 0,
        userWentToInfoSession: Boolean = false, approvalRequestSent: Boolean = false)

        @* Always called with current user *@
@import providers.DataProvider
@import db.CurrentUser
    @scripts = {
        <script src='@routes.Assets.at("javascripts/app/dashboard.js")'></script>
        <script src='@routes.Assets.at("javascripts/plugins/calendar.js")' type="text/javascript"></script>
        <script>
        var events = [];    // global variable used by 'document ready'-event (cf. dashboard.js)
        @for(reservation <- reservations) {
            events.push( registrationEvent(
            '@reservation.getFrom.toString("yyyy-MM-dd HH:mm")',
            '@reservation.getTo.toString("yyyy-MM-dd HH:mm")',
            "@reservation.getCar.getName",
            "@routes.Drives.details(reservation.getId).toString()"
            ) );
        }
        </script>
    }
    @stylesheets = {
        <link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/plugins/dataTables/dataTables.bootstrap.css")'>
        <link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/plugins/calendar.css")'>
    }

@app("Dashboard", stylesheets, scripts) {
<div id="page-header-wrapper">
	<ol class="breadcrumb">
		<li class="active">Dashboard</li>
	</ol>
</div>

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Dashboard</h1>
        </div>
    </div>
    @if(CurrentUser.hasFullStatus || CurrentUser.hasRole(UserRole.SUPER_USER)){
        @views.html.dashboardFullUser(user, completeness, form)
    } else {
        @views.html.dashboardRegistered(user, completeness, userWentToInfoSession, approvalRequestSent)
    }
</div>
<!-- /page-wrapper -->
}
