@* dashboardOwner.scala.html
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Copyright Ⓒ 2014-2015 Universiteit Gent
 * 
 * This file is part of the Degage Web Application
 * 
 * Corresponding author (see also AUTHORS.txt)
 * 
 * Kris Coolsaet
 * Department of Applied Mathematics, Computer Science and Statistics
 * Ghent University 
 * Krijgslaan 281-S9
 * B-9000 GENT Belgium
 * 
 * The Degage Web Application is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * The Degage Web Application is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public License
 * along with the Degage Web Application (file LICENSE.txt in the
 * distribution).  If not, see http://www.gnu.org/licenses/.
 *@

@(carName: String, lines: Iterable[Reserve.OverviewLine], completeness: Int = 0)
@import providers.DataProvider
@import db.CurrentUser
@stylesheets = {
    <link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/plugins/dataTables/dataTables.bootstrap.css")'>
    <link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/reservationtable.css")'>
}
@scripts = {
    @js.pagination("Drives.showDrivesPage", initialLoad = false)
    @drives.tabscripts(2)
}

@app("Welkom", stylesheets, scripts){
    @breadcrumbs {
    }

    @maincontent("Welkom"){
        @reserve.reservationpanelowner()

        <div class="row">
            @* Removed first two panels because info is already there *@
            @defining(DataProvider.getCommunicationProvider().getNumberOfUnreadMessages()) { unread =>
                @dashboardTopPanel(
                    "col-lg-3",
                    "fa-envelope",
                    unread==0,
                    unread.toString,
                    routes.Messages.showMessages,
                    "Ga naar berichten"
                ){
                    Ongelezen @if(unread == 1) { bericht } else { berichten }
                }
            }
            @dashboardTopPanel(
                "col-lg-3",
                "fa-user",
                completeness==100,
                "Volledigheid profiel",
                routes.Profile.indexWithoutId,
                if(completeness != 100) "Vul je profiel verder aan" else "Ga naar je profiel"
            ){
                <div class="progress">
                    @if(completeness == 100){
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="@completeness" aria-valuemin="0" aria-valuemax="100" style="width : @completeness%;">@completeness% compleet</div>
                    } else {
                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="@completeness" aria-valuemin="0" aria-valuemax="100" style="width : @completeness%;">@completeness% compleet</div>
                    }
                </div>
            }
            @flashes()
        </div>
        @reserve.overviewpanel(carName + " (deze week)", "fa-calendar", lines, percentage=10){
            @* no header. *@
        }{ <a class="btn btn-primary btn-sm" href="@routes.Reserve.overviewOwnerCar">Andere periode</a> }

        <h4>Reservaties / ritten</h4>
        @drives.drivetabs(2)
    }
}
