@* dashboardRegistered.scala.html
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Copyright Ⓒ 2014-2015 Universiteit Gent
 * 
 * This file is part of the Degage Web Application
 * 
 * Corresponding author (see also AUTHORS.txt)
 * 
 * Kris Coolsaet
 * Department of Applied Mathematics, Computer Science and Statistics
 * Ghent University 
 * Krijgslaan 281-S9
 * B-9000 GENT Belgium
 * 
 * The Degage Web Application is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * The Degage Web Application is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public License
 * along with the Degage Web Application (file LICENSE.txt in the
 * distribution).  If not, see <http://www.gnu.org/licenses/>.
 *@

@(user: User, completeness: Int, userWentToInfoSession: Boolean, approvalRequestSent: Boolean)

        @* Always called with current user *@
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                    Welkom op onze webapplicatie, @user.getFirstName! Om volwaardig lid te worden moeten als eerst nog
                    enkele stappen doorlopen worden.
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-3">
        <div  class="panel @if(userWentToInfoSession) { panel-success } else { panel-info } ">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-12">
                        <strong>1.</strong> Volg een infosessie
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12">
                        @if(userWentToInfoSession) {
                            Je bent reeds naar een infosessie geweest, werk de volgende stappen af om volwaardig
                            lid te worden.
                        } else {
                            Inschrijven voor een infosessie kan <a href="@routes.InfoSessions.showUpcomingSessions">
                                hier</a>.
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-1 visible-lg">
        <div class="triangle-right"><div></div></div>
    </div>
    <div class="col-xs-12 hidden-lg">
        <div class="triangle-down"><div></div></div><br />
    </div>
    <div class="col-lg-4 col-xs-12">
        <div class="panel @if(completeness == 100) { panel-success } else { panel-info } ">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-12">
                        <strong>2.</strong> Vul je profiel verder aan
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12 ">
                        @if(completeness != 100) {
                            De volgende zaken kan je best aanvullen voordat je je volwaardig lidmaatschap aanvraagt:
                            <ul>
                                <li>Domicilieadres</li>
                                <li>Verblijfsadres</li>
                                <li>Identiteitskaart</li>
                                <li>Rijbewijs</li>
                            </ul>
                            Je kan je profiel <a href="@routes.Profile.indexWithoutId">hier</a> wijzigen.
                        } else {
                            Je profiel is volledig ingevuld, werk de volgende stappen af om volwaardig
                            lid te worden.
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-1 visible-lg">
        <div class="triangle-right"><div></div></div>
    </div>
    <div class="col-xs-12 hidden-lg">
        <div class="triangle-down"><div></div></div><br />
    </div>
    <div class="col-lg-3 col-xs-12">
        <div class="panel @if(approvalRequestSent) { panel-success } else { panel-info } ">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-12">
                        <strong>3.</strong> Wordt volwaardig lid
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12">
                        @if(!approvalRequestSent) {
                            Tenslotte kan je het volwaardig lidmaatschap <a href="@routes.InfoSessions.requestApproval">hier</a> aanvragen.
                        } else {
                            Je aanvraag is goed verzonden en wordt verwerkt. Hierna ben je een volwaardig lid.
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
