@home("Index") {
	<div id="headerwrap">
	    <div class="container">
	        <div class="row">
	            <div class="col-lg-12 headerwrapcontent">
	                <h1>Start vanaf vandaag met autodelen!</h1>
	                <div class="centered">
	                	<a href="@routes.Login.register" class="btn btn-warning btn-lg">Registreren</a>
	                </div>
	            </div><!-- /col-lg-6 -->
	        </div><!-- /row -->
	    </div><!-- /container -->
	</div><!-- /headerwrap -->


	<div class="container">
	    <div class="row mt centered">
	        <div class="col-lg-6 col-lg-offset-3">
	            <h1>Autodelen In Enkele Stappen.</h1>
	        </div>
	    </div><!-- /row -->
	    
	    <div class="row mt centered">
	        <div class="col-lg-4">
	            <div class="numbercircle">①</div>
	            <h4>Registreer Jezelf</h4>
	            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
	        </div><!--/col-lg-4 -->

	        <div class="col-lg-4">
	            <div class="numbercircle">②</div>
	            <h4>Volg Een Infosessie</h4>
	            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>

	        </div><!--/col-lg-4 -->

	        <div class="col-lg-4">
	            <div class="numbercircle">③</div>
	            <h4>Start Met Autodelen</h4>
	            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>

	        </div><!--/col-lg-4 -->
	    </div><!-- /row -->
	</div><!-- /container -->

	<div class="container">
	    <hr>
	    <div class="row mt centered">
	        <div class="col-lg-6 col-lg-offset-3">
	            <h1>Autodelen Over Merken Heen.</h1>
	            <h3></h3>
	        </div>
	    </div><!-- /row -->

	    <! -- CAROUSEL -->
	    <div class="row mt centered">
	        <div class="col-lg-12">
	            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">	            
	              <!-- Wrapper for slides -->
	              <div class="carousel-inner">
	                <div class="item active">
	                  <img class="carlogo" src="@routes.Assets.at("images/bmw.png")" alt="BMW logo">
	                </div>
	                <div class="item">
	                  <img class="carlogo" src="@routes.Assets.at("images/volkswagen.png")" alt="Volkswagen logo">
	                </div>
	              </div>
	            </div>          
	        </div><!-- /col-lg-8 -->
	    </div><!-- /row -->
	</div><! --/container -->

	<div class="container">
	    <hr>
	    <div class="row mt centered">
	        <div class="col-lg-6 col-lg-offset-3">
	            <h1>Autodelen Is Voor Iedereen.</h1>
	            <h3>Zowel eigenaars van auto's als mensen die enkel andermans auto willen ontlenen kunnen zich bij ons aansluiten.</h3>
	        </div>
	    </div><!-- /row -->
	    
	    <div class="row mt centered">
	        <div class="col-lg-4">
	            <img class="img-circle" src="@routes.Assets.at("images/pic1.jpg")" width="140" alt="">
	            <h4>Michael</h4>
	            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
	        </div><!--/col-lg-4 -->

	        <div class="col-lg-4">
	            <img class="img-circle" src="@routes.Assets.at("images/pic2.jpg")" width="140" alt="">
	            <h4>Peter</h4>
	            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
	        </div><!--/col-lg-4 -->

	        <div class="col-lg-4">
	            <img class="img-circle" src="@routes.Assets.at("images/pic3.jpg")" width="140" alt="">
	            <h4>Angelica</h4>
	            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
	        </div><!--/col-lg-4 -->
	    </div><!-- /row -->
	</div><!-- /container -->
}
