@* detailsPanel.scala.html
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Copyright Ⓒ 2014-2015 Universiteit Gent
 * 
 * This file is part of the Degage Web Application
 * 
 * Corresponding author (see also AUTHORS.txt)
 * 
 * Kris Coolsaet
 * Department of Applied Mathematics, Computer Science and Statistics
 * Ghent University 
 * Krijgslaan 281-S9
 * B-9000 GENT Belgium
 * 
 * The Degage Web Application is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * The Degage Web Application is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public License
 * along with the Degage Web Application (file LICENSE.txt in the
 * distribution).  If not, see http://www.gnu.org/licenses/.
 *@

@(car: Car, reservation: Reservation, driveInfo: CarRide = null)

@panel("Details", "fa-bar-chart-o"){
    <div class="col-sm-6">
        <h4>Reservatie</h4>
        <dl class="dl-horizontal">
            <dt>Status</dt><dd><i>@reservation.getStatus</i></dd>
            <dt>Periode</dt>
            <dd>@Utils.toLocalizedString(reservation.getFrom) — @Utils.toLocalizedString(reservation.getUntil)</dd>
            <dt>Auto</dt>
            <dd><a href="@routes.Cars.detail(car.getId)">@car.getName (@car.getBrand @car.getType)</a></dd>
            <dt>Standplaats</dt>
            <dd>@car.getLocation</dd>
            @* TODO: make when.notblank snippet *@
            @if(reservation.getMessage != null && !reservation.getMessage.trim.isEmpty) {
                <dt>Opmerkingen</dt>
                <dd>@reservation.getMessage</dd>
            }
        </dl>
    </div>
    @if(driveInfo != null) {
        <div class="col-sm-6">
            <h4>Ritdetails</h4>
            <dl class="dl-horizontal">
                <dt>Kilometerstanden</dt>
                <dd>@driveInfo.getStartKm — @driveInfo.getEndKm</dd>
                <dt>Schade?</dt>
                <dd>@if(driveInfo.isDamaged){<span class="text-danger">Ja</span>}else{Nee}</dd>
            </dl>
        </div>
    }
}
