@* driveDetailsAsAdmin.scala.html
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Copyright Ⓒ 2014-2015 Universiteit Gent
 * 
 * This file is part of the Degage Web Application
 * 
 * Corresponding author (see also AUTHORS.txt)
 * 
 * Kris Coolsaet
 * Department of Applied Mathematics, Computer Science and Statistics
 * Ghent University 
 * Krijgslaan 281-S9
 * B-9000 GENT Belgium
 * 
 * The Degage Web Application is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * The Degage Web Application is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public License
 * along with the Degage Web Application (file LICENSE.txt in the
 * distribution).  If not, see http://www.gnu.org/licenses/.
 *@

@(reservation: Reservation, driveInfo: CarRide, car: Car, owner: User, loaner: User, previousLoaner: User, nextLoaner: User)
@import db.CurrentUser

@* only called when user is a reservation admin *@

@stdlayout("Reservatie- en ritdetails (beheer)", extrabc=breadcrumb("Ritten",routes.Drives.index())) {

    @detailsPanel(car, reservation, driveInfo)

    <!-- owner specific content -->
    @panel("Acties", "fa-pencil") {
        <div class="col-xs-12">
            @reservation.getStatus match {
                case ReservationStatus.REQUEST => {
                    <a class="btn btn-xs btn-primary" href="@routes.Drives.approveOrReject(reservation.getId)">Goed- of afkeuren ...</a>
                    <a class="btn btn-xs btn-primary" href="@routes.Drives.shortenReservation(reservation.getId)">Reservatieduur inkorten ...</a>
                    <a class="btn btn-xs btn-danger" href="@routes.Drives.cancelReservation(reservation.getId)">Reservatie annuleren</a>
                }
                case ReservationStatus.ACCEPTED => {
                    <a class="btn btn-xs btn-primary" href="@routes.Drives.shortenReservation(reservation.getId)">Reservatieduur inkorten ...</a>
                    <a class="btn btn-xs btn-danger" href="@routes.Drives.cancelReservation(reservation.getId)">Reservatie annuleren</a>
                }
                case ReservationStatus.REFUSED | ReservationStatus.CANCELLED | ReservationStatus.CANCELLED_LATE => {
                    (Geen. De reservatie is geweigerd of geannuleerd.)
                }
                case ReservationStatus.REQUEST_DETAILS => {
                    <a class="btn btn-xs btn-warning" href="@routes.Drives.newJourneyInfo(reservation.getId)">Ritdetails invullen ...</a>
                    <a class="btn btn-xs btn-primary" href="@routes.Refuels.showRefuelsForRide(reservation.getId)">Tankbeurten ...</a>
                    <a class="btn btn-xs btn-danger" href="@routes.Drives.lateCancelReservation(reservation.getId)">Schrappen</a>
                }
                case ReservationStatus.DETAILS_PROVIDED => {
                    <a class="btn btn-xs btn-primary" href="@routes.Drives.editJourneyInfo(reservation.getId)">Ritdetails aanpassen ...</a>
                    <a class="btn btn-xs btn-danger" href="@routes.Drives.approveDriveInfo(reservation.getId)">Goedkeuren ritinformatie</a>
                    <a class="btn btn-xs btn-primary" href="@routes.Refuels.showRefuelsForRide(reservation.getId)">Tankbeurten ...</a>
                }
                case ReservationStatus.FINISHED => {
                    <a class="btn btn-xs btn-primary" href="@routes.Drives.editJourneyInfo(reservation.getId)">Ritdetails aanpassen ...</a>
                    <a class="btn btn-xs btn-primary" href="@routes.Refuels.showRefuelsForRide(reservation.getId)">Tankbeurten ...</a>
                }
            }
        </div>
    }

    @panel("Verdere informatie", "fa-bar-chart-o"){
        <div class="col-lg-6">
            <h4>Eigenaar</h4>
            @userInfo(owner)
            <h4>Ontlener</h4>
            @userInfo(loaner)
        </div>

        @previousnext(previousLoaner, nextLoaner)
    }
}
