@* driveDetailsAsLoaner.scala.html
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Copyright Ⓒ 2014-2015 Universiteit Gent
 * 
 * This file is part of the Degage Web Application
 * 
 * Corresponding author (see also AUTHORS.txt)
 * 
 * Kris Coolsaet
 * Department of Applied Mathematics, Computer Science and Statistics
 * Ghent University 
 * Krijgslaan 281-S9
 * B-9000 GENT Belgium
 * 
 * The Degage Web Application is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * The Degage Web Application is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public License
 * along with the Degage Web Application (file LICENSE.txt in the
 * distribution).  If not, see http://www.gnu.org/licenses/.
 *@

@(infoForm: Form[Drives.InfoModel], reservation: Reservation, driveInfo: CarRide,
car: Car, owner: User, previousLoaner: User, nextLoaner: User, remarksForm: Form[Drives.RemarksData])
@import db.CurrentUser

@* only called when user is not the owner of the car and also not a reservation admin *@

@scripts = {
    @js.datetimepicker()
    <script type="text/javascript" src='@routes.Assets.at("javascripts/app/driveDetails.js")'></script>
    <script>
        determineReservationDates(
            "@Utils.toString(reservation.getFrom)",
            "@Utils.toString(reservation.getUntil)"
        );
    </script>
}
@stdlayout("Ritdetails", scripts=scripts,extrabc=breadcrumb("Ritten",routes.Drives.index())) {

    @detailsPanel(car, reservation, driveInfo)

    @panel("Acties", "fa-pencil") {
        <div class="col-xs-12">
            @updateButtons(reservation.getId,reservation.getStatus)
        </div>
    }

    @panel("Verdere informatie", "fa-bar-chart-o"){
        <div class="col-lg-6">
            <div class="well">
                <strong>Eigenaar</strong><br>
                <p>@userInfo(owner,reservation.getStatus)</p>
            </div>
        </div>

        @previousnext(previousLoaner, nextLoaner, reservation.getStatus)

        <!-- Both loaner and owner can edit this -->
        @if(reservation.getStatus == ReservationStatus.REQUEST_DETAILS) {
            @views.html.drives.driveInfo(infoForm, reservation, false)
        }
        @if(driveInfo != null) {
            <div id="adjustEnv" class="@if(!infoForm.hasErrors){hidden}">
                @views.html.drives.driveInfo(infoForm, reservation, true)
            </div>
        }
    }
}
