@* driveInfo.scala.html
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Copyright Ⓒ 2014-2015 Universiteit Gent
 * 
 * This file is part of the Degage Web Application
 * 
 * Corresponding author (see also AUTHORS.txt)
 * 
 * Kris Coolsaet
 * Department of Applied Mathematics, Computer Science and Statistics
 * Ghent University 
 * Krijgslaan 281-S9
 * B-9000 GENT Belgium
 * 
 * The Degage Web Application is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * The Degage Web Application is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public License
 * along with the Degage Web Application (file LICENSE.txt in the
 * distribution).  If not, see http://www.gnu.org/licenses/.
 *@

@(infoForm: play.data.Form[Drives.InfoModel], reservation: Reservation, cancelButton: Boolean)
@helper.form(routes.Drives.provideDriveInfo(reservation.getId), 'class -> "form-horizontal") {
    <div class="well">
        @formGroupNumberField(infoForm("startKm"), "Kilometerstand vóór de rit")
        @formGroupNumberField(infoForm("endKm"), "Kilometerstand na de rit")
        @formGroup(infoForm("damaged"), "Schade-opvolging") {
              @radioItem(infoForm("damaged"), "false") {
                 De auto liep geen schade op
              }
              @radioItem(infoForm("damaged"), "true") {
                De auto liep schade op (<i>een schadedossier zal aangemaakt worden waarbij je om bijkomende
                informatie gevraagd wordt</i>)
              }
        }
        @formGroupNumberField(infoForm("numberOfRefuels"), "Aantal tankbeurten")

        <div id="infoButtons" class="form-group btn-group btn-group-xs">
            <button type="submit" class="btn btn-success">Verstuur details</button>
            @if(cancelButton) {
                <button id="annulateAdjustInfo" type="button" class="btn btn-warning">Annuleren</button>
            }
        </div>

    </div>
}
