@* driveDetailsAsAdmin.scala.html
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Copyright Ⓒ 2014-2015 Universiteit Gent
 * 
 * This file is part of the Degage Web Application
 * 
 * Corresponding author (see also AUTHORS.txt)
 * 
 * Kris Coolsaet
 * Department of Applied Mathematics, Computer Science and Statistics
 * Ghent University 
 * Krijgslaan 281-S9
 * B-9000 GENT Belgium
 * 
 * The Degage Web Application is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * The Degage Web Application is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public License
 * along with the Degage Web Application (file LICENSE.txt in the
 * distribution).  If not, see http://www.gnu.org/licenses/.
 *@

@(infoForm: Form[Drives.InfoModel], reservation: Reservation, driveInfo: CarRide,
car: Car, owner: User, loaner: User, previousLoaner: User, nextLoaner: User, remarksForm: Form[Drives.RemarksData])
@import db.CurrentUser

@* only called when user isa reservation admin *@

@scripts = {
    @js.datetimepicker()
    <script type="text/javascript" src='@routes.Assets.at("javascripts/app/driveDetails.js")'></script>
    <script>
        determineReservationDates(
            "@Utils.toString(reservation.getFrom)",
            "@Utils.toString(reservation.getUntil)"
        );
    </script>
}
@stdlayout("Ritdetails (beheer)", scripts=scripts,extrabc=breadcrumb("Ritten",routes.Drives.drivesAdmin())) {

    @panel("Geselecteerde rit", "fa-bar-chart-o"){
        <div class="col-sm-4">
            <strong>Autonaam:</strong> @car.getName
        </div>
        <div class="col-sm-4">
            <strong>Merk:</strong> @car.getBrand
        </div>
        <div class="col-sm-4">
            <strong>Type:</strong> @car.getType
        </div>
        <div class="col-sm-4">
            <strong>Status:</strong> @reservation.getStatus
        </div>
        <div class="col-sm-4">
            <strong>Reservatie van:</strong> @Utils.toLocalizedString(reservation.getFrom)
        </div>
        <div class="col-sm-4">
            <strong>Reservatie tot:</strong> @Utils.toLocalizedString(reservation.getUntil)
        </div>
        <div class="col-sm-12">
            <strong>Commentaar:</strong> @reservation.getMessage
        </div>
        <!-- loaner specific content -->
            @driveDetailsLoaner(reservation)
    }

    <!-- owner specific content -->
    @if(reservation.getStatus == ReservationStatus.REQUEST) {
        @reservationAcceptPanel(reservation.getId)
    }

    @panel("Verdere informatie", "fa-bar-chart-o"){
        <div class="col-lg-6">
            <div class="well">
                <strong>Eigenaar</strong><hr />
                <p>
                    <strong>Naam:</strong> <a href="@routes.Profile.index(owner.getId)">@owner.getLastName, @owner.getFirstName</a><br />
                    <strong>E-mail:</strong> @owner.getEmail <br />
                    <strong>Tel:</strong> @if(owner.getPhone != null && !owner.getPhone.isEmpty){ @owner.getPhone } else { onbekend } <br />
                    <strong>GSM:</strong> @if(owner.getCellphone != null && !owner.getCellphone.isEmpty){ @owner.getCellphone } else { onbekend }
                </p>
            </div>
        </div>
        <div class="col-lg-6">
            <!-- well -->
            <div class="well">
                <strong>Ontlener</strong><hr />
                <p>
                    <strong>Naam:</strong> <a href="@routes.Profile.index(loaner.getId)">@loaner.getLastName, @loaner.getFirstName</a><br />
                    <strong>E-mail:</strong> @loaner.getEmail <br />
                    <strong>Tel:</strong> @if(loaner.getPhone != null && !loaner.getPhone.isEmpty){ @loaner.getPhone } else { onbekend } <br />
                    <strong>GSM:</strong> @if(loaner.getCellphone != null && !loaner.getCellphone.isEmpty){ @loaner.getCellphone } else {onbekend }
                </p>
            </div>
        </div>

        @previousnext(previousLoaner, nextLoaner)

        <!-- Both loaner and owner can edit this -->
        @if(reservation.getStatus == ReservationStatus.REQUEST_DETAILS) {
            @views.html.drives.driveInfo(infoForm, reservation, false)
        }
        @if((reservation.getStatus == ReservationStatus.DETAILS_PROVIDED || reservation.getStatus == ReservationStatus.FINISHED) && driveInfo != null) {
            <div id="showEnv" class="@if(infoForm.hasErrors){hidden}">
                <div class="well">
                    <div class="col-sm-4">
                        <strong>Kilometerstand voor rit:</strong> @driveInfo.getStartKm
                    </div>
                    <div class="col-sm-4">
                        <strong>Kilometerstand na rit:</strong> @driveInfo.getEndKm
                    </div>
                    <div class="col-sm-4">
                        <strong>Schade: </strong> @if(driveInfo.isDamaged){Ja}else{Nee}
                    </div>
                    @if(reservation.getStatus == ReservationStatus.DETAILS_PROVIDED) {
                        <div class="col-sm-4 btn-group btn-group-xs">
                            <a type="button" class="btn btn-success" href="@routes.Drives.approveDriveInfo(reservation.getId)">Goedkeuren</a>
                            <button id="adjustInfo" type="button" class="btn btn-warning">Aanpassen</button>
                        </div>
                    } else {
                        <!-- The admin can still change it -->
                        @if(reservation.getStatus == ReservationStatus.FINISHED) {
                            <div class="col-sm-4 btn-group btn-group-xs">
                                <button id="adjustInfo" type="button" class="btn btn-warning">Aanpassen</button>
                            </div>
                        }
                    }
                </div>
            </div>
            <div id="adjustEnv" class="@if(!infoForm.hasErrors){hidden}">
                @views.html.drives.driveInfo(infoForm, reservation, true)
            </div>
        }
    }
}
