@* driveDetailsLoaner.scala.html
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Copyright Ⓒ 2014-2015 Universiteit Gent
 * 
 * This file is part of the Degage Web Application
 * 
 * Corresponding author (see also AUTHORS.txt)
 * 
 * Kris Coolsaet
 * Department of Applied Mathematics, Computer Science and Statistics
 * Ghent University 
 * Krijgslaan 281-S9
 * B-9000 GENT Belgium
 * 
 * The Degage Web Application is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * The Degage Web Application is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public License
 * along with the Degage Web Application (file LICENSE.txt in the
 * distribution).  If not, see http://www.gnu.org/licenses/.
 *@

@(reservation: Reservation)
@import db.CurrentUser

@helper.form(routes.Drives.adjustDetails(reservation.getId), 'class -> "form-horizontal") {
    <div class="row">
        @* TODO: use search.datetimepicker *@
        <div id="fromadjust" class="form-group hidden col-sm-10">
            <br />
            <strong>Reservatie van:</strong>
            <div id="datetimepickerfrom" class="datetimepicker-input input-group date"
                 data-date-format="yyyy-mm-dd hh:ii" data-minute-step="5">
                <input id="input_from" name="from" class="form-control searchTextField" size="16" value='@Utils.toString(reservation.getFrom)'>
                <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
            </div><br />
        </div>
        <div id="untiladjust" class="form-group hidden col-sm-10">
            <strong>Reservatie tot:</strong>
            <div id="datetimepickeruntil" class="datetimepicker-input input-group date"
                 data-date-format="yyyy-mm-dd hh:ii" data-minute-step="5">
                <input id="input_until" name="until" class="form-control searchTextField" size="16" value='@Utils.toString(reservation.getUntil)'>
                <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
            </div>
        </div>
    </div><br />
    <!-- row -->
    <!-- /row -->
    @if(reservation.getStatus == ReservationStatus.ACCEPTED || reservation.getStatus == ReservationStatus.REQUEST) {
            @if(CurrentUser isNot reservation.getUser.getId) {
                <div class="alert alert-warning alert-dismissable">
                    Pas op! Je bent niet de bestuurder, maar ziet onderstaande knoppen toch omdat je admin bent!
                </div>
            }
        <div class="row">
            <div class="col-lg-12">
                <button id="submit" type="submit" class="hidden btn btn-xs btn-success">Aanpassen</button>
                <button id="adjust" type="button" class="btn btn-xs btn-primary">Reservatie inkorten</button>
                <a id="annulateReservation" type="button" class="btn btn-xs btn-danger" href="@routes.Drives.cancelReservation(reservation.getId)">Reservatie annuleren</a>
            </div>
        </div>
    }
}
