@* driveDetailsOwner.scala.html
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Copyright Ⓒ 2014-2015 Universiteit Gent
 * 
 * This file is part of the Degage Web Application
 * 
 * Corresponding author (see also AUTHORS.txt)
 * 
 * Kris Coolsaet
 * Department of Applied Mathematics, Computer Science and Statistics
 * Ghent University 
 * Krijgslaan 281-S9
 * B-9000 GENT Belgium
 * 
 * The Degage Web Application is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * The Degage Web Application is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public License
 * along with the Degage Web Application (file LICENSE.txt in the
 * distribution).  If not, see http://www.gnu.org/licenses/.
 *@

@(reservation: Reservation, ownerId: Int)
@import db.CurrentUser

<!-- /row -->
@if(reservation.getStatus == ReservationStatus.REQUEST) {
    @if(CurrentUser isNot ownerId) {
        <div class="alert alert-warning alert-dismissable">
            Pas op! Je bent niet de eigenaar, maar ziet onderstaande knoppen toch omdat je admin bent!
        </div>
    }
    <div class="row">
        <div class="col-xs-12">
                @helper.form(routes.Drives.setReservationStatus(reservation.getId), 'class -> "form-horizontal") {
                    <div class="row">
                        <div class="col-sm-6 col-xs-6 btn-group btn-group-xs">
                            <button type="submit" class="btn btn-xs btn-success" name="status" value="ACCEPTED">Goedkeuren</button>
                            <button type="submit" class="btn btn-xs btn-danger" name="status" value="REFUSED">Afkeuren</button>
                        </div>
                    </div><br />
                    <div class="row">
                        <div class="col-xs-12">
                            <textarea name="remarks" class="form-control" rows="3" placeholder="Reden voor de weigering/opmerkingen bij de goedkeuring"></textarea>
                        </div>
                    </div>
                }
            </div><br />
        </div>
    </div>
}
