@* newjourney.scala.html
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Copyright Ⓒ 2014-2015 Universiteit Gent
 * 
 * This file is part of the Degage Web Application
 * 
 * Corresponding author (see also AUTHORS.txt)
 * 
 * Kris Coolsaet
 * Department of Applied Mathematics, Computer Science and Statistics
 * Ghent University 
 * Krijgslaan 281-S9
 * B-9000 GENT Belgium
 * 
 * The Degage Web Application is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * The Degage Web Application is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public License
 * along with the Degage Web Application (file LICENSE.txt in the
 * distribution).  If not, see http://www.gnu.org/licenses/.
 *@

@(form: Form[Drives.JourneyDataExtended], reservation: Reservation)

@extrabc = {
    @breadcrumb("Ritten",routes.Drives.index())
    @breadcrumb("Details",routes.Drives.details(reservation.getId))
}

@stdlayout("Eerste ingave ritgegevens", extrabc=extrabc) {

    @detailsPanelPartial(reservation)

    @panel("Ingeven ritdetails", "fa-pencil") {
        @helper.form(routes.Drives.newJourneyInfoPost(reservation.getId), 'enctype -> "multipart/form-data"){
            @std.numberField(form("startKm"), "Kilometerstand - vóór de rit:", css="col-sm-6")
            @std.numberField(form("endKm"), "na de rit:", css="col-sm-6")
            @std.group(form("damaged"), "Schade-opvolging") {
                  @std.radioItem(form("damaged"), "false") {
                     De auto liep geen schade op
                  }
                  @std.radioItem(form("damaged"), "true") {
                    De auto liep schade op (<i>een schadedossier zal aangemaakt worden waarbij je om bijkomende
                    informatie gevraagd wordt</i>)
                  }
            }

            @std.textField(form("amount"), "Tankbeurt - bedrag in Euro (bv. 13,75):", css="col-sm-6")
            @std.fileField(form("picture"), "bonnetje als bewijsstuk:")
            @std.textField(form("km"), "Kilometerstand bij tanken", css="col-sm-6")
            @std.textField(form("fuelAmount"), "Aantal liters getankt", css="col-sm-6")
            <div class="col-xs-12">
                <p>(Tankbeurten kunnen ook later nog afzonderlijk worden ingegeven. Je hoeft dit niet meteen te doen.)</p>
            </div>

            @if(Drives.isOwnerOrAdmin(reservation)){
                @std.submitButton("Doorsturen (en meteen goedkeuren)")
            } else {
                <div class="col-xs-12">
                    <p class="alert alert-danger"><strong>Opgelet!</strong> Na het doorsturen kan deze informatie
                    niet meer gemakkelijk worden gewijzigd. Controleer dus of je geen (tik)fouten gemaakt hebt.</p>
                </div>
                @std.submitButton("Doorsturen")
            }
        }
    }
}
