@*
*@

@(title: String)

@import db.CurrentUser

@* <li class="submenu">LENER</li> *@

@if(!CurrentUser.hasFullStatus){
    @item(title, "Infosessies", "fa-lightbulb-o", routes.InfoSessions.showUpcomingSessions)
}
@if(CurrentUser.hasRole(UserRole.CAR_USER)){
    @item(title, "Ritten", "fa-car", routes.Drives.index(),
          extra= Drives.reservationsWithStatus(ReservationStatus.REQUEST, false) +
                 Drives.reservationsWithStatus(ReservationStatus.REQUEST_DETAILS, true) +
                 Drives.reservationsWithStatus(ReservationStatus.DETAILS_PROVIDED, false)
    )
    @item(title,  "Tankbeurten", "fa-beer", routes.Refuels.showRefuels)
@* TODO: incorporate these
    @item(title,  "Afrekeningen", "fa-money", routes.Receipts.index)
    @item(title, "Schadedossiers", "fa-tasks" , routes.Damages.showDamages,
          extra= Damages.openDamages()
    )

    ALSO: showDamages: dispatch on user type
*@
}
