@* receiptspage.scala.html
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Copyright Ⓒ 2014-2015 Universiteit Gent
 * 
 * This file is part of the Degage Web Application
 * 
 * Corresponding author (see also AUTHORS.txt)
 * 
 * Kris Coolsaet
 * Department of Applied Mathematics, Computer Science and Statistics
 * Ghent University 
 * Krijgslaan 281-S9
 * B-9000 GENT Belgium
 * 
 * The Degage Web Application is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * The Degage Web Application is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public License
 * along with the Degage Web Application (file LICENSE.txt in the
 * distribution).  If not, see http://www.gnu.org/licenses/.
 *@

@(receipts: List[Receipt], page : Int, amountOfResults : Int, amountOfPages : Int)
@import providers.DataProvider;
@import providers.UserProvider;
<table class="table table-striped table-bordered table-hover no-footer" id="dataTables-users">
    <thead>
        <tr role="row">
            <th name="receipt_name" class="sortable" tabindex="0" >Naam</th>
            <th name="receipt_price" class="sortable" tabindex="0" >Bedrag</th>
            <th name="receipt_date" class="sortable" tabindex="0" >Datum</th>
            <th>Acties</th>
        </tr>
    </thead>
    <tbody>
        @if(receipts.isEmpty) {
            <tr>
                <td style="text-align: center; background-color: #F0F0F0; padding: 8px;" colspan="6">
                    Er zijn geen rekeningen.
                </td>
            </tr>
        } else {
                @for(receipt <- receipts) {
                    <tr>
                        <td>@receipt.getName</td>
                        <td>@receipt.getPrice</td>
                        <td>@Utils.toLocalizedDateString(receipt.getDate)</td>
                        <td>
                            <div class="btn-group btn-group-xs">
				@if(receipt.getFiles()!=null) {
                                    <a class="btn btn-primary" href=@receipt.getFiles.getPath()>Bekijk</a>
				}
                            </div>
                        </td>
                    </tr>
                }
        }
    </tbody>
</table>
<p id="pagination" name="@amountOfResults,@amountOfPages"></p>
