@* columns.scala.html
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Copyright Ⓒ 2014-2015 Universiteit Gent
 * 
 * This file is part of the Degage Web Application
 * 
 * Corresponding author (see also AUTHORS.txt)
 * 
 * Kris Coolsaet
 * Department of Applied Mathematics, Computer Science and Statistics
 * Ghent University 
 * Krijgslaan 281-S9
 * B-9000 GENT Belgium
 * 
 * The Degage Web Application is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * The Degage Web Application is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public License
 * along with the Degage Web Application (file LICENSE.txt in the
 * distribution).  If not, see http://www.gnu.org/licenses/.
 *@

@(refuel : Refuel, isAdmin: Boolean)

@* Last four columns of a refuel table *@
@* TODO: split according to driver/owner/admin *@

<td>@data.EurocentAmount.toString(refuel.getEurocents)</td>
<td>@refuel.getAmount</td>
<td>@refuel.getKm</td>
<td>@statusname(refuel.getStatus)</td>
<td>
    <a class="btn btn-primary btn-xs" href="@routes.Refuels.showDetails(refuel.getId)">Details</a>
    @if(isAdmin) {
        @if(refuel.getStatus == RefuelStatus.REQUEST) {
            <a type="button" class="btn btn-xs btn-primary"
               href="@routes.RefuelApprove.approveOrReject(refuel.getId, false)">Goed- of afkeuren ...</a>
        }
    }
</td>

