@* columns.scala.html
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Copyright Ⓒ 2014-2015 Universiteit Gent
 * 
 * This file is part of the Degage Web Application
 * 
 * Corresponding author (see also AUTHORS.txt)
 * 
 * Kris Coolsaet
 * Department of Applied Mathematics, Computer Science and Statistics
 * Ghent University 
 * Krijgslaan 281-S9
 * B-9000 GENT Belgium
 * 
 * The Degage Web Application is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * The Degage Web Application is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public License
 * along with the Degage Web Application (file LICENSE.txt in the
 * distribution).  If not, see http://www.gnu.org/licenses/.
 *@

@(refuel : Refuel, isAdmin: Boolean)

@* Last four columns of a refuel table *@
@* TODO: split according to driver/owner/admin *@

@import db.CurrentUser
<td>@data.EurocentAmount.toString(refuel.getEurocents)</td>
<td>
    @refuel.getStatus match {
        case RefuelStatus.ACCEPTED => {
            <span class="fa fa-check-circle"></span>
        }
        case RefuelStatus.REFUSED => {
            <span class="fa fa-minus-circle"></span>
        }
        case RefuelStatus.REQUEST => {
            <span class="fa fa-question-circle"></span>
        }
        case _ => {}
    }
    @refuel.getStatus
</td>
<td>
    <div class="btn-group btn-group-xs">
        <a class="btn btn-primary" href="@routes.Refuels.getProof(refuel.getId)" target="_blank">Link</a>
    </div>
</td>

<td>
@if((CurrentUser is refuel.getCarRide.getReservation.getOwnerId) || isAdmin) {
    @refuel.getStatus match {
        case RefuelStatus.ACCEPTED => {
            <a type="button" class="btn btn-xs btn-warning" href="@routes.Refuels.refuseRefuel(refuel.getId)">Afkeuren</a>
        }
        case RefuelStatus.REFUSED => {
            <a type="button" class="btn btn-xs btn-success" href="@routes.Refuels.approveRefuel(refuel.getId)">Goedkeuren</a>
        }
        case RefuelStatus.REQUEST => {
            <a type="button" class="btn btn-xs btn-success" href="@routes.Refuels.approveRefuel(refuel.getId)">Goedkeuren</a>
            <a type="button" class="btn btn-xs btn-warning" href="@routes.Refuels.refuseRefuel(refuel.getId)">Afkeuren</a>
        }
        case _ => {}
    }
}
</td>

