@* refuelspage.scala.html
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Copyright Ⓒ 2014-2015 Universiteit Gent
 * 
 * This file is part of the Degage Web Application
 * 
 * Corresponding author (see also AUTHORS.txt)
 * 
 * Kris Coolsaet
 * Department of Applied Mathematics, Computer Science and Statistics
 * Ghent University 
 * Krijgslaan 281-S9
 * B-9000 GENT Belgium
 * 
 * The Degage Web Application is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * The Degage Web Application is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public License
 * along with the Degage Web Application (file LICENSE.txt in the
 * distribution).  If not, see http://www.gnu.org/licenses/.
 *@

@(refuelList: List[Refuel], page : Int, amountOfResults : Int, amountOfPages : Int)
@import org.joda.time.format.DateTimeFormat
@import providers.DataProvider
@import db.CurrentUser
@defining(CurrentUser.hasRole(UserRole.CAR_ADMIN)) { isAdmin =>
    @defining(DataProvider.getUserProvider().getUser()) { user =>
        <table class="table table-striped table-bordered table-hover no-footer" id="dataTables-refuels">
            <thead>
                <tr role="row">
                    <th>Auto</th>
                    <th>Autorit</th>
                    <th>Bestuurder</th>
                    <th>Bedrag</th>
                    <th>Status</th>
                    <th>Bewijs</th>
                    <th>Acties</th>
                </tr>
            </thead>
            <tbody>
            @if(refuelList.isEmpty) {
                <tr>
                    <td style="text-align : center ; background-color : #F0F0F0 ; padding : 8 px ;" colspan="7">
                        Je hebt momenteel geen tankbeurten in het systeem. Deze zullen automatisch worden aangevuld na het invullen van ritdetails.
                    </td>
                </tr>
            } else {
                @for(refuel <- refuelList) {
                    <tr>
                        <td><a href="@routes.Cars.detail(refuel.getCarRide.getReservation.getCar.getId)">@refuel.getCarRide.getReservation.getCar.getName</a></td>
                        <td><a href="@routes.Drives.details(refuel.getCarRide.getReservation.getId)">@Utils.toLocalizedDateString(refuel.getCarRide.getReservation.getFrom)</a></td>
                        <td><a href="@routes.Profile.index(refuel.getCarRide.getReservation.getUserId)">@refuel.getCarRide.getReservation.getUser</a></td>
                        @if(refuel.getStatus == RefuelStatus.CREATED) {
                            <td colspan="4">
                                <div class="btn-group btn-group-xs">
                                    <button class="btn btn-primary" onclick="loadModal(@refuel.getId)">@refuel.getStatus</button>
                                </div>
                            </td>

                        } else {
                            <td>@data.EurocentAmount.toString(refuel.getEurocents)</td>
                            <td>
                                @refuel.getStatus match {
                                    case RefuelStatus.ACCEPTED => {
                                        <span class="fa fa-check-circle"></span>
                                    }
                                    case RefuelStatus.REFUSED => {
                                        <span class="fa fa-minus-circle"></span>
                                    }
                                    case RefuelStatus.REQUEST => {
                                        <span class="fa fa-question-circle"></span>
                                    }
                                    case _ => {}
                                }
                                @refuel.getStatus
                            </td>
                            <td>
                                <div class="btn-group btn-group-xs">
                                    <a class="btn btn-primary" href="@routes.Refuels.getProof(refuel.getProof.getId)" target="_blank">Link</a>
                                </div>

                            </td>

                            <td>
                            @if(refuel.getCarRide.getReservation.getCar.getOwner.getId == user.getId || isAdmin) {
                                @refuel.getStatus match {
                                    case RefuelStatus.ACCEPTED => {
                                        <a type="button" class="btn btn-xs btn-warning" href="@routes.Refuels.refuseRefuel(refuel.getId)">Afkeuren</a>
                                        <a type="button" class="btn btn-xs btn-info" href="@routes.Refuels.makeRefuelStatusRequest(refuel.getId)">Onbeslist zetten</a>
                                    }
                                    case RefuelStatus.REFUSED => {
                                        <a type="button" class="btn btn-xs btn-success" href="@routes.Refuels.approveRefuel(refuel.getId)">Goedkeuren</a>
                                        <a type="button" class="btn btn-xs btn-info" href="@routes.Refuels.makeRefuelStatusRequest(refuel.getId)">Onbeslist zetten</a>
                                    }
                                    case RefuelStatus.REQUEST => {
                                        <a type="button" class="btn btn-xs btn-success" href="@routes.Refuels.approveRefuel(refuel.getId)">Goedkeuren</a>
                                        <a type="button" class="btn btn-xs btn-warning" href="@routes.Refuels.refuseRefuel(refuel.getId)">Afkeuren</a>
                                    }
                                    case _ => {}
                                }
                            }
                             @if(refuel.getCarRide.getReservation.getUserId == user.getId || isAdmin) {
                                @if(refuel.getStatus == RefuelStatus.REQUEST){
                                    <div class="btn-group btn-group-xs">
                                        <button class="btn btn-primary" onclick="loadModal(@refuel.getId)">Bewijs wijzigen</button>
                                    </div>
                                }
                            }

                            </td>
                        }

                    </tr>
                }
            }
            </tbody>
        </table>
        <p id="pagination" name="@amountOfResults,@amountOfPages"></p>
    }
}
