@* refuelsForTrip.scala.html
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Copyright Ⓒ 2014-2015 Universiteit Gent
 * 
 * This file is part of the Degage Web Application
 * 
 * Corresponding author (see also AUTHORS.txt)
 * 
 * Kris Coolsaet
 * Department of Applied Mathematics, Computer Science and Statistics
 * Ghent University 
 * Krijgslaan 281-S9
 * B-9000 GENT Belgium
 * 
 * The Degage Web Application is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * The Degage Web Application is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public License
 * along with the Degage Web Application (file LICENSE.txt in the
 * distribution).  If not, see http://www.gnu.org/licenses/.
 *@

@(form: Form[RefuelCommon.RefuelData], refuelList: Iterable[Refuel], trip: TripAndCar)

@extrabc = {
    @breadcrumb("Ritten",routes.Trips.index())
    @breadcrumb("Details",routes.Trips.details(trip.getId)) @* TODO: differentiate between admin / not admin *@
}

@stdlayout("Tankbeurten (rit)", stylesheets=sheets("statuses"), extrabc=extrabc){

    @trips.detailsPanel(trip)

    @panel("Tankbeurten"){
        <div class="table-responsive col-xs-12">
            <table class="table table-striped table-bordered table-hover no-footer" id="dataTables-refuels">
                <thead>
                    <tr role="row">
                        <th>Bedrag</th>
                        <th>Liters</th>
                        <th>Km-stand</th>
                        <th>Status</th>
                        <th>Acties</th>
                    </tr>
                </thead>
                @defining(db.CurrentUser.hasRole(UserRole.RESERVATION_ADMIN)){ isAdmin =>
                    <tbody>
                        @foreach.trOrElse(refuelList)( refuel => columns(refuel,isAdmin)) {
                        <tr>
                            <td colspan="5" class="empty-row">
                                (Geen geregistreerde tankbeurten)
                            </td>
                        </tr>
                    }
                    </tbody>
                }
            </table>
        </div>
    }

    @panel("Nieuwe tankbeurt", "fa-pencil") {
        @helper.form(routes.RefuelCreate.doCreate(trip.getId, false), 'enctype -> "multipart/form-data"){
            @std.textField(form("amount"), "Bedrag in Euro (bv. 13,75)", css="col-sm-6")
            @std.fileField(form("picture"), "bonnetje als bewijsstuk:")
            @std.textField(form("km"), "Kilometerstand bij tanken", css="col-sm-6")
            @std.textField(form("fuelAmount"), "Aantal liters getankt", css="col-sm-6")
            <div class="col-xs-12"><p>(Alle velden zijn verplicht)</p></div>
            @if(WFCommon.isOwnerOrAdmin(trip)){
                @std.submitButton("Doorsturen (en meteen goedkeuren)")
            } else {
                <div class="col-xs-12">
                    <p class="alert alert-danger">
                    <strong>Opgelet!</strong> Na het doorsturen kan deze informatie
                    niet meer gemakkelijk worden gewijzigd. Controleer dus of je geen (tik)fouten gemaakt hebt en of je wel
                        het juiste scan- of
                        afbeeldingsbestand hebt geselecteerd.</p>
                </div>
                @std.submitButton("Doorsturen")
            }
        }
    }
}
