@* refuelspage.scala.html
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Copyright Ⓒ 2014-2015 Universiteit Gent
 * 
 * This file is part of the Degage Web Application
 * 
 * Corresponding author (see also AUTHORS.txt)
 * 
 * Kris Coolsaet
 * Department of Applied Mathematics, Computer Science and Statistics
 * Ghent University 
 * Krijgslaan 281-S9
 * B-9000 GENT Belgium
 * 
 * The Degage Web Application is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * The Degage Web Application is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public License
 * along with the Degage Web Application (file LICENSE.txt in the
 * distribution).  If not, see http://www.gnu.org/licenses/.
 *@

@(refuelList: Page[RefuelExtended], asc : Int, orderBy : String)

@defining(db.CurrentUser.hasRole(UserRole.CAR_ADMIN)) { isAdmin =>
    <table class="table table-striped table-bordered table-hover no-footer" id="dataTables-refuels">
        <thead>
            <tr role="row">
                <th>Auto</th>
                <th class="sortable" name="from">Autorit</th>
                <th class="sortable" name="driver">Bestuurder</th>
                <th class="sortable" name="amount">Bedrag</th>
                <th class="sortable" name="liter">Liters</th>
                <th class="sortable" name="km">Km-stand</th>
                <th class="sortable" name="status">Status</th>
                <th>Acties</th>
            </tr>
        </thead>
        <tbody>
            @foreach.trOrElse(refuelList) { refuel =>
                <td><a href="@routes.Cars.detail(refuel.getCarId)">@refuel.getCarName</a></td>
                <td><a href="@routes.Trips.details(refuel.getReservationId)">@Utils.toLocalizedDateString(refuel.getReservationFrom)</a></td>
                <td><a href="@routes.Profile.index(refuel.getDriverId)">@refuel.getDriverName</a></td>
                @columns(refuel,isAdmin)
            }{
                <tr>
                    <td class="empty-row" colspan="7">
                        Geen resultaten.
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @pagination(refuelList)
}
