@*
*@

@(car: Car, reservation: Reservation)

@stdlayout("Tankbeurten (rit)"){

    @drives.detailsPanel(car, reservation)

    @panel("Tankbeurten"){
        <div class="table-responsive col-xs-12">
            <table class="table table-striped table-bordered table-hover no-footer" id="dataTables-refuels">
                <thead>
                    <tr role="row">
                        <th>Bedrag</th>
                        <th>Status</th>
                        <th>Bonnetje</th>
                        <th>Acties</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="4" class="single-row">
                            (Geen geregistreerde tankbeurten)
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    }
}
