@* refuelsAdmin.scala.html
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Copyright Ⓒ 2014-2015 Universiteit Gent
 * 
 * This file is part of the Degage Web Application
 * 
 * Corresponding author (see also AUTHORS.txt)
 * 
 * Kris Coolsaet
 * Department of Applied Mathematics, Computer Science and Statistics
 * Ghent University 
 * Krijgslaan 281-S9
 * B-9000 GENT Belgium
 * 
 * The Degage Web Application is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * The Degage Web Application is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public License
 * along with the Degage Web Application (file LICENSE.txt in the
 * distribution).  If not, see http://www.gnu.org/licenses/.
 *@

@scripts = {
    @js.usesajax()
    @js.pagination("Refuels.showAllRefuelsPage")
    @js.userpicker()
    <script src='@routes.Assets.at("javascripts/app/refuelInfo.js")'></script>
}
@app("Tankbeurten (Admin)", scripts=scripts) {
    <div id="page-header-wrapper">
        <ol class="breadcrumb">
            <li><a href="@routes.Application.index">Dashboard</a></li>
            <li class="active">Tankbeurten (Admin)</li>
        </ol>
    </div>

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Tankbeurten (Admin)</h1>
                @flashes()

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-bar-chart-o fa-task"></i> Tankbeurten
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <p>
                                    Hier kan je als admin alle tankbeurten zien en die eventueel wijzigen.
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            @search.carpicker("refuel_car_id", "Auto")
                            @search.userpicker("refuel_owner_id", "Eigenaar")
                            @search.userpicker("refuel_user_id", "Bestuurder")
                            @search.button ("Zoek!")
                        </div>
                    </div>
                        <!-- /.panel-body -->
                </div>
                @resultsTablePanel()

            </div>
                <!-- /col-lg-12 -->
        </div>
            <!-- /row -->
    </div>
    <!-- /page-wrapper -->
    <div id="resultModal"></div>
}
