@* refuelspage.scala.html
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Copyright Ⓒ 2014-2015 Universiteit Gent
 * 
 * This file is part of the Degage Web Application
 * 
 * Corresponding author (see also AUTHORS.txt)
 * 
 * Kris Coolsaet
 * Department of Applied Mathematics, Computer Science and Statistics
 * Ghent University 
 * Krijgslaan 281-S9
 * B-9000 GENT Belgium
 * 
 * The Degage Web Application is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * The Degage Web Application is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public License
 * along with the Degage Web Application (file LICENSE.txt in the
 * distribution).  If not, see http://www.gnu.org/licenses/.
 *@

@(refuelList: Iterable[Refuel], page : Int, amountOfResults : Int, amountOfPages : Int)
@import providers.DataProvider
@import db.CurrentUser
@defining(CurrentUser.hasRole(UserRole.CAR_ADMIN)) { isAdmin =>
        <table class="table table-striped table-bordered table-hover no-footer" id="dataTables-refuels">
            <thead>
                <tr role="row">
                    <th>Auto</th>
                    <th>Autorit</th>
                    <th>Bestuurder</th>
                    <th>Bedrag</th>
                    <th>Status</th>
                    <th>Bewijs</th>
                    <th>Acties</th>
                </tr>
            </thead>
            <tbody>
                @foreach.orElse(refuelList) { refuel =>
                    <tr>
                        <td><a href="@routes.Cars.detail(refuel.getCarRide.getReservation.getCar.getId)">@refuel.getCarRide.getReservation.getCar.getName</a></td>
                        <td><a href="@routes.Drives.details(refuel.getCarRide.getReservation.getId)">@Utils.toLocalizedDateString(refuel.getCarRide.getReservation.getFrom)</a></td>
                        <td><a href="@routes.Profile.index(refuel.getCarRide.getReservation.getUserId)">@refuel.getCarRide.getReservation.getUser</a></td>
                        @columns(refuel,isAdmin)
                    </tr>
                }{
                    <tr>
                        <td class="single-row" colspan="7">
                            Geen resultaten.
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <p id="pagination" name="@amountOfResults,@amountOfPages"></p>
}
