
@(list: Iterable[PaymentUserStatistic])

@scripts = {
    @js.pagination("PaymentStatistics.showUserStatsPage")
    @js.userpicker()
}

@stdlayout("Debiteurenbeheer", scripts=scripts) {

    @panel("Debiteurenbeheer", "fa-bar-chart") {
        <div class="col-xs-12">
            @btnPrimary("Afrekeningen", routes.Invoices.getAll())
            @btnPrimary("Betalingen", routes.Payments.getAll())
            @btnPrimary("Coda uploaden", routes.Codas.uploadCoda())
            @btnPrimary("Rappels", routes.Reminders.getAll())
            @btnPrimary("Statistieken", routes.PaymentStatistics.getStats())
            @btnPrimary("Statistieken per gebruiker", routes.PaymentStatistics.getUserStats())
        </div>
    }

    @panel("Betalings statistieken zoeken", "fa-search"){
        @search.userpicker("user_id", "Gebruiker", "col-xs-6")
        @search.button("Zoek!", "col-xs-6")
    }

    @resultsTablePanel("Gebruikers statistieken", "fa-file")

}
