.eclipse
.history
.settings
.idea
.idea_modules
/etc/
/lib/
/logs/
/modules
/project/project
/project/target
/target
tmp/
test-result
server.pid
*.iml
*.eml
/dist/
.cache
*.class
*.jar
*.war
*.ear
*~
