@* test.scala.html
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Copyright Ⓒ 2014-2015 Universiteit Gent
 * 
 * This file is part of the Degage Web Application
 * 
 * Corresponding author (see also AUTHORS.txt)
 * 
 * Kris Coolsaet
 * Department of Applied Mathematics, Computer Science and Statistics
 * Ghent University 
 * Krijgslaan 281-S9
 * B-9000 GENT Belgium
 * 
 * The Degage Web Application is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * The Degage Web Application is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public License
 * along with the Degage Web Application (file LICENSE.txt in the
 * distribution).  If not, see http://www.gnu.org/licenses/.
 *@

@(message: String)

@* Tests the production of PDF from a XHTML template - cf. https://github.com/innoveit/play2-pdf/ *@

<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
        <title>PDF Sample</title>
        <link rel="stylesheet" media="print" href="public/stylesheets/pdf.css" />
    </head>
    <body>
        <div class="footer">Footer on every page</div>
        <div class="header">Header on every page</div>
        <div class="content">
            Local image: <img src="public/images/degagelogo.png"/><br/>
            Remote image: <img src="http://www.degage.be/website/140615/foto1.jpg"/><br/>
            Hello world! <br/>
            @message <br/>
            <div class="blue">
                This is blue text
            </div>
            <table border="1">
                <tr>
                    <td>1</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>4</td>
                </tr>
            </table>
            <div>
                German characters: öäüßÖÄÜ
            </div>
        </div>
    </body>
</html>
