@* userspage.scala.html
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Copyright Ⓒ 2014-2015 Universiteit Gent
 * 
 * This file is part of the Degage Web Application
 * 
 * Corresponding author (see also AUTHORS.txt)
 * 
 * Kris Coolsaet
 * Department of Applied Mathematics, Computer Science and Statistics
 * Ghent University 
 * Krijgslaan 281-S9
 * B-9000 GENT Belgium
 * 
 * The Degage Web Application is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * The Degage Web Application is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public License
 * along with the Degage Web Application (file LICENSE.txt in the
 * distribution).  If not, see http://www.gnu.org/licenses/.
 *@

@(users: Iterable[UserRoles.UserWithRoles], amountOfResults : Int, amountOfPages : Int)
@import scala.collection.mutable.Map;
<table class="table table-striped table-bordered table-hover no-footer" id="dataTables-userroles">
    <thead>
        <tr role="row">
            <th name="user_name" class="sortable" tabindex="0" >Naam</th>
            <th>Rollen</th>
            <th>Acties</th>
        </tr>
    </thead>
    <tbody>
        @if(!users.iterator.hasNext) {
            <tr>
                <td class="empty-row" colspan="6">
                    Geen enkele gebruiker voldoet aan jouw zoekterm(men)
                </td>
            </tr>
        } else {
            @foreach.tr(users) { user =>
                <td><a href="@routes.Profile.index(user.id)">@user.fullName</a></td>
                <td>
                    @foreach(user.roleSet){ role =>
                        <span class="label label-@(role.name.toLowerCase)">@role</span>
                    }
                </td>
                <td>
                    <div class="btn-group btn-group-xs">
                        <a href="@routes.UserRoles.edit(user.id)" class="btn btn-primary">Rollen bewerken</a>
                    </div>
                </td>
            }
        }
    </tbody>
</table>
<p id="pagination" name="@amountOfResults,@amountOfPages"></p>
