@* userspage.scala.html
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Copyright Ⓒ 2014-2015 Universiteit Gent
 * 
 * This file is part of the Degage Web Application
 * 
 * Corresponding author (see also AUTHORS.txt)
 * 
 * Kris Coolsaet
 * Department of Applied Mathematics, Computer Science and Statistics
 * Ghent University 
 * Krijgslaan 281-S9
 * B-9000 GENT Belgium
 * 
 * The Degage Web Application is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * The Degage Web Application is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public License
 * along with the Degage Web Application (file LICENSE.txt in the
 * distribution).  If not, see http://www.gnu.org/licenses/.
 *@

@(users: Page[User], tab: String)
@import db.CurrentUser
<table class="table table-striped table-bordered table-hover no-footer" id="dataTables-users">
    <thead>
        <tr role="row">
            <th name="name" class="sortable" tabindex="0" >Naam</th>
            <th name="date" class="sortable" tabindex="1" >
                @tab match {
                    case "FULL" => {Start lidmaatschap}
                    case "FULL_VALIDATING" => {Lidmaatschap aangevraagd}
                    case "REGISTERD_INFO_PRESENT" => {Datum infosessie}
                    case "REGISTERD_INFO_NOT_PRESENT" => {Registratiedatum}
                    case "BLOCKED" => {Datum blokkering}
                    case "DROPPED" => {Datum verwijdering}
                }
            </th>
            <th>Acties</th>
        </tr>
    </thead>
    <tbody>
        @foreach.trOrElse(users) { user =>
            <td><a href="@routes.Profile.index(user.getId)">@user.getFullName</a></td>
            <td>
                @tab match {
                    case "FULL" => {@user.getDateJoined}
                    case "FULL_VALIDATING" => {@user.getDateApprovalSubmitted}
                    case "REGISTERD_INFO_PRESENT" => {@user.getDateSessionAttended}
                    case "REGISTERD_INFO_NOT_PRESENT" => {@user.getDateCreated}
                    case "BLOCKED" => {@user.getDateBlocked}
                    case "DROPPED" => {@user.getDateDropped}
                }
            </td>
            <td>
                <div class="btn-group btn-group-xs">
                    @if(CurrentUser.hasRole(UserRole.SUPER_USER) && user.canLogin) {
                        @btnWarning("Impersoneer", routes.Users.impersonate(user.getId))
                        @btnWarning("Contract", routes.Contracts.contract(user.getId, Users.REF_USERS))
                        @btnPrimary("Afrekeningen", routes.Billings.list(user.getId))
                    }
                </div>
            </td>
        }{ @noresults() }
    </tbody>
</table>
@pagination(users)

