@* users.scala.html
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Copyright Ⓒ 2014-2015 Universiteit Gent
 * 
 * This file is part of the Degage Web Application
 * 
 * Corresponding author (see also AUTHORS.txt)
 * 
 * Kris Coolsaet
 * Department of Applied Mathematics, Computer Science and Statistics
 * Ghent University 
 * Krijgslaan 281-S9
 * B-9000 GENT Belgium
 * 
 * The Degage Web Application is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * The Degage Web Application is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public License
 * along with the Degage Web Application (file LICENSE.txt in the
 * distribution).  If not, see http://www.gnu.org/licenses/.
 *@

@import providers.DataProvider;

@scripts = {
    @js.usesajax()
    @js.pagination("Users.showUsersPage")
}
@stylesheets = {
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/plugins/dataTables/dataTables.bootstrap.css")">
}

@app("Gebruikers", stylesheets, scripts) {
    <div id="page-header-wrapper">
        <ol class="breadcrumb">
            <li><a href="@routes.Application.index">Dashboard</a></li>
            <li class="active">Gebruikers</li>
        </ol>
    </div>

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Gebruikers</h1>
                @flashes()
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-bar-chart-o fa-fw"></i> Gebruikers zoeken
                    </div>
                        <!-- /.panel-heading -->
                    <div class="panel-body">
                            <!-- TODO: layout, more fields to search on -->
                        <div class="row">
                            <div class="col-xs-6">
                                <input id="user_firstname" class="searchTextField form-control" name="user_firstname" type="text" placeholder="Voornaam">
                            </div>
                            <div class="col-xs-6">
                                <input id="user_lastname" class="searchTextField form-control" name="user_lastname" type="text" placeholder="Achternaam">
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-xs-4">
                                <div class="btn-group btn-group">
                                    <button id="searchButton" class="btn btn-success">Zoek</button>
                                </div>
                            </div>
                        </div>
                    </div>
                        <!-- /.panel-body -->
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-bar-chart-o fa-fw"></i> Gebruikers
                    </div>
                        <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div id="resultsTable" class="table-responsive">
                                <!-- Here comes the loaded table-->
                        </div>
                    </div>
                        <!-- /.panel-body -->
                </div>
                    <!-- /.panel -->
            </div>
                <!-- /col-lg-12 -->
        </div>
            <!-- /row -->
    </div>
    <!-- /page-wrapper -->
}
